Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-10, with the labels that each got.

#992 Space Dragon Gib/Butchering Fixes
  Content.Server/Devour/DevourSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Type: Port

#947 Undo Accidental Revert Of Rampant Brand Intelligence
  Content.Server/Antag/MobReplacementRuleSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#997 Fix Markings Menu
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#973 Uncomment Immovable Rod
  Content.Server/ImmovableRod/ImmovableRodComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#993 Harpy Guidebook
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
Labels: Changes: Documentation, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#989 Fix Command Dumping To Uncategorized
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/command.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/quarterMaster.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/researchDirector.yml
Labels: Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review

#981 More Kemonomimi Markings
  Resources/Locale/en-US/markings/Kemonomimi_tails.ftl
  Resources/Locale/en-US/markings/kemonomimi_ears.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/bullishhorns.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/bunnyearstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/bunnyearstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/foxears.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/goathornstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/goathornstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/meta.json
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/bunnytail.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/doblefurtailtone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/doblefurtailtone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/fluffytail.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxninetailstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxninetailstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxthreetailstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxthreetailstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxtwotailstone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/foxtwotailstone2.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/horsetailculty.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/horsetaillong.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/meta.json
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/sharktail.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/tasseltailtone1.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/tasseltailtone2.png
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite

#982 Vent Spawn Fix
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1000 Uncomment Grapple And Tether Guns
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: YML

#986 Fix Mail Doors
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#991 Anomalist Power System
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Bluespace.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Electricity.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.EntitySpawn.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Explosion.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.GasProducer.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Gravity.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Injection.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Puddle.cs
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.Pyroclastic.cs
  Content.Server/Abilities/Psionics/AnomalyPowerSystem.cs
  Content.Shared/Actions/Events/AnomalyPowerActionEvent.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review

#747 Add LocalizedPrototype Type
  Content.Shared/Prototypes/LocalizedPrototype.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Type: Codebase, Status: Awaiting Merge

#1002 Telekinetic Pulse Power
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.GasProducer.cs
  Content.Server/Abilities/Psionics/AnomalyPowerSystem.cs
  Content.Shared/Actions/Events/AnomalyPowerActionEvent.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
  Resources/Textures/Interface/Actions/psionics.rsi/telekinetic_pulse.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 1-Urgent, Changes: Sprite, Status: Needs Review

#998 Port Respawn System
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/ghost/ghost-respawn.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Size: 4-Small, Priority: 3-Medium, Type: Port, Status: Awaiting Merge

#1004 Nerf the Fuck Out of Winter Boots
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1007 Blood Regeneration Affects Hunger/Thirst
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Events/NaturalBloodRegenerationAttemptEvent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Traits/BloodDeficiencyComponent.cs
  Content.Server/Traits/BloodDeficiencySystem.cs
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#1008 Unathi Lore Update
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/ServerInfo/Guidebook/Mobs/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
Labels: Changes: Localization, Changes: Documentation, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#1009 Update CloningSystem.Utility.cs
  Content.Server/Cloning/CloningSystem.Utility.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1010 MoodSystem Crit Threshold CVar
  Content.Server/Mood/MoodSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1017 Draw Depth Fixes For Downed Entities
  Content.Client/Standing/LayingDownSystem.cs
  Content.Server/InteractionVerbs/Actions/ChangeStandingStateAction.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 4-Small, Type: Bug, Status: Awaiting Merge

#1015 Respawn System CVar
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1014 More Drug Moodlets
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Prototypes/Mood/drugs.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1013 Nerf Lotophagoi Oil Addiction
  Resources/Prototypes/Mood/drugs.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Balancing

#1012 Nerf Shadeskip
  Resources/Prototypes/Actions/psionics.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Balancing

#1027 Replace Shittle With Pathfinder
  Resources/Maps/Shuttles/pathfinder.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map

#1026 Re-Add Crusher Weapons
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Loadouts/Jobs/cargo.yml
Labels: Changes: YML

#1019 Port Gax From Estação Pirata
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/gaxstation.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: C#, Changes: Map, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Port

#1025 Security Loadouts Expansion 2
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/securityGroups.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: Localization, Changes: YML

#1023 Fix Librarian Access
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1022 Psionic Potential Trait Fixes
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1020 Update Languages.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: Localization, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1003 Random Bark Revamp
  Content.Server/Speech/Components/RandomBarkComponent.cs
  Content.Server/Speech/Systems/RandomBarkSystem.cs
  Resources/Locale/en-US/random-barks/!default.ftl
  Resources/Locale/en-US/random-barks/bee.ftl
  Resources/Locale/en-US/random-barks/cat.ftl
  Resources/Locale/en-US/random-barks/chicken.ftl
  Resources/Locale/en-US/random-barks/cow.ftl
  Resources/Locale/en-US/random-barks/crab.ftl
  Resources/Locale/en-US/random-barks/dog.ftl
  Resources/Locale/en-US/random-barks/fox.ftl
  Resources/Locale/en-US/random-barks/hissing.ftl
  Resources/Locale/en-US/random-barks/kobold.ftl
  Resources/Locale/en-US/random-barks/mouse.ftl
  Resources/Locale/en-US/random-barks/penguin.ftl
  Resources/Locale/en-US/random-barks/possum.ftl
  Resources/Locale/en-US/random-barks/raccoon.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#937 Language Refactor 3
  Content.Client/Language/LanguageMenuWindow.xaml.cs
  Content.Client/Language/Systems/LanguageSystem.cs
  Content.Server/Chemistry/ReagentEffects/MakeSentient.cs
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Language/Commands/AdminTranslatorCommand.cs
  Content.Server/Language/LanguageKnowledgeComponent.cs
  Content.Server/Language/LanguageSystem.Networking.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/Language/LanguagesUpdateEvent.cs
  Content.Server/Language/TranslatorImplantSystem.cs
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Language/UniversalLanguageSpeakerComponent.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Traits/Assorted/ForeignerTraitSystem.cs
  Content.Shared/Language/Components/LanguageKnowledgeComponent.cs
  Content.Shared/Language/Components/LanguageSpeakerComponent.cs
  Content.Shared/Language/Components/Translators/BaseTranslatorComponent.cs
  Content.Shared/Language/Components/Translators/HandheldTranslatorComponent.cs
  Content.Shared/Language/Events/DetermineEntityLanguagesEvent.cs
  Content.Shared/Language/Events/LanguagesUpdateEvent.cs
  Content.Shared/Language/Events/LanguagesUpdatedMessage.cs
  Content.Shared/Language/Events/RequestLanguagesMessage.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
Labels: Changes: C#, Changes: UI, Priority: 2-High, Size: 2-Large, Status: Needs Review

#1024 Cargo Hardsuit Market
  Resources/Locale/en-US/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/hardsuits.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1034 Port a New Map: RadStation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/emergency_neol.yml
  Resources/Maps/radstation.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/radstation.yml
Labels: Changes: C#, Changes: Map, Priority: 3-Medium, Size: 2-Large, Status: Awaiting Merge

#1037 Feat: Sleeping and Muzzle Block Vocal Emotes
  Content.Server/Speech/EntitySystems/VocalSystem.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1042 Bluespace And Normality Ores
  Content.Server/Gateway/Components/GatewayGeneratorComponent.cs
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Locale/en-US/salvage/salvage-magnet.ftl
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Construction/Graphs/structures/glimmerdevices.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Stacks/materials.yml
  Resources/Prototypes/Procedural/Magnet/asteroid.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Objects/Materials/ore.rsi/bluespace.png
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_bluespace.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite

#1040 Fix Arrivals Shuttle
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Priority: 2-High, Size: 4-Small, Type: Bug

#1032 Custom Name Fixes
  Content.Server.Database/Migrations/Postgres/20241001054803_CustomSpecieName.cs
  Content.Server.Database/Migrations/Sqlite/20241001054735_CustomSpecieName.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review

#1038 Cherry Pick "Fix Latejoin Antag Preferences Not Being Respected"
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Bug

#1033 Add ArachneWeb to Spiderweb.
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1036 Feat: Togglable Under-Table Crawling
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Traits/Assorted/LayingDownModifierSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/movement/laying.ftl
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#1030 Improve "Show Clothing" Button Labels
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: Localization, Priority: 4-Low, Size: 5-Very Small, Type: Bug, Status: Awaiting Merge

#1044 Make Brains Not Food
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
Labels: Changes: YML, Status: Needs Review

#1035 Transhumanism Physical Traits
  Content.Shared/Traits/Assorted/Components/CyberEyesComponent.cs
  Content.Shared/Traits/Assorted/Systems/CyberEyesSystem.cs
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#1041 Service Contractor Loadouts
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/scienceGroups.yml
  Resources/Prototypes/CharacterItemGroups/serviceGroups.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
Labels: Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium

#1053 Fix Reverse Engineering UI
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
Labels: Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1054 Fix Arachne Turning Into Errors when They Take Damage
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1055 Cocoon Sizing Bettering
  Content.Client/Arachne/CocoonSystem.cs
  Content.Server/Arachne/ArachneSystem.cs
  Content.Shared/Arachne/CocoonComponent.cs
Labels: Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Rework

#1048 Update Gax
  Resources/Maps/gaxstation.yml
Labels: Changes: Map, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Bug

#1047 Fix Psionic Power Rolling
  Content.Server/Psionics/PsionicsSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1057 Fix Crawling on Tables
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1052 Bluespace and Normality Tweaks/Fixes + Bluespace Part Crafting
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Objects/Materials/bluespace.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Research/crystals.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/psionic.yml
  Resources/Prototypes/Nyanotrasen/Stacks/materials.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Stacks/Materials/crystals.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Textures/Nyanotrasen/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/bluespace.png
  Resources/Textures/Objects/Materials/materials.rsi/bluespace_2.png
  Resources/Textures/Objects/Materials/materials.rsi/bluespace_3.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/normality.png
  Resources/Textures/Objects/Materials/materials.rsi/normality_2.png
  Resources/Textures/Objects/Materials/materials.rsi/normality_3.png
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Objects/Materials/ore.rsi/normality.png
Labels: Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small, Changes: Sprite, Status: Needs Review, Type: Bug

#1060 Fix RSI Validator
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/fire.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/rad.rsi/meta.json
Labels: Changes: YML, Priority: 1-Urgent, Changes: Sprite, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1056 Chirp
  Content.Shared/Traits/Assorted/Components/SingerComponent.cs
  Content.Shared/Traits/Assorted/Systems/SharedSingerSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1061 Fix Forensics Cleaning
  Content.Server/Forensics/Systems/ForensicsSystem.cs
Labels: Changes: C#, Changes: YML

#1067 Cherry-Pick Wizden PR #27960
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Port, Pull Request Mirror, Type: Bug, Status: Awaiting Merge

#1097 Update CDN Scripts & Automatically Build Releases
  .github/workflows/publish.yml
  Tools/publish_multi_request.py
Labels: Changes: YML, Size: 4-Small, Priority: 1-Urgent, Changes: Workflow, Type: Codebase, Type: Bug

#1098 Fix the CDN Publish Script Being Unrunnable
  Tools/publish_multi_request.py
Labels: Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#996 Adjust Air Alarm Pressure Thresholds
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Discussion, Status: Needs Review

#1066 Personal Ai Languages
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1069 Fix Melee Contests
  Content.Shared/Contests/ContestsSystem.Utilities.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1077 Cherry-Pick Wizden PR #28447
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Port, Pull Request Mirror

#1081 Fix Cryptobiolin
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1082 Fix Nicotine Addiction
  Resources/Prototypes/Mood/drugs.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1083 Fix Too Much Food And Drink
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Prototypes/Mood/genericNeeds.yml
Labels: Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Balancing

#1086 Arena Arrivals Dock
  Resources/Maps/arena.yml
Labels: Changes: Map, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1087 Cherry-Pick Space-Wizards/Space-Station-14#26001
  Resources/Prototypes/StatusEffects/security.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug, Status: Awaiting Merge

#1090 Fix Mech Weight
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1091 Pistol Ammo Counter
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1079 Stop Harpy Singing On Disconnect
  Content.Shared/Traits/Assorted/Systems/SharedSingerSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1095 Fix Add Psionic Power Command
  Content.Server/Psionics/PsionicsCommands.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1068 Chaplain Bible Loadouts
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/CharacterItemGroups/scienceGroups.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
Labels: Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium

#1088 Glacier Dedicated Arrivals Dock
  Resources/Maps/glacier.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review

#1065 Syndicate Listening Outpost Version 2
  Content.Server/DeltaV/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/PirateRadioSpawnRule.cs
  Content.Server/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
  Resources/Maps/Shuttles/pirateradio.yml
  Resources/Prototypes/DeltaV/GameRules/events.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Respace, Type: Rework

#1084 Fix Steal Hos Weapon Objective
  Resources/Prototypes/DeltaV/Catalog/Fills/Items/Belts/belts.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Objectives/stealTargetGroups.yml
  Resources/Prototypes/DeltaV/Objectives/traitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Bug

#1062 Adds TC To Listening Post Operatives
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Status: Awaiting Merge

#1078 Various Wielding Fixes
  Content.Server/Execution/ExecutionSystem.cs
  Content.Shared/Hands/Components/HandHelpers.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunRequiresWieldComponent.cs
  Content.Shared/Weapons/Ranged/Events/ShotAttemptedEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/virtual/virtual-item.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Port, Type: Respace

#1089 Allow Talking Across Atmosphere
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Feature

#1106 Fix a Single Petting Interaction Locale
  Resources/Locale/en-US/interaction/verbs/noop.ftl
Labels: Changes: Localization, Changes: YML

#1071 [Feature] Generic Radial Selector Menu
  Content.Client/RadialSelector/RadialSelectorMenuBUI.cs
  Content.Client/ShortConstruction/ShortConstructionSystem.cs
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Server/ShortConstruction/ShortConstructionSystem.cs
  Content.Shared/RadialSelector/Ui.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Status: Needs Review, Type: Feature

#1109 Fix Breath Of Life Locale
  Resources/Locale/en-US/psionics/psionic-powers.ftl
Labels: Changes: Localization, Changes: YML

#1105 Remove Pathfinder Latejoin Spawns
  Resources/Maps/Shuttles/pathfinder.yml
Labels: Changes: Map, Changes: YML

#1108 Musician Loadouts
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/CharacterItemGroups/musicianInstrumentsGroups.yml
  Resources/Prototypes/Entities/Objects/Devices/instrumentFlatpacks.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/service_music.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1094 Epistemics Job Localizations
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Librarian.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1111 Revert "Allow Talking Across Atmosphere (#1089)"
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Changes: YML

#1112 Fix Gax Missing LV Cable
  Resources/Maps/gaxstation.yml
Labels: Changes: Map, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1113 Fix Arrivals Not Respecting Force Spawn
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1110 Port Sacrificing
  Content.Client/Chapel/SacrificialAltarSystem.cs
  Content.Server/Chapel/SacrificialAltarSystem.cs
  Content.Shared/Chapel/SacrificeDoAfterEvent.cs
  Content.Shared/Chapel/SacrificialAltarComponent.cs
  Content.Shared/Chapel/SharedSacrificialAltarSystem.cs
  Resources/Locale/en-US/chapel/altar.ftl
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/Prototypes/Nyanotrasen/psionicArtifacts.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Altar.xml
Labels: Changes: C#, Changes: Localization, Changes: Documentation, Changes: YML, Status: Needs Review

#1119 Fix Flavor Text Not Updating
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#1118 Fix Asterisk
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1120 Fix Custom Specie Name
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#1127 [Fix] Cybereyes No Longer Reveal Identity.
  Resources/Locale/en-US/traits/misc.ftl
Labels: Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1125 Feat: Port Delta-V Glimmer Wisps
  Content.Server/DeltaV/StationEvents/Components/GlimmerMobRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/GlimmerMobSpawnRule.cs
  Content.Server/LifeDrainer/LifeDrainerComponent.cs
  Content.Server/LifeDrainer/LifeDrainerSystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Interactions/DrainOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/PickDrainTargetOperator.cs
  Content.Server/Nyanotrasen/Psionics/NPC/PsionicNpcCombatSystem.cs
  Content.Server/StationEvents/Components/GlimmerMobRuleComponent.cs
  Content.Server/StationEvents/Components/GlimmerWispRuleComponent.cs
  Content.Server/StationEvents/Events/GlimmerMobSpawnRule.cs
  Content.Server/StationEvents/Events/GlimmerWispSpawnRule.cs
  Content.Shared/DeltaV/GlimmerWisp/Events.cs
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Ambience/wisp_ambience.ogg
  Resources/Audio/DeltaV/Effects/attributions.yml
  Resources/Audio/DeltaV/Effects/clang2.ogg
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/magic_missile_1.ogg
  Resources/Audio/Effects/magic_missile_2.ogg
  Resources/Audio/Effects/magic_missile_3.ogg
  Resources/Audio/Effects/wail.ogg
  Resources/Locale/en-US/abilities/lifedrainer.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/NPCs/wisp.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
  Resources/Prototypes/SoundCollections/glimmer_wisp.yml
  Resources/ServerInfo/Guidebook/DeltaV/Epistemics/GlimmerCreatures.xml
  Resources/Textures/Mobs/Demons/glimmer_wisp.rsi/meta.json
  Resources/Textures/Mobs/Demons/glimmer_wisp.rsi/willowisp.png
Labels: Changes: C#, Changes: Localization, Changes: Documentation, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Port, Changes: Audio

#1137 Fix High Amplification Trait Being the Wildest Scam in Human History
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug, Status: Awaiting Merge

#1135 Cherry Pick PR #30576
  Content.Server/Ensnaring/EnsnareableSystem.cs
  Content.Shared/Ensnaring/Components/EnsnaringComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Weapons/Throwable/energy_bola.rsi/icon.png
  Resources/Textures/Objects/Weapons/Throwable/energy_bola.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium, Changes: Sprite, Status: Needs Review

#1140 [Fix] Added Missing Deflect Alert Locale
  Resources/Locale/en-US/alerts/alerts.ftl
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1116 Fix Markup Tags in Station News (#30169)
  Content.Client/CartridgeLoader/Cartridges/NewsReaderUiFragment.xaml.cs
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml.cs
  Content.Client/Message/RichTextLabelExt.cs
  Content.Client/Tips/TippyUIController.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1138 Pyrokinetic Flare Power
  Content.Server/Abilities/Psionics/Abilities/AnomalyPowerSystem.EntitySpawn.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
  Resources/Textures/Interface/Actions/psionics.rsi/pyrokinetic_flare.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Status: Awaiting Merge

#1142 Penlight Repair
  Content.Server/Medical/PenLightSystem.cs
Labels: Changes: C#, Changes: YML

#1129 Updade RadStation
  Resources/Maps/radstation.yml
Labels: Changes: Map, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#1143 Remove LPO Shuttle Recalling
  Resources/Maps/Shuttles/pirateradio.yml
Labels: Changes: Map, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1150 [Fix] Fixed Icons In Radial Menus
  Content.Client/RadialSelector/RadialSelectorMenuBUI.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review, Status: Awaiting Merge

#1139 [Feature] Clicking on Health Alerty Now Displays Health State
  Content.Server/Alert/Click/CheckHealth.cs
  Content.Shared/HealthExaminable/HealthExaminableSystem.cs
  Resources/Locale/en-US/health-examinable/health-examinable-comp.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Alerts/alerts.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 5-Whenever, Status: Needs Review

#955 Trait Modify Factions
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Awaiting Merge

#1144 [Feature] Telescopic Baton
  Content.Server/Stunnable/Components/KnockdownOnHitComponent.cs
  Content.Server/Stunnable/Systems/KnockdownOnHitSystem.cs
  Content.Server/TelescopicBaton/TelescopicBatonComponent.cs
  Content.Server/TelescopicBaton/TelescopicBatonSystem.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/Stunnable/Events/KnockdownOnHitEvent.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/TelescopicBaton/TelescopicBatonVisuals.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/command.yml
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/icon-off.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/telebaton.rsi/meta.json
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Changes: Sprite, Status: Needs Discussion, Status: Needs Review

#1146 Psionic Familiar System
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Abilities/Psionics/PsionicFamiliarSystem.cs
  Content.Server/NPC/Components/NPCRetaliationComponent.cs
  Content.Server/NPC/Components/NpcFactionMemberComponent.cs
  Content.Server/NPC/Systems/NPCRetaliationSystem.cs
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Shared/Actions/Events/SummonPsionicFamiliarActionEvent.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Psionics/PsionicFamiliarComponent.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/NPCs/psionic.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
  Resources/Textures/Interface/Actions/psionics.rsi/summon_bat.png
  Resources/Textures/Interface/Actions/psionics.rsi/summon_imp.png
  Resources/Textures/Interface/Actions/psionics.rsi/summon_remilia.png
  Resources/Textures/Mobs/Demons/imp.rsi/imp.png
  Resources/Textures/Mobs/Demons/imp.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature

#1153 Properly Credit Contributors Who Were Truncated by GitHub API
  .github/workflows/update-credits.yml
  Tools/contribs_shared.ps1
  Tools/dump_github_contributors.ps1
Labels: Changes: YML, Priority: 2-High, Size: 4-Small, Changes: Workflow, Status: Needs Review, Type: Codebase, Type: Port, Type: Bug

#1162 Tweak Familiars
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
Labels: Changes: YML, Status: Needs Review, Type: Bug

#1160 Update Marish Language Description
  Resources/Locale/en-US/language/languages.ftl
Labels: Changes: Localization, Changes: YML, Size: 5-Very Small, Type: Bug, Status: Awaiting Merge

#1154 Clean Up/Change Default Rules
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/deltav/changelog/changelog-window.ftl
  Resources/Locale/en-US/deltav/connection-messages.ftl
  Resources/Locale/en-US/info/rules.ftl
  Resources/ServerInfo/AssDayRules.txt
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/RedialAddresses.txt
  Resources/ServerInfo/RedialAddressesCentral.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/RulesLRP.txt
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Cleanup
