Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-11, with the labels that each got.

#1163 Updade Gax
  Resources/Maps/gaxstation.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: Map, Changes: YML

#1170 Update Saltern
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#1171 Add Uranium, Gold, And Silver To Cargo Menu
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
Labels: Changes: YML

#1147 Voice Mask Refactor and Fixes
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/DeltaV/Implants/SubdermalBionicSyrinxImplantSystem.cs
  Content.Server/DeltaV/VoiceMask/SyrinxVoiceMaskComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Speech/Components/ListenWireAction.cs
  Content.Server/Speech/Components/VoiceOverrideComponent.cs
  Content.Server/Speech/EntitySystems/VoiceOverrideSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Server/VoiceMask/VoiceMaskComponent.cs
  Content.Server/VoiceMask/VoiceMaskSystem.Equip.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/VoiceMask/VoiceMaskerComponent.cs
  Content.Shared/Chat/SharedChatEvents.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/voice-mask.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/golem.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 3-Medium, Status: Needs Review

#1169 Fixes Cocoons
  Content.Server/Cocoon/CocoonerSystem.cs
  Content.Shared/Cocoon/CocoonDoAfterEvent.cs
  Resources/Locale/en-US/abilities/arachne.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Webbing/webs.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small, Type: Bug, Status: Awaiting Merge

#1174 Add New Sprites
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-captainnano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-cenano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-cmonano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-hopnano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-hosnano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-qmnano.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-rdnano.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/locked.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/sparking.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/unlocked.png
  Resources/Textures/Structures/Storage/Crates/uranium.rsi/welded.png
  Resources/Textures/Structures/Storage/closet.rsi/bartender.png
  Resources/Textures/Structures/Storage/closet.rsi/bartender_door.png
  Resources/Textures/Structures/Storage/closet.rsi/bartender_open.png
  Resources/Textures/Structures/Storage/closet.rsi/jan.png
  Resources/Textures/Structures/Storage/closet.rsi/jan_door.png
  Resources/Textures/Structures/Storage/closet.rsi/jan_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/syndicate1.png
  Resources/Textures/Structures/Storage/closet.rsi/syndicate1_door.png
  Resources/Textures/Structures/Storage/closet.rsi/syndicate1_open.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
  Resources/Textures/Structures/Storage/wall_locker.rsi/rad.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/rad_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/rad_open.png
Labels: Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite, Status: Needs Review

#1176 Syndicate Faction Comes From IFF Tags
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 5-Very Small

#1177 Fix This Stupid Behavior
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Discussion, Status: Needs Review

#1123 Remove eeMigrations.yml, Remove deltaMigrations.yml, Remove frontierMigrations.yml -- Combine All Into eeMigration.yml
  Resources/Migrations/deltaMigrations.yml
  Resources/Migrations/eeMigration.yml
  Resources/Migrations/eeMigrations.yml
  Resources/Migrations/frontierMigrations.yml
Labels: Changes: YML, Priority: 4-Low, Size: 4-Small, Type: Respace, Status: Awaiting Merge

#1180 Fix CanShuttle Not Preventing Recalls
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1183 Updates Health Analyzer UI
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Textures/Interface/Misc/health_analyzer_out_of_range.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Port, Status: Awaiting Merge

#1184 Nerf The Shit Out Of Familiars
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Status: Awaiting Merge

#1157 Port Cool Punpun
  Content.Server/Punpun/PunpunComponent.cs
  Content.Server/Punpun/PunpunSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  SpaceStation14.sln.DotSettings
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 5-Whenever, Status: Needs Review, Type: Port

#1182 Traits V2
  Content.Server/Jobs/AddComponentSpecial.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 3-Medium, Status: Needs Review, Type: Rework

#1194 Cherry Pick WizDen PR #28488
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML

#1190 Port Bloodstains And Footprints
  Content.Client/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Server/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/Footprint/FootPrintComponent.cs
  Content.Shared/Footprint/FootPrintVisuals.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
  Content.Shared/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/_White/Store/categories.yml
  Resources/Textures/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/Effects/footprints.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite, Status: Needs Review

#1196 Beacons
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: Changes: C#, Changes: YML

#1191 Cherry-Pick Wizden PR 28375
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Port, Type: Bug, Status: Awaiting Merge

#1199 Fix Call Shuttle
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Bug, Status: Awaiting Merge

#1195 Fix AddTrait And ReplaceTrait Functions
  Content.Server/Traits/TraitSystem.Functions.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1203 Add Missing `DOTNET_ROOT` Environment Variable For Nix Devs
  shell.nix
Labels: Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review

#1207 Swapped Hands HUD Fix
  Resources/Prototypes/Body/Prototypes/ipc.yml
  Resources/Prototypes/Body/Prototypes/shadowkin.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/vulpkanin.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Type: Port, Type: Bug, Status: Awaiting Merge

#1192 Fix Butlertron's Hitbox
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
Labels: Changes: YML, Holy Shit, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Port, Status: Awaiting Merge

#1201 The Hive: Update Engineering
  Resources/Maps/hive.yml
Labels: Changes: Map, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#1188 Prevent Listening Posts From Spawning On Planets
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1218 Fix Silver Crate Name
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Bug, Status: Awaiting Merge

#1213 Auto Voting System
  Content.Server/AutoVote/AutoVoteSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Feature

#1221 Fix Trait Component Removal
  Content.Server/Traits/TraitSystem.Functions.cs
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Changes: Sprite, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1223 Some Language Fixes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Language/animal.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Changes: C#, Changes: YML

#1222 The Return of Spray Paint
  .editorconfig
  Content.Client/Paint/PaintVisualizerSystem.cs
  Content.Server/Paint/PaintSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Paint/PaintComponent.cs
  Content.Shared/Paint/PaintDoAfterEvent.cs
  Content.Shared/Paint/PaintRemoverComponent.cs
  Content.Shared/Paint/PaintRemoverDoAfterEvent.cs
  Content.Shared/Paint/PaintRemoverSystem.cs
  Content.Shared/Paint/PaintedComponent.cs
  Content.Shared/Paint/SharedPaintSystem.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
  Resources/Locale/en-US/paint/paint.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Fun/spray_paint.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/VerbIcons/paint.svg
  Resources/Textures/Interface/VerbIcons/paint.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/paint.svg.192dpi.png.yml
  Resources/Textures/Objects/Fun/spraycans.rsi/clown-inhand-left.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown-inhand-right.png
  Resources/Textures/Objects/Fun/spraycans.rsi/meta.json
  Resources/Textures/Objects/Fun/spraycans.rsi/spray-inhand-left.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray-inhand-right.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray_cap.png
  SpaceStation14.sln.DotSettings
Labels: Changes: C#, Changes: Localization, Changes: Config, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Type: Port, Type: Rework

#1219 Bounties Localization Fix
  Resources/Locale/en-US/cargo/bounties.ftl
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1229 Give Penguins Cold Resistance
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Type: Port, Type: Bug, Status: Awaiting Merge

#1225 Pirate Radio Heisentest Fix
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Bug

#1233 Fix Loadout Subcategories Not Being Found
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Priority: 2-High, Size: 5-Very Small, Type: Bug

#1245 Hotfix Stamina System
  Content.Shared/Damage/Systems/StaminaSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small, Type: Bug, Status: Awaiting Merge

#1234 Day/Night Time Cycle For Maps
  Content.Server/TimeCycle/TimeCycleSystem.cs
  Content.Server/Toolshed/Commands/VisualizeCommand.cs
  Content.Shared/TimeCycle/TimeCycleComponent.cs
  Content.Shared/TimeCycle/TimeCyclePalettePrototype.cs
  Resources/Prototypes/time_cycle_palletes.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 5-Whenever, Type: Feature, Status: Awaiting Merge

#1240 Shitmed Update 1
  Content.IntegrationTests/Tests/Shitmed/Body/SpeciesBUiTest.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Body/Systems/HeartSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/DelayedDeath/DelayedDeathComponent.cs
  Content.Server/DelayedDeath/DelayedDeathSystem.cs
  Content.Server/Medical/Surgery/SurgerySystem.cs
  Content.Shared/Body/Organ/DebrainedComponent.cs
  Content.Shared/Body/Organ/OrganComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.PartAppearance.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Medical/Surgery/Conditions/SurgeryPartRemovedConditionComponent.cs
  Content.Shared/Medical/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Medical/Surgery/SharedSurgerySystem.cs
  Content.Shared/Medical/Surgery/SurgeryStepDamageChangeEvent.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/ipc.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Body/Prototypes/arachnid.yml
  Resources/Prototypes/Body/Prototypes/diona.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Body/Prototypes/gingerbread.yml
  Resources/Prototypes/Body/Prototypes/human.yml
  Resources/Prototypes/Body/Prototypes/ipc.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
  Resources/Prototypes/Body/Prototypes/shadowkin.yml
  Resources/Prototypes/Body/Prototypes/skeleton.yml
  Resources/Prototypes/Body/Prototypes/slime.yml
  Resources/Prototypes/Body/Prototypes/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Surgery/surgeries.yml
  Resources/Prototypes/Entities/Surgery/surgery_steps.yml
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Bug

#1247 Fix Self-Aware Crashing Client
  Content.Shared/Traits/Assorted/Components/SelfAwareComponent.cs
Labels: Changes: C#, Changes: YML

#1241 Shitmed Surgery Popups
  Content.Shared/Medical/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Locale/en-US/surgery/surgery-popup.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#1238 Power Attack Stamina Update
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/damage/damage-examine.ftl
  Resources/Locale/en-US/weapons/melee/melee.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Type: Balancing, Status: Awaiting Merge

#1248 Glimmer Wisps Mindbreak Their Victims
  Content.Server/LifeDrainer/LifeDrainerSystem.cs
Labels: Changes: C#, Changes: YML

#1252 Fix Power Attacks Being Faster Than Left Clicks
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML

#1253 More Trait Functions (PushMarkup & AddArmor)
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Traits/Assorted/Components/CyberEyesComponent.cs
  Content.Shared/Traits/Assorted/Components/ExtendDescriptionComponent.cs
  Content.Shared/Traits/Assorted/Systems/CyberEyesSystem.cs
  Content.Shared/Traits/Assorted/Systems/ExtendDescriptionSystem.cs
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#1250 Feat: Anomaly Scanner Data Copying
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
  Resources/Locale/en-US/anomaly/anomaly.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#1256 Mass Bug Fixing
  Content.Client/Buckle/BuckleSystem.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/MagicMirror/MagicMirrorComponent.cs
  Content.Shared/MagicMirror/SharedMagicMirrorSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Port, Type: Bug

#1267 Rename "Pierce" Typo to "Piercing"
  Content.Shared/Body/Systems/SharedBodySystem.Targeting.cs
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: Changes: C#, Changes: YML

#1259 Buff Medical Due to Shitmed Changes Cherry-Pick
  Content.Server/Medical/Components/HealingComponent.cs
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Balancing

#1268 [QoL] Show Oni Damage Bonus In Damage Examine
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
Labels: Changes: C#, Changes: YML

#1266 [Fix] Added Robust.Xaml to the Project Solution
  SpaceStation14.sln
Labels: Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Port, Status: Awaiting Merge

#1289 Fixes Make Cultist Admin Verb to Act on Target Not Self
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: Changes: C#, Changes: YML

#1287 IPC Instrument Menu Fix
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML

#1292 Fix Bug with Opening Storage Containers
  Content.Client/Storage/StorageBoundUserInterface.cs
Labels: Changes: C#, Changes: YML

#1282 Change Target Doll Icon For Ashen Theme
  Resources/Textures/Interface/Ashen/target_doll.png
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1278 Fix Applicable Medication Stack Bug
  Resources/Prototypes/Stacks/medical_stacks.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug, Status: Awaiting Merge

#1294 Re-Enable Language Color and Font
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#1290 Admin Tooling Cherry Picks
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListEntry.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Players/RateLimiting/PlayerRateLimitManager.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/ListContainer.cs
  Content.Client/UserInterface/Controls/SearchListContainer.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Chat/Managers/ChatManager.RateLimit.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Discord/WebhookPayload.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/Players/RateLimiting/PlayerRateLimitManager.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/ISharedChatManager.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Players/RateLimiting/RateLimitRegistration.cs
  Content.Shared/Players/RateLimiting/SharedPlayerRateLimitManager.cs
  Resources/Locale/en-US/administration/bwoink.ftl
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/en-US/game-ticking/game-rules/gamerule-admin.ftl
  Resources/Locale/en-US/game-ticking/game-rules/rule-secret.ftl
  Resources/Locale/en-US/interaction/interaction-system.ftl
  Resources/Textures/Interface/Bwoink/pinned.png
  Resources/Textures/Interface/Bwoink/pinned2.png
  Resources/Textures/Interface/Bwoink/un_pinned.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Holy Shit, Priority: 3-Medium, Status: Needs Review, Type: Port

#1281 More Loadout Equipment
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/technicalAssistant.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/acolyte.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/noviciate.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/courier.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/mime.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Loadouts/Generic/backpacks.yml
  Resources/Prototypes/Loadouts/Generic/duffelbags.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Generic/satchels.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/stationEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/technicalAssistant.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/acolyte.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/cataloger.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystagogue.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/mystic.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/noviciate.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/psionicMantis.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/cargoTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/courier.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/salvageSpecialist.yml
  Resources/Prototypes/Loadouts/Jobs/Service/mime.yml
Labels: Changes: Localization, Changes: YML

#1296 Dynamic Hostname System
  Content.Server/DynamicHostname/DynamicHostnameSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/dynamichostname/hostname.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature

#1297 Religious Headgear For Character Customization
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/Entities/Clothing/Head/religious.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Textures/Clothing/Head/ReligiousHeadgear/hijab.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/hijab.rsi/icon.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/hijab.rsi/meta.json
  Resources/Textures/Clothing/Head/ReligiousHeadgear/kippah.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/kippah.rsi/icon.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/kippah.rsi/meta.json
  Resources/Textures/Clothing/Head/ReligiousHeadgear/turban.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/turban.rsi/icon.png
  Resources/Textures/Clothing/Head/ReligiousHeadgear/turban.rsi/meta.json
Labels: Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite, Type: Port

#1257 Don't Require Running in Release to Test Mood
  Content.Server/Mood/MoodSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Type: Bug
