Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-08, with the labels that each got.

#616 More Loadout Items: Wave 2
  Resources/Prototypes/Loadouts/Jobs/Heads/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/command.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/quarterMaster.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/researchDirector.yml
  Resources/Prototypes/Loadouts/Jobs/cargo.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/categories.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/hands.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/mask.yml
  Resources/Prototypes/Loadouts/neck.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: YML

#631 Replace and Fix MedHud Icons
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
Labels: Priority: 3-Medium, Changes: Sprite, Size: 5-Very Small, Status: Needs Review, Type: Cleanup

#632 Manual Removal of easy_pry.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/easy_pry.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Cleanup

#491 Revert "Mirror: Restrict Door Remotes to only Being Able to Manipulate Doors Relevant to Their Type"
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: Changes: C#, Priority: 4-Low, Size: 5-Very Small, Status: Needs Discussion, Status: Needs Review

#485 Invert the Running/Walking States
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Components/CanWalkComponent.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Port

#634 Move Survival Boxes To Loadouts
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Backpacks/StarterGear/satchel.yml
Labels: Changes: YML

#635 Make Boxes Not Useless
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: Changes: YML

#636 "Buff" Vision Traits
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: YML

#633 More Loadout Items: Wave 3
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: Localization, Changes: YML

#588 Vulpkanin Tail Wagging
  Content.Server/Wagging/WaggingSystem.cs
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/corgi.png
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/dalmatian.png
  Resources/Textures/DeltaV/Mobs/Customization/Vulpkanin/tail_markings.rsi/meta.json
  Resources/Textures/Interface/Actions/wagging.rsi/icon-on.png
  Resources/Textures/Interface/Actions/wagging.rsi/icon.png
  Resources/Textures/Interface/Actions/wagging.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#640 Increase Combat Knife Availability
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: Changes: YML

#638 Add Breaching Charges
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Textures/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/breaching.rsi/primed.png
Labels: Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Type: Feature, Type: Port

#585 AHelp Sound Improvements
  Content.Client/Administration/Systems/AdminSystem.cs
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Admin/ahelp_error.ogg
  Resources/Audio/Admin/ahelp_receive.ogg
  Resources/Audio/Admin/ahelp_send.ogg
  Resources/Audio/Admin/attributions.yml
  Resources/Audio/Effects/adminhelp.ogg
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Discussion, Status: Needs Review, Type: Feature, Changes: Audio

#646 Fix Stinky Anomaly Announcement
  Resources/Locale/en-US/station-events/events/anomaly-spawn.ftl
Labels: Changes: Localization

#644 Revert "Refactor Ramping Event Scheduler (#592)"
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#341 Supermatter Engine (Port From White Dream)
  Content.Server/Supermatter/Systems/SupermatterSystem.Processing.cs
  Content.Server/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Supermatter/Components/SupermatterComponent.cs
  Content.Shared/Supermatter/Components/SupermatterFoodComponent.cs
  Content.Shared/Supermatter/Components/SupermatterImmuneComponent.cs
  Resources/Audio/Supermatter/calm.ogg
  Resources/Audio/Supermatter/delamming.ogg
  Resources/Locale/en-US/objectives/conditions/steal.ftl
  Resources/Locale/en-US/supermatter/supermatter.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/explosion.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Engineering/Supermatter.xml
  Resources/Textures/Supermatter/supermatter.rsi/meta.json
  Resources/Textures/Supermatter/supermatter.rsi/supermatter.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/icon.png
  Resources/Textures/Supermatter/supermatter_sliver.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Documentation, Changes: YML, Holy Shit, Size: 2-Large, Priority: 1-Urgent, Changes: Sprite, Status: Needs Review, Type: Feature, Type: Port, Changes: Audio

#653 Fix NoMaterialArbitrage Test Fail
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug, Type: Cleanup

#655 Fix for Failed to Cherry-Pick PR #26217: Fix Pressure Damage Calculat…
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: C#, Changes: YML

#649 Changed Rouny Sprite
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/sleeping.png
Labels: Changes: Sprite

#645 Fix Event Manager Allowing to Start Multiple Events of the Same Type in a Short Time Window
  Content.Server/StationEvents/EventManagerSystem.cs
Labels: Changes: C#

#637 Remove Clothesmate Bloat
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: YML

#656 Fixes Failed to Cherry-Pick PR #25986: Return Detective to Security #145
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: Changes: YML, Status: Needs Review

#639 Add 4 Missing Vendors To Vendor Spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/vendingdrinks.yml
Labels: Changes: YML, Priority: 5-Whenever, Size: 5-Very Small, Type: Cleanup

#668 New Trait: Voracious
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Traits/Assorted/ConsumeDelayModifierComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature

#652 Zombie Improvements Take 2
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
Labels: Changes: C#, Status: Needs Review

#669 Rename Trait "Heavyweight Drunk" To "Alcohol Tolerance"
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Type: Cleanup

#658 New Trait: Light Step
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Traits/Assorted/Components/FootstepVolumeModifierComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#677 New Trait: Sign Language
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierComponent.cs
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierSystem.cs
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Discussion, Status: Needs Review, Type: Feature

#549 Oracle Refactor
  Content.IntegrationTests/Tests/Nyanotrasen/Oracle/OracleTest.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleComponent.cs
  Content.Server/Nyanotrasen/Research/Oracle/OracleSystem.cs
  Content.Server/Research/Oracle/OracleComponent.cs
  Content.Server/Research/Oracle/OracleSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/bluespace.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Reagents/psionic.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#580 Carrying System Refactor
  Content.Server/Carrying/BeingCarriedComponent.cs
  Content.Server/Carrying/CarriableComponent.cs
  Content.Server/Carrying/CarryingComponent.cs
  Content.Server/Carrying/CarryingSystem.cs
  Content.Shared/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/Carrying/CarryingSlowdownSystem.cs
Labels: Changes: C#, Status: Needs Review

#673 Make Lamiae Out of Tris Instead of Sprites
  Content.Client/DeltaV/Lamiae/ClientLamiaVisuals.cs
  Content.Client/DeltaV/Lamiae/LamiaSegmentVisualsComponent.cs
  Content.Client/DeltaV/Lamiae/SnakeOverlay.cs
  Content.Client/DeltaV/Lamiae/SnakeOverlaySystem.cs
  Content.Shared/SegmentedEntity/SegmentedEntityComponent.cs
  Content.Shared/SegmentedEntity/SegmentedEntitySegmentVisuals.cs
  Content.Shared/SegmentedEntity/SegmentedEntitySystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Species/lamia.yml
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/meta.json
  Resources/Textures/Nyanotrasen/Mobs/Species/lamia.rsi/segment.png
Labels: Changes: C#, Changes: YML, Changes: Sprite

#550 Adds PKA & Jetpack Module for Salvage Cyborgs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/Silicons/Borgs/Components/BorgJetpackComponent.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-jetpack.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-pka.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#487 CPR Remake
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Medical/CPR/Components/CPRTrainingComponent.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.CVars.cs
  Content.Shared/Medical/CPR/Systems/CPRSystem.cs
  Resources/Audio/Effects/CPR.ogg
  Resources/Locale/en-US/medical/components/cpr-training-component.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 2-Large, Type: Feature, Changes: Audio

#680 New Trait: Self-Aware
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/HealthExaminable/HealthExaminableComponent.cs
  Content.Server/HealthExaminable/HealthExaminableSystem.cs
  Content.Server/Traits/Assorted/SelfAwareComponent.cs
  Resources/Locale/en-US/bloodstream/bloodstream.ftl
  Resources/Locale/en-US/health-examinable/health-examinable-selfaware.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature

#683 Remove Overlay Restrict From Vulps
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Cleanup

#679 Stamina Damage Resistance Real
  Content.Server/Nyanotrasen/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
  Content.Server/Nyanotrasen/Psionics/PsionicsSystem.cs
  Content.Shared/Damage/Events/TakeStaminaDamageEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Stunnable/StaminaDamageResistanceComponent.cs
  Content.Shared/Stunnable/StaminaDamageResistanceSystem.cs
  Resources/Locale/en-US/armor/armor-examine.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Holy Shit, Size: 2-Large, Type: Feature, Type: Rework

#686 New Trait: Blood Deficiency
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Traits/BloodDeficiencyComponent.cs
  Content.Server/Traits/BloodDeficiencySystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#676 New Trait: Oni Damage Bonuses
  Content.Server/Traits/Assorted/OniDamageModifierComponent.cs
  Content.Server/Traits/Assorted/OniDamageModifierSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 3-Medium, Status: Needs Review, Type: Feature

#670 New Trait: Parkour Training
  Content.Server/Traits/Assorted/LayingDownModifierComponent.cs
  Content.Server/Traits/Assorted/LayingDownModifierSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Traits/Assorted/Components/ClimbDelayModifierComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 2-Large, Status: Needs Review, Type: Feature

#516 Cherry-Pick "EMP Grenade Actually Sabotages Power" From Wizden
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Portable/SpaceHeaterSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Gravity/GravityGeneratorSystem.cs
  Content.Server/Power/Components/ActiveChargerComponent.cs
  Content.Server/Power/Components/ChargingComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#565 Admeme Language Commands (Attempt 2)
  Content.Server/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Language/Commands/AdminTranslatorCommand.cs
  Resources/Locale/en-US/language/commands.ftl
Labels: Changes: C#, Changes: Localization, Status: Needs Review

#567 Added Penlights
  Content.Client/Eye/PenLight/UI/PenLightBoundUserInterface.cs
  Content.Client/Eye/PenLight/UI/PenLightWindow.xaml
  Content.Client/Eye/PenLight/UI/PenLightWindow.xaml.cs
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
  Content.Server/Medical/PenLightSystem.cs
  Content.Shared/Medical/PenLightComponent.cs
  Content.Shared/Medical/PenLightUiKey.cs
  Content.Shared/Medical/PenLightUserMessage.cs
  Resources/Locale/en-US/medical/components/penlight.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Tools/penlight.yml
  Resources/Textures/Objects/Tools/cmopenlight.rsi/meta.json
  Resources/Textures/Objects/Tools/cmopenlight.rsi/world-on.png
  Resources/Textures/Objects/Tools/cmopenlight.rsi/world.png
  Resources/Textures/Objects/Tools/penlight.rsi/meta.json
  Resources/Textures/Objects/Tools/penlight.rsi/world-on.png
  Resources/Textures/Objects/Tools/penlight.rsi/world.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature

#642 Unique Glove Fibers
  Content.Server/Forensics/Components/FiberComponent.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
Labels: Changes: C#, Status: Needs Review

#648 Alphabetized physical-desc.ftl (Fr This Time)
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
Labels: Changes: Localization, Priority: 5-Whenever, Size: 2-Large, Type: Cleanup

#689 Fix No Blood Regeneration
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
Labels: Changes: C#

#694 Fix BarotraumaSystem
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: Changes: C#

#678 Butlergone (Cherry-Pick From Delta-V)
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Resources/Prototypes/DeltaV/NPC/roboisseur.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Port, Type: Cleanup

#696 White Dream Harpy Markings
  Resources/Locale/en-US/markings/harpy.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/forked_long.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/haven_tone_1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/haven_tone_2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/swallow_tail.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/bat_wings_tone_1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/bat_wings_tone_2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/bionic_wings_tone_1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/bionic_wings_tone_2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#685 Add Le Psionic Orb From Nyanotrasen
  Resources/Prototypes/Entities/Objects/Specific/Research/misc.yml
Labels: Changes: YML, Status: Needs Review

#692 New Trait: Sluggish / Snail-Paced
  Content.Server/Traits/Assorted/TraitSpeedModifierComponent.cs
  Content.Server/Traits/Assorted/TraitSpeedModifierSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#690 New Trait: Hemophilia
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Traits/HemophiliaComponent.cs
  Content.Server/Traits/HemophiliaSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#688 Aloe Cream Recipe Fix, Now 15 Seconds
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: Changes: YML, Status: Needs Review

#674 New Plant Trait : Bluespace Slips
  Content.Server/Botany/Components/TeleportingTraitComponent.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/TeleportingTraitSystem.cs
  Resources/Locale/en-US/botany/components/teleporting-trait-component.ftl
Labels: Changes: C#, Changes: Localization, Size: 3-Medium, Priority: 3-Medium, Status: Help Wanted, Status: Needs Review, Type: Feature

#682 1984 Dresser Arbitrage 2, Electric Boogaloo
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Type: Bug, Type: Cleanup

#700 Respace Psionics Audio & Localization Files
  Resources/Audio/Ambience/Objects/prober_hum_dangerous.ogg
  Resources/Audio/Ambience/Objects/prober_hum_high.ogg
  Resources/Audio/Ambience/Objects/prober_hum_low.ogg
  Resources/Audio/Ambience/Objects/prober_hum_moderate.ogg
  Resources/Audio/Psionics/attributions.yml
  Resources/Audio/Psionics/heartbeat_fast.ogg
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/chemistry/reagent-effects.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/nyanotrasen/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/nyanotrasen/chemistry/effects.ftl
  Resources/Locale/en-US/nyanotrasen/guidebook/guides.ftl
  Resources/Locale/en-US/nyanotrasen/reagents/toxins.ftl
  Resources/Locale/en-US/nyanotrasen/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/psionics/book-epistemics.ftl
  Resources/Locale/en-US/psionics/cargo-epistemics.ftl
  Resources/Locale/en-US/psionics/death-gasp.ftl
  Resources/Locale/en-US/psionics/epistemics-crates.ftl
  Resources/Locale/en-US/psionics/noospheric-storm.ftl
  Resources/Locale/en-US/psionics/objectives.ftl
  Resources/Locale/en-US/psionics/oracle.ftl
  Resources/Locale/en-US/psionics/psionic-chat.ftl
  Resources/Locale/en-US/psionics/psionic-commands.ftl
  Resources/Locale/en-US/psionics/stamp-component.ftl
  Resources/Locale/en-US/psionics/technologies.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Locale/en-US/reagents/psionic.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Textures/Interface/VerbIcons/dispel.png
  Resources/Textures/Interface/VerbIcons/dispel.png.yml
  Resources/Textures/Interface/VerbIcons/license.txt
  Resources/Textures/Interface/VerbIcons/mass_sleep.png
  Resources/Textures/Interface/VerbIcons/mass_sleep.png.yml
  Resources/Textures/Interface/VerbIcons/metapsionic.png
  Resources/Textures/Interface/VerbIcons/metapsionic.png.yml
  Resources/Textures/Interface/VerbIcons/mind_swap.png
  Resources/Textures/Interface/VerbIcons/mind_swap.png.yml
  Resources/Textures/Interface/VerbIcons/mind_swap_return.png
  Resources/Textures/Interface/VerbIcons/mind_swap_return.png.yml
  Resources/Textures/Interface/VerbIcons/noospheric_zap.png
  Resources/Textures/Interface/VerbIcons/noospheric_zap.png.yml
  Resources/Textures/Interface/VerbIcons/psionic_invisibility.png
  Resources/Textures/Interface/VerbIcons/psionic_invisibility.png.yml
  Resources/Textures/Interface/VerbIcons/psionic_invisibility_off.png
  Resources/Textures/Interface/VerbIcons/psionic_invisibility_off.png.yml
  Resources/Textures/Interface/VerbIcons/psionic_regeneration.png
  Resources/Textures/Interface/VerbIcons/psionic_regeneration.png.yml
  Resources/Textures/Interface/VerbIcons/pyrokinesis.png
  Resources/Textures/Interface/VerbIcons/pyrokinesis.png.yml
  Resources/Textures/Interface/VerbIcons/telegnosis.png
  Resources/Textures/Interface/VerbIcons/telegnosis.png.yml
Labels: Changes: Localization, Changes: YML, Changes: Audio

#687 Updates WelderRefinable Component
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/RefiningSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#681 1984 Shit Colored Moths
  Content.Shared/Humanoid/SkinColor.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Balancing, Type: Cleanup

#707 Tweak Skeleton Description
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: Localization

#615 Soft-Refactor Geiger Counters
  Content.Server/Radiation/Systems/GeigerSystem.cs
  Content.Shared/Radiation/Components/GeigerComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/radalarm.yml
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_base.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_on_ext.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_on_high.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_on_idle.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_on_low.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/geiger_on_med.png
  Resources/Textures/Structures/Wallmounts/radalarm.rsi/meta.json
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature, Type: Cleanup

#704 Make Dionas Slow And Steady
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Traits/Assorted/TraitSpeedModifierSystem.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Content.Shared/Traits/Assorted/Components/SpeedModifierImmunityComponent.cs
  Content.Shared/Traits/Assorted/Components/TraitSpeedModifierComponent.cs
  Content.Shared/Traits/Assorted/Systems/TraitSpeedModifierSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature

#703 Psionic System Cleanup
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Psionics/PsionicsSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 3-Medium, Type: Cleanup

#702 Minor Glimmer System Cleanup
  Content.Server/Psionics/Glimmer/GlimmerCommands.cs
  Content.Server/Psionics/Glimmer/GlimmerReactiveSystem.cs
  Content.Server/Psionics/Glimmer/PassiveGlimmerReductionSystem.cs
  Content.Server/Psionics/Glimmer/Structures/GlimmerSourceComponent.cs
  Content.Server/Psionics/Glimmer/Structures/GlimmerStructuresSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Cleanup

#693 Melee Pt2
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Execution/ExecutionSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/MeleeSoundSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/damage/damage-examine.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Do Not Merge, Size: 2-Large, Priority: 1-Urgent, Type: Balancing, Type: Feature

#706 New Trait: Liquor Lifeline 🍺🩹
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Traits/Assorted/LiquorLifelineComponent.cs
  Content.Server/Traits/Assorted/LiquorLifelineSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature

#605 NyanoCombat 2, Part 1: Simple Melee Refactor
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
Labels: Changes: C#, Size: 3-Medium, Priority: 1-Urgent, Status: Needs Review, Type: Feature, Type: Rework

#710 Remove Hugging Interaction Popup From Humanoids
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/arachne.yml
  Resources/Prototypes/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
Labels: Changes: Localization, Changes: YML, Priority: 5-Whenever, Size: 5-Very Small, Status: Needs Discussion, Type: Cleanup

#607 NyanoCombat 2, Part 3: Physical Traits
  Content.Shared/Traits/Assorted/Components/AdrenalineComponent.cs
  Content.Shared/Traits/Assorted/Components/CritModifierComponent.cs
  Content.Shared/Traits/Assorted/Components/DeadModifierComponent.cs
  Content.Shared/Traits/Assorted/Components/PainToleranceComponent.cs
  Content.Shared/Traits/Assorted/Components/StaminaCritModifierComponent.cs
  Content.Shared/Traits/Assorted/Systems/TraitStatModifierSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 2-Large, Priority: 1-Urgent, Status: Needs Discussion, Status: Needs Review, Type: Feature, Type: Rework

#608 Adds BeardTag
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Status: Needs Review, Type: Feature

#720 Increase Trait Limit From 5 To 10
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#660 Make Security Dripped Out Again
  Resources/Migrations/eeMigrations.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/backpacks.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Back/backpacks.yml/satchel.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/items.yml
Labels: Changes: YML, Status: Needs Review

#717 Ports 78 From Floofstation - Fix Crew Monitor
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Type: Port, Pull Request Mirror, Type: Bug, Type: Cleanup

#716 Various Floofstation Ports.
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/items.yml
Labels: Changes: YML, Priority: 5-Whenever, Status: Needs Review, Type: Feature, Type: Port, Pull Request Mirror

#722 Add Home Run Bat (Traitor Item)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/home_run_bat.rsi/wielded-inhand-right.png
Labels: Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature, Type: Port

#661 Added Showers
  Content.Server/Shower/ShowerSystem.cs
  Content.Shared/Showers/SharedShowerSystem.cs
  Content.Shared/Showers/ShowerComponent.cs
  Resources/Audio/Ambience/Objects/shower_enable.ogg
  Resources/Audio/Ambience/Objects/shower_running.ogg
  Resources/Locale/en-US/shower/shower-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/shower.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shower.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Textures/Structures/Furniture/shower.rsi/meta.json
  Resources/Textures/Structures/Furniture/shower.rsi/shower.png
  Resources/Textures/Structures/Furniture/shower.rsi/shower_on.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature, Changes: Audio

#721 Nix Version Bump
  flake.lock
Labels: Changes: Config, Priority: 2-High, Size: 5-Very Small, Type: Codebase

#729 Fix Whitelist Requirements
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#727 Oni Pointy Ears And Tusks
  Resources/Locale/en-US/markings/goblin_markings.ftl
  Resources/Locale/en-US/markings/oni_feet.ftl
  Resources/Locale/en-US/markings/pointy_ears.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_feet.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Species/human.yml
  Resources/Textures/Mobs/Customization/goblin_tusks.rsi/goblin_tusks_big.png
  Resources/Textures/Mobs/Customization/goblin_tusks.rsi/goblin_tusks_none.png
  Resources/Textures/Mobs/Customization/goblin_tusks.rsi/goblin_tusks_small.png
  Resources/Textures/Mobs/Customization/goblin_tusks.rsi/meta.json
  Resources/Textures/Mobs/Customization/oni_feet.rsi/meta.json
  Resources/Textures/Mobs/Customization/oni_feet.rsi/two_toes.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/meta.json
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_large.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_none.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_slanted.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_small.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_standard.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_tall.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_thin.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_upwards.png
  Resources/Textures/Mobs/Customization/pointy_ears.rsi/pointy_ears_wide.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#730 Hotfix Psionic Regeneration
  Content.Shared/Psionics/Abilities/PsionicRegeneration/PsionicRegenerationPowerComponent.cs
Labels: Changes: C#, Priority: 1-Urgent

#713 Vulpkanin Rework: Number Changes
  Content.Client/Flash/FlashSystem.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/FlashableComponent.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 2-Large, Status: Needs Discussion, Type: Feature, Type: Rework

#726 Oni Horn Markings
  Resources/Locale/en-US/markings/oni.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_horns.yml
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/crowned.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/meta.json
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_bull.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_bull_3tone_1.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_bull_3tone_2.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_bull_3tone_3.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_curved.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_curved_3tone_1.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_curved_3tone_2.png
  Resources/Textures/Mobs/Customization/Oni/oni_horns48x48.rsi/tall_curved_3tone_3.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#714 Convert Harpy Singing Into a Trait
  Content.Client/Traits/SingerSystem.cs
  Content.Server/DeltaV/Harpy/HarpySingerSystem.cs
  Content.Server/Traits/Assorted/SingerSystem.cs
  Content.Shared/DeltaV/Harpy/HarpySingerComponent.cs
  Content.Shared/DeltaV/Harpy/HarpySingerSystem.cs
  Content.Shared/DeltaV/Harpy/HarpyVisualsSystem.cs
  Content.Shared/Traits/Assorted/Components/SingerComponent.cs
  Content.Shared/Traits/Assorted/Prototypes/SingerInstrumentPrototype.cs
  Content.Shared/Traits/Assorted/Systems/SharedSingerSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Traits/Misc/singer_types.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Discussion, Status: Needs Review, Type: Feature

#519 Xenowears
  Content.Shared/Clothing/Components/EmitsSoundOnMoveComponent.cs
  Content.Shared/Clothing/EntitySystems/EmitsSoundOnMoveSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/clothwarps.yml
  Resources/Prototypes/Loadouts/neck.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/clothwarp.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Textures/Clothing/Neck/Misc/bellcollar.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/bellcollar.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/bellcollar.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Misc/bellcollar.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Misc/bellcollar.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/oldmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/oldmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/oldmantle.rsi/meta.json
  Resources/Textures/Clothing/Neck/mantles/unathimantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/unathimantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/unathimantle.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/unathirobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/unathirobe.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/unathirobe.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Misc/clothWrap.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Misc/clothWrap.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Shoes/Misc/clothWrap.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Misc/clothWrap.rsi/meta.json
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature

#718 Adds Fake Blindfold
  Resources/Locale/en-US/loadouts/eyes.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Loadouts/eyes.yml
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Feature

#739 Remove the Stupid Station Records Check From News
  Content.Server/MassMedia/Systems/NewsSystem.cs
Labels: Changes: C#, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Bug, Type: Cleanup

#753 Luxurious Loadout Items
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/items.yml
Labels: Changes: YML, Status: Needs Review

#620 Morale System (Port From White Dream)
  Content.Client/Overlays/SaturationScaleOverlay.cs
  Content.Client/Overlays/SaturationScaleSystem.cs
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Mood/MoodComponent.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/Traits/Assorted/ModifyMoodTraitComponent.cs
  Content.Shared/Alert/AlertCategory.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Contests/ContestsSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Mood/MoodCategoryPrototype.cs
  Content.Shared/Mood/MoodEffectPrototype.cs
  Content.Shared/Mood/MoodEvents.cs
  Content.Shared/Mood/SharedMoodComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Overlays/SaturationScaleComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/mood/mood-alerts.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Locale/ru-RU/mood/mood-alerts.ftl
  Resources/Locale/ru-RU/mood/mood.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Mood/categories.yml
  Resources/Prototypes/Mood/genericNeeds.yml
  Resources/Prototypes/Mood/genericNegativeEffects.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Textures/Interface/Alerts/mood.rsi/meta.json
  Resources/Textures/Interface/Alerts/mood.rsi/mood1.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood2.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood3.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood4.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood5.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood6.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood7.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood8.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood9.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_bad.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_good.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_insane.png
  Resources/Textures/Shaders/saturationscale.swsl
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 2-Large, Changes: Sprite, Status: Needs Review, Type: Balancing, Type: Feature

#756 Fix Overlays
  Content.Client/Overlays/DogVisionOverlay.cs
  Content.Client/Overlays/DogVisionSystem.cs
  Content.Client/Overlays/SaturationScaleOverlay.cs
  Content.Client/Overlays/SaturationScaleSystem.cs
  Content.Client/Overlays/UltraVisionOverlay.cs
  Content.Client/Overlays/UltraVisionSystem.cs
  Content.Shared/DeltaV/Abilities/UltraVisionComponent.cs
  Content.Shared/Nyanotrasen/Abilities/DogVisionComponent.cs
  Content.Shared/Traits/Assorted/Components/DogVisionComponent.cs
  Content.Shared/Traits/Assorted/Components/UltraVisionComponent.cs
Labels: Changes: C#

#758 Missing Psychic Trait Strings
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization

#755 Update SECURITY.md
  SECURITY.md
Labels: Changes: Documentation, Priority: 1-Urgent, Size: 5-Very Small, Type: Cleanup

#760 Action Blacklists
  Content.Client/Actions/ActionsSystem.cs
  Content.Server/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Shared/Actions/EntityTargetActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Prototypes/Actions/psionics.yml
Labels: Changes: C#, Changes: YML

#763 Psionic Powers Add Components With Arguments.
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
Labels: Changes: C#

#761 Update MoodSystem.cs
  Content.Server/Mood/MoodSystem.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug, Type: Cleanup

#765 Traits Refactor
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
Labels: Changes: C#

#767 Made Stamres Show in Resistances View Take 2
  Content.Shared/Stunnable/StaminaDamageResistanceSystem.cs
  Resources/Locale/en-US/armor/armor-examine.ftl
Labels: Changes: C#, Changes: Localization

#762 Minor Ifrit Health Rework
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
Labels: Changes: YML

#770 Fix Missing Icon Error in Admin Menu
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: Changes: C#

#772 Xenoglossy
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: Localization, Changes: YML

#775 Increase Trait Point Granularity
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: YML, Status: Needs Discussion

#778 Fix Heisentests
  Content.Client/Voting/VoteManager.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
Labels: Changes: C#

#777 Fix RGB Moths
  Resources/Prototypes/Species/moth.yml
Labels: Changes: YML

#781 Remove DV AGPL License Headers
  Content.Server/DeltaV/StationEvents/Components/PirateRadioSpawnRuleComponent.cs
  Content.Server/DeltaV/StationEvents/Events/PirateRadioSpawnRule.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/faxmachines.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/syndicate_monitor_server.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/NPC/syndicateNPCs.yml
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Type: Codebase

#779 Return Of The Cataloguer
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: Localization, Changes: YML

#776 Psionic Power Feedback Messages
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Shared/Psionics/PsionicPowerPrototype.cs
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#740 Allow Playing Multiple Announcement Sounds at Once
  Content.Client/Announcements/Systems/AnnouncerSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Bug, Type: Cleanup

#773 Add Insulation to Robots
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML

#757 Implement Mind Contests
  Content.Shared/Contests/ContestsSystem.cs
Labels: Changes: C#

#786 Added Language and Healing Components to IPC Entities
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML

#790 Fix supermatter.ftl
  Resources/Locale/en-US/supermatter/supermatter.ftl
Labels: Changes: Localization

#798 Fix Door Access
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
Labels: Changes: YML

#803 Cherry-Pick PR #27113
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Changes: C#

#782 Improve README/Legal Files
  LEGAL.md
  README.md
Labels: Changes: Documentation, Priority: 2-High, Size: 5-Very Small, Type: Codebase

#789 Return Of The Pibble
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Datasets/Names/pitbull.yml
  Resources/Prototypes/Entities/Mobs/NPCs/dogs.yml
  Resources/Prototypes/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/animals.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Mobs/Pets/pitbull.rsi/meta.json
  Resources/Textures/Mobs/Pets/pitbull.rsi/pibble.png
  Resources/Textures/Mobs/Pets/pitbull.rsi/pibble_dead.png
  Resources/Textures/Mobs/Pets/ventbull.rsi/meta.json
  Resources/Textures/Mobs/Pets/ventbull.rsi/pibble.png
  Resources/Textures/Mobs/Pets/ventbull.rsi/pibble_dead.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#811 Make IPC Sounds Great Again
  Resources/Audio/Voice/IPC/attributions.yml
  Resources/Audio/Voice/IPC/beep_2000.ogg
  Resources/Audio/Voice/IPC/beep_500.ogg
  Resources/Audio/Voice/IPC/pai_whistle.ogg
  Resources/Audio/Voice/IPC/whirr1.ogg
  Resources/Audio/Voice/IPC/whirr2.ogg
  Resources/Audio/Voice/IPC/whirr3.ogg
  Resources/Audio/Voice/IPC/wilhelm.ogg
  Resources/Locale/en-US/emotes/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Changes: Audio

#793 Add IPC's Missing Components
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, Status: Needs Review

#795 Temporarily Disable Telegnosis
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
Labels: Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#817 Update README.md
  README.md
Labels: Changes: Documentation, Status: Needs Review

#809 Make Shoving and Stamina Great Again
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/ShovingComponent.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.Slowdown.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#799 Thieves Outside of Traitor
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Port

#819 Telepathy (Minor)Refactor
  Content.Server/Chat/TelepathicChatSystem.cs
  Content.Server/Chat/TelepathicRepeaterComponent.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Psionics/TelepathyComponent.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#820 Psionic Insulation Trait
  Content.Shared/Psionics/MindbrokenComponent.cs
  Content.Shared/Psionics/MindbrokenSystem.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small

#733 New Interaction System
  Content.Client/InteractionVerbs/InteractionVerbsSystem.cs
  Content.IntegrationTests/Tests/InteractionVerbs/InteractionPrototypesTest.cs
  Content.Server/InteractionVerbs/Actions/ChangeStandingStateAction.cs
  Content.Server/InteractionVerbs/Actions/ChatMessageAction.cs
  Content.Server/InteractionVerbs/Actions/ComplexAction.cs
  Content.Server/InteractionVerbs/Actions/ConditionalAction.cs
  Content.Server/InteractionVerbs/Actions/JitterAction.cs
  Content.Server/InteractionVerbs/Actions/ModifyHealthAction.cs
  Content.Server/InteractionVerbs/Actions/ModifyStatusEffectAction.cs
  Content.Server/InteractionVerbs/Actions/NoOpAction.cs
  Content.Server/InteractionVerbs/Actions/OnUserAction.cs
  Content.Server/InteractionVerbs/Actions/RaiseEventAction.cs
  Content.Server/InteractionVerbs/Actions/ToggleSleepingAction.cs
  Content.Server/InteractionVerbs/InteractionVerbsSystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/InteractionVerbs/Events/GetInteractionVerbsEvent.cs
  Content.Shared/InteractionVerbs/Events/InteractionVerbAttemptEvent.cs
  Content.Shared/InteractionVerbs/Events/InteractionVerbDoAfterEvent.cs
  Content.Shared/InteractionVerbs/InteractionAction.cs
  Content.Shared/InteractionVerbs/InteractionArgs.cs
  Content.Shared/InteractionVerbs/InteractionPopupPrototype.cs
  Content.Shared/InteractionVerbs/InteractionRequirement.cs
  Content.Shared/InteractionVerbs/InteractionVerbPrototype.cs
  Content.Shared/InteractionVerbs/InteractionVerbsComponent.cs
  Content.Shared/InteractionVerbs/OwnInteractionVerbsComponent.cs
  Content.Shared/InteractionVerbs/Requirements/AssortedRequirements.cs
  Content.Shared/InteractionVerbs/Requirements/ComplexRequirement.cs
  Content.Shared/InteractionVerbs/Requirements/UtilityRequirements.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/ominous.ogg
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/interaction/verbs/core.ftl
  Resources/Locale/en-US/interaction/verbs/help.ftl
  Resources/Locale/en-US/interaction/verbs/noop.ftl
  Resources/Locale/en-US/interaction/verbs/self.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_metal.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Interactions/Popups/interaction_popups.yml
  Resources/Prototypes/Interactions/base.yml
  Resources/Prototypes/Interactions/help_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Interactions/self_interactions.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Changes: Audio

#791 Rebalance Radiation Shielding
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review

#728 Glacier Real (#1169)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/DeltaV/Station/Components/StationSurfaceComponent.cs
  Content.Server/DeltaV/Station/Systems/StationSurfaceSystem.cs
  Resources/Maps/Nonstations/glacier_surface.yml
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: C#, Changes: Map

#804 Rebase Saltern
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: C#, Changes: Map, Priority: 2-High, Size: 2-Large, Status: Needs Review, Type: Feature, Type: Port, Type: Rework

#792 Core Supermatter
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/core.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/core.yml
Labels: Changes: C#, Changes: Map, Status: Needs Review

#824 Fix InnatePsionicPowers For Mapped Entities
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
Labels: Changes: C#, Changes: YML
