Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-04, with the labels that each got.

#106 Revert WizDen "Crack syndicate skulls!" Sectech Message
  Resources/Locale/en-US/advertisements/vending/sectech.ftl
Labels: Changes: Localization, Priority: 5-Whenever, Size: Very Small

#85 Fixes missing Weh emote on species
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emote_sounds.yml
Labels: Changes: YML, Pull Request Mirror

#158 Mirror: Fix arrivals not docking on spinning stations
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
Labels: Pull Request Mirror

#161 Mirror: Buff Zombie Infection
  Content.Server/Zombies/PendingZombieComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Pull Request Mirror

#173 Mirror: Add's Senior role drip to the Uniform Printer.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Pull Request Mirror

#168 Mirror: Fix Sky Blue carpet making red tables
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/tags.yml
Labels: Pull Request Mirror

#211 Mirror: Fashion is my profession - Procedural jumpsuit variants
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_short.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_skirt.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_skirt_long.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_standart.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_armless.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_bra.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_shirt.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standart.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standart2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless10.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless6.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless7.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless8.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless9.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart6.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart7.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart8.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart9.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/mask_null.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/meta.json
Labels: Pull Request Mirror

#344 Revert Salvage Shittle and Trading Post removal
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: YML

#339 Fix Pride and Courier Vendors Not Being Able To Say Thank You, and Crashing the Game Out of Protest
  Resources/Locale/en-US/deltav/advertisements/vending/courierdrobe.ftl
  Resources/Locale/en-US/deltav/advertisements/vending/pride.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Advertisements/courierdrobe.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Advertisements/pride.yml
Labels: Changes: Localization, Changes: YML

#241 Mirror: New wooden furniture
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/fence_wood.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden-bench.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/corner.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/corner_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_closed.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_closed_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/end.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/end_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/meta.json
  Resources/Textures/Structures/Walls/wooden_fence.rsi/straight.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/straight_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/tjunction.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/tjunction_small.png
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs_stage_wood.png
  Resources/Textures/Structures/stairs.rsi/stairs_wood.png
Labels: Pull Request Mirror
