Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-06, with the labels that each got.

#426 CorporatCoatsWavetwo
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/bc_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/bc_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/bc_corpo_jacket.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/cs_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/dd_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/dd_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/dd_corpo_jacket.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ee_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/fa_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/fa_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/fa_corpo_jacket.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ge_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ge_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ge_corpo_jacket.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/hi_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/hm_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/id_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/id_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/zh_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/zh_corpo_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/zh_corpo_jacket.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#424 Set RollForward Behavior to Patch
  global.json
Labels: Changes: Config, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review, Type: Codebase

#436 Update Nix Direnv .NET SDK
  shell.nix
Labels: Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#440 Fix Null Being Taken Literally, Crashing Debug on Login
  Content.Server/Administration/Managers/AdminManager.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#449 Mirror 26441: Fix atmos NaN error
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Pull Request Mirror

#447 Mirror 26430: Reduces size of smaller cartons and fix size discrepancies with empty containers
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
Labels: Pull Request Mirror

#191 Mirror: Trading Outpost now has half buy-only and half sell-only pallets
  Content.Server/Cargo/Components/CargoPalletComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_buy.png
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_sell.png
  Resources/Textures/Structures/cargo_pallets.rsi/meta.json
Labels: Changes: C#, Changes: Map, Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite, Type: Feature, Pull Request Mirror

#462 Corpo Jacket Fixes
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/bc_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_bishop_cybernetics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_bishop_cybernetics.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_bishop_cybernetics.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_cybersun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_cybersun.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_discount_dans.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_discount_dans.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_discount_dans.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_einstein_engines.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_einstein_engines.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_einstein_engines.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_five_points_armory.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_five_points_armory.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_five_points_armory.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_gilthari_exports.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_gilthari_exports.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_gilthari_exports.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hawkmoon_aquisitions.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hawkmoon_aquisitions.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hawkmoon_aquisitions.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hephestus_industries.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hephestus_industries.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_hephestus_industries.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_interdyne.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_interdyne.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_interdyne.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_zeng_hu_pharma.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_zeng_hu_pharma.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/corpo_jacket_zeng_hu_pharma.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/cs_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/dd_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ee_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/fa_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/ge_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/hi_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/hm_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/id_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/zh_corpo_jacket.rsi/equipped-OUTERCLOTHING.png
Labels: Changes: YML, Priority: 2-High, Size: 3-Medium, Changes: Sprite, Type: Bug

#433 Default to Separated UI Layout
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/UserInterface/Screens/OverlayChatGameScreen.xaml
  Content.Client/UserInterface/Screens/OverlayChatGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/ScreenType.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Vote/VoteUIController.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: UI, Priority: 4-Low, Size: 4-Small, Status: Needs Discussion, Status: Needs Review, Type: Cleanup

#470 Build doc cleanup
  BuildChecker/BuildChecker.csproj
  BuildChecker/git_helper.py
  BuildChecker/hooks/post-checkout
  BuildChecker/hooks/post-merge
  LEGAL.md
  README.md
  RUN_THIS.py
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  shell.nix
Labels: Changes: Documentation, Status: Needs Review

#464 Port Frictionless Space
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Physics/FrictionRemoverSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Balancing, Type: Port, Type: Bug

#358 Mirror: Landmine stepoff
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/LandMines/LandMineComponent.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Tiles/LavaSystem.cs
  Content.Shared/Chasm/ChasmSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/beep_landmine.ogg
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 3-Medium, Status: Needs Cleanup, Status: Help Wanted, Status: Needs Review, Type: Feature, Pull Request Mirror, Changes: Audio

#468 Workflow to Automatically Title Case PRs
  .github/workflows/prtitlecase.yml
  Tools/changelogs/package.json
  Tools/prtitlecase/index.js
  Tools/prtitlecase/package.json
Labels: Priority: 2-High, Changes: Workflow, Size: 5-Very Small, Type: Codebase

#472 Fix PRTitleCase Workflow
  .github/workflows/prtitlecase.yml
Labels: Priority: 1-Urgent, Changes: Workflow, Size: 5-Very Small, Type: Bug

#465 Port Station Goals
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/GameTicking/Events/RoundEndedEvent.cs
  Content.Server/GameTicking/Events/RoundStartedEvent.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/StationGoal/StationGoalCommand.cs
  Content.Server/StationGoal/StationGoalPaperComponent.cs
  Content.Server/StationGoal/StationGoalPaperSystem.cs
  Content.Server/StationGoal/StationGoalPrototype.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/station-goal/station-goal-command.ftl
  Resources/Locale/en-US/station-goal/station-goals.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Objectives/goals.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature

#428 Harpy Peacock Tail
  Resources/Locale/en-US/deltav/markings/harpy.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/digitigrade_inventory_template.yml
  Resources/Textures/Mobs/Customization/Harpy/harpy_chest.rsi/lower.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_chest.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_chest.rsi/upper.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_ears.rsi/harpy_ears_default.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_ears.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_legs.rsi/feet.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_legs.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_legs.rsi/talons.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_legs.rsi/thighs.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/phoenix_tail.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails.rsi/rooster_tail.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails36x36.rsi/finch_tail.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails36x36.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails48x48.rsi/meta.json
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails48x48.rsi/peacock_tail_eyes.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_tails48x48.rsi/peacock_tail_feathers.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wingcover.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/classicharpy.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy2tone1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy2tone2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpy3tone3.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpyfolded.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpyspeckled1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpyspeckled2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpyundertone1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpyundertone2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpywingtip1.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/harpywingtip2.png
  Resources/Textures/Mobs/Customization/Harpy/harpy_wings.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite, Status: Needs Review, Type: Feature

#471 Port Randomly Fire Dropped Weapons
  Content.Server/Weapons/Ranged/Systems/FireOnDropSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 2-Large, Status: Needs Review, Type: Feature

#466 Port Random Bark System
  Content.Server/Speech/Components/RandomBarkComponent.cs
  Content.Server/Speech/Systems/RandomBarkSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Port

#445 Mirror 26250: Make all implants unable to be implanted more than once
  Content.Server/Implants/ImplanterSystem.cs
  Content.Shared/Implants/Components/ImplanterComponent.cs
  Resources/Locale/en-US/implant/implant.ftl
Labels: Pull Request Mirror

#263 Mirror: Bumps LoneOps minimum required players to 20
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Discussion, Status: Needs Review, Pull Request Mirror

#434 Trait Points
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Traits/ParacusiaSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/StationEvents/Events/MassHallucinationsRule.cs
  Content.Server/Traits/Assorted/ParacusiaSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutCategoryPrototype.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Content.Shared/Clothing/Loadouts/Systems/LoadoutRequirements.cs
  Content.Shared/Clothing/Loadouts/Systems/LoadoutSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
  Content.Shared/Drunk/DrunkSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Traits/Assorted/Components/AccentlessComponent.cs
  Content.Shared/Traits/Assorted/Components/LegsParalyzedComponent.cs
  Content.Shared/Traits/Assorted/Components/LightweightDrunkComponent.cs
  Content.Shared/Traits/Assorted/Components/ParacusiaComponent.cs
  Content.Shared/Traits/Assorted/Components/PermanentBlindnessComponent.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Content.Shared/Traits/Assorted/Systems/AccentlessSystem.cs
  Content.Shared/Traits/Assorted/Systems/LegsParalyzedSystem.cs
  Content.Shared/Traits/Assorted/Systems/PermanentBlindnessSystem.cs
  Content.Shared/Traits/Assorted/Systems/SharedParacusiaSystem.cs
  Content.Shared/Traits/Prototypes/TraitCategoryPrototype.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/customization/character-requirements.ftl
  Resources/Locale/en-US/deltav/traits/traits.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/loadout-requirements.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/simplestation14/Traits/disabilities.ftl
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/quarterMaster.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/researchDirector.yml
  Resources/Prototypes/Loadouts/Jobs/cargo.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/categories.yml
  Resources/Prototypes/Loadouts/uniform.yml
  Resources/Prototypes/SimpleStation14/Traits/disabilities.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 2-High, Status: Do Not Merge, Size: 2-Large, Status: Help Wanted, Status: Needs Review, Type: Feature, Type: Port, Type: Rework

#479 Cherrypick "Shoot Over Bodies" And Related PRs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Components/TargetedProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Events/RequestShootEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/base_instruments.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/chemistry_machines.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/disease_diagnoser.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/vaccinator.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 1-Urgent, Status: Needs Review, Type: Port, Pull Request Mirror

#488 Update Patrons.yml
  Resources/Credits/Patrons.yml
Labels: Changes: Config, Changes: YML, Priority: 5-Whenever, Size: 5-Very Small, Status: Needs Discussion, Status: Needs Review, Type: Cleanup

#477 Birbs Have Wings Too
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Type: Feature

#486 Fewer Mid-Round Events
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Balancing, Type: Port, Type: Cleanup

#490 Fix Shuttle FTL
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
Labels: Changes: C#, Changes: UI, Priority: 1-Urgent

#310 Mirror: Throwing Knives: Syndicate Kit
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/throwing_knives.png
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/throwing_knives.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Pull Request Mirror

#499 Add Equip Delays to Clothing
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/shock_collar.yml
Labels: Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Discussion, Status: Needs Review, Type: Feature
