Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-09, with the labels that each got.

#806 Disable Mood In Debug
  Content.Server/Mood/MoodSystem.cs
Labels: Changes: C#, Size: 4-Small, Priority: 1-Urgent, Status: Needs Review, Type: Codebase, Type: Bug, Type: Cleanup

#805 Diagonal Window Smoothing
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Feature, Type: Cleanup

#788 Maximize Default Description Limits
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Status: Needs Review

#840 Reduce Default PowerAttack Stamina Cost
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
Labels: Changes: C#

#833 Bot for Changelog
  .github/workflows/changelog.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: Workflow

#802 Added Jukebox (#26736)
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Client/Audio/Jukebox/JukeboxSystem.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/Audio/Jukebox/JukeboxPrototype.cs
  Content.Shared/Audio/Jukebox/JukeboxUi.cs
  Content.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
  Resources/Audio/Jukebox/attributions.yml
  Resources/Audio/Jukebox/constellations.ogg
  Resources/Audio/Jukebox/drifting.ogg
  Resources/Audio/Jukebox/flip-flap.ogg
  Resources/Audio/Jukebox/sector11.ogg
  Resources/Audio/Jukebox/starlight.ogg
  Resources/Audio/Jukebox/title3.ogg
  Resources/Locale/en-US/jukebox/jukebox-menu.ftl
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Structures/Machines/jukebox.rsi/meta.json
  Resources/Textures/Structures/Machines/jukebox.rsi/off.png
  Resources/Textures/Structures/Machines/jukebox.rsi/on.png
  Resources/Textures/Structures/Machines/jukebox.rsi/select.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 2-Large, Priority: 1-Urgent, Changes: Sprite, Status: Needs Review, Type: Feature, Type: Port, Changes: Audio

#829 Psionic Extraplanar Creatures
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
Labels: Changes: YML, Status: Needs Review

#787 Delete All Then Ghost Fault Tolerance
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small

#843 Add PR URL to Changelogs and Make Author a Header
  Tools/actions_changelogs_since_last_run.py
  Tools/changelogs/changelog.js
Labels: Priority: 4-Low, Size: 5-Very Small, Type: Bug

#808 Psychognomy
  Content.Server/Chat/TelepathicChatSystem.Psychognomy.cs
  Content.Server/Chat/TelepathicChatSystem.cs
  Content.Server/Research/Oracle/OracleSystem.cs
  Content.Shared/Psionics/Passives/Psychognomy/PsychognomistComponent.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Resources/Locale/en-US/psionics/psionic-chat.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/psionics/psychognomic-descriptors.ftl
  Resources/Migrations/eeMigration.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Markers/Spawners/statues.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small

#831 Fix Prize Balls' Pet Rock
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
Labels: Changes: YML

#844 More/Better Tips
  Resources/Prototypes/Datasets/tips.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium

#854 Fix some Things with Interaction Verbs
  Content.Shared/InteractionVerbs/InteractionArgs.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
  Resources/Locale/en-US/interaction/verbs/core.ftl
  Resources/Locale/en-US/interaction/verbs/help.ftl
  Resources/Prototypes/Interactions/base.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#848 Fix Colored Jumpskirts Actually Being Skirts
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
Labels: Changes: YML

#842 Ports Trait Rebalance From Floof
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#801 Roboticist
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robodrobe.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/pda.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Textures/Clothing/Back/Backpacks/robotics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/robotics.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/robotics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/robotics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/robotics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/robotics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/robotics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/robotics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/robotics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/robotics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/robotics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/robotics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/robotics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/robotics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/robotics.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-robotics.png
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature

#869 Fix For Discord Changelog
  .github/workflows/changelog.yml
  .github/workflows/discord-changelog.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: Workflow

#872 Civilian Uniform Loadout Group
  Resources/Prototypes/CharacterItemGroups/itemGroups.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: YML

#873 Shoes Loadout Group
  Resources/Prototypes/CharacterItemGroups/shoeGroup.yml
  Resources/Prototypes/Loadouts/shoes.yml
Labels: Changes: YML

#876 Hat Loadout Group
  Resources/Prototypes/CharacterItemGroups/headGroup.yml
  Resources/Prototypes/Loadouts/head.yml
Labels: Changes: YML

#877 Outerclothes Loadout Group
  Resources/Prototypes/CharacterItemGroups/outerwearGroup.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
Labels: Changes: YML

#878 Gloves Loadout Group
  Resources/Prototypes/CharacterItemGroups/gloveGroup.yml
  Resources/Prototypes/Loadouts/hands.yml
Labels: Changes: YML

#880 Miscellaneous Item Groups
  Resources/Prototypes/CharacterItemGroups/miscItemGroups.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/species.yml
Labels: Changes: YML

#874 Neck Loadout Group
  Resources/Prototypes/CharacterItemGroups/neckGroup.yml
  Resources/Prototypes/Loadouts/neck.yml
Labels: Changes: YML

#879 Eyewear Loadout Group
  Resources/Prototypes/CharacterItemGroups/eyesGroup.yml
  Resources/Prototypes/Loadouts/eyes.yml
Labels: Changes: YML

#875 Masks Loadout Group
  Resources/Prototypes/CharacterItemGroups/maskGroup.yml
  Resources/Prototypes/Loadouts/mask.yml
Labels: Changes: YML

#881 Update discord-changelog.yml
  .github/workflows/discord-changelog.yml
Labels: Priority: 1-Urgent, Changes: Workflow, Size: 5-Very Small

#861 [Feature] Shortcut Construction System
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
Labels: Changes: C#, Changes: YML

#860 Update gloves.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: YML

#818 Default TOML File
  Resources/ConfigPresets/DeltaV/apoapsis.toml
  Resources/ConfigPresets/DeltaV/deltav.toml
  Resources/ConfigPresets/DeltaV/inclination.toml
  Resources/ConfigPresets/DeltaV/periapsis.toml
  Resources/ConfigPresets/EinsteinEngines/default.toml
Labels: Changes: Config

#858 Make Height Sliders Affect Your Bloodstream Volume
  Content.Server/HeightAdjust/BloodstreamAdjustSystem.cs
  Content.Server/HeightAdjust/BloodstreamAffectedByMassComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/HeightAdjust/HeightAdjustSystem.cs
  Content.Shared/HeightAdjust/HeightAdjustedEvent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#856 Disable Quick Swap for Item Slots by Default
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Changes: C#

#851 Fixed some Comment Syntax
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/revenant/revenant.ftl
  Resources/Locale/en-US/weapons/melee/melee.ftl
Labels: Changes: Localization

#850 Add New Nuke Music
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/chip_nightmare.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Changes: YML, Changes: Audio

#849 Change Slime Scream
  Resources/Audio/Voice/Slime/slime_scream_f2.ogg
Labels: Changes: Audio

#823 Make Hugging/Petting Interactions Affect Mood
  Content.Server/InteractionVerbs/Actions/MoodAction.cs
  Content.Shared/InteractionVerbs/Requirements/AssortedRequirements.cs
  Resources/Locale/en-US/interaction/verbs/noop.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Prototypes/Interactions/mood_interactions.yml
  Resources/Prototypes/Interactions/noop_interactions.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#812 Display Language Fonts/Colors in Chat Bubbles
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Changes: Localization, Priority: 3-Medium, Size: 5-Very Small

#796 Oscillating Event Scheduler
  Content.Server/StationEvents/Components/OscillatingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/OscillatingStationEventScheduler.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-irregular.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 3-Medium, Type: Feature

#885 TraitSystem Component Removals (Anomalous Positronics Trait)
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Assorted/Components/NormalVisionComponent.cs
  Content.Shared/Traits/Assorted/Systems/NormalVisionSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#882 Cherry-Pick "Shrimp Mob for Metempsychosis (#862)"
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/fun.yml
  Resources/Prototypes/Nyanotrasen/metempsychoticNonHumanoids.yml
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/dead.png
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Animals/shrimp.rsi/shrimp.png
Labels: Changes: YML, Status: Do Not Merge, Changes: Sprite

#834 Fix Translators Not Working Correctly Under Certain Conditions
  Content.Server/Language/TranslatorSystem.cs
  Content.Shared/Language/Components/Translators/HoldsTranslatorComponent.cs
  Content.Shared/Language/Components/Translators/ImplantedTranslatorComponent.cs
Labels: Changes: C#, Status: Needs Review

#822 Re-Enable Recycler Gibbing
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small

#759 Adds a Toy Which Makes Bwoink Sound
  Resources/Audio/Admin/adminhelp_old.ogg
  Resources/Prototypes/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/prizecounter.yml
  Resources/Textures/Objects/Fun/bwoink_hammer.rsi/icon.png
  Resources/Textures/Objects/Fun/bwoink_hammer.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/bwoink_hammer.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/bwoink_hammer.rsi/meta.json
Labels: Changes: YML, Size: 4-Small, Priority: 5-Whenever, Changes: Sprite, Status: Needs Review, Changes: Audio

#807 AddPsionicPower Command
  Content.Server/Psionics/PsionicsCommands.cs
  Resources/Locale/en-US/psionics/psionic-commands.ftl
Labels: Changes: C#, Changes: Localization, Priority: 3-Medium, Size: 5-Very Small

#838 Fix Maps Missing Assistants
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/glacier.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, Priority: 2-High, Size: 5-Very Small

#866 Nerf Default Power Attack
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
Labels: Changes: C#, Status: Needs Review

#857 Update Clothing Assignments of Suit/Skirt
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/bartender_purple.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/gladiator.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/gladiator.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/gladiator.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/kimono.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/kimono.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/kimono.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/kimono.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/kimono.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_dark.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/monastic_robe_light.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#871 Re-Enable Arrivals
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#814 Americanize Contests System
  Content.Shared/Contests/ContestsSystem.Utilities.cs
  Content.Shared/Contests/ContestsSystem.cs
Labels: Changes: C#

#884 Step Trigger Minor Refactor
  Content.Server/Mousetrap/MousetrapSystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#891 Fix Logic Requirements Not Checking Inversion
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug, Type: Cleanup

#870 Split Arm And Leg Markings
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/oni_feet.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/morpheus.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/shellguard.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/wardtakahashi.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/xion.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/zenghu.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#894 Hotfix Linter
  Content.Server/StationEvents/OscillatingStationEventScheduler.cs
Labels: Changes: C#

#783 Food Recipe Guidebook
  Content.Client/Guidebook/Controls/GuideFoodComposition.xaml
  Content.Client/Guidebook/Controls/GuideFoodComposition.xaml.cs
  Content.Client/Guidebook/Controls/GuideFoodEmbed.xaml
  Content.Client/Guidebook/Controls/GuideFoodEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideFoodGroupEmbed.xaml
  Content.Client/Guidebook/Controls/GuideFoodGroupEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideFoodSource.xaml
  Content.Client/Guidebook/Controls/GuideFoodSource.xaml.cs
  Content.Client/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Shared/Nutrition/Components/ButcherableComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedFoodGuideDataSystem.cs
  Resources/Locale/en-US/guidebook/food.ftl
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Documentation, Changes: YML

#901 Jetpack Server Configuration
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: Changes: C#, Status: Needs Review

#902 Medical Loadout Groups
  Resources/Prototypes/CharacterItemGroups/medicalGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
Labels: Changes: YML

#900 Penlight-Fixes
  Content.Server/Medical/PenLightSystem.cs
  Content.Shared/Medical/PenLightComponent.cs
  Resources/Locale/en-US/medical/components/penlight.ftl
Labels: Changes: C#, Changes: Localization, Status: Needs Review

#893 Fix Languages Again
  Content.Client/Language/LanguageMenuWindow.xaml.cs
  Content.Client/Language/Systems/LanguageSystem.cs
  Content.Client/UserInterface/Systems/Language/LanguageMenuUIController.cs
  Content.Server/Language/TranslatorSystem.cs
Labels: Changes: C#, Changes: UI

#909 Cargo Loadout Groups
  Resources/Prototypes/CharacterItemGroups/cargoGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/cargo.yml
Labels: Changes: YML

#908 Security Loadout Groups
  Resources/Prototypes/CharacterItemGroups/securityGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
Labels: Changes: YML

#906 Service & Instrument Loadout Groups
  Resources/Prototypes/CharacterItemGroups/musicianInstrumentsGroups.yml
  Resources/Prototypes/CharacterItemGroups/serviceGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/items.yml
Labels: Changes: YML

#907 Engineering Loadout Groups
  Resources/Prototypes/CharacterItemGroups/engineeringGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
Labels: Changes: YML

#910 Reverse Engineering Update Pr Port/ Board Cost Balance
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Devices/swapper.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: YML

#911 Alcohol Ethanol Content Fix
  Resources/Prototypes/DeltaV/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: Changes: YML, Status: Needs Review

#912 Port Delta-V Jukebox Additions
  Resources/Audio/DeltaV/Jukebox/DOS=HIGH,_UMB.ogg
  Resources/Audio/DeltaV/Jukebox/Patricia_Taxxon_-_Minute_-_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/Phoron_Will_Make_Us_RichMONO2.ogg
  Resources/Audio/DeltaV/Jukebox/Scratch_Post_-_OST_MONO.ogg
  Resources/Audio/DeltaV/Jukebox/a_different_reality_lagoona_remix.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/aggravated.it-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/autumnal_equinox.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_alone.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/drozerix_-_leisurely_voice.xm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/every_light_is_blinking_at_onceMONO.ogg
  Resources/Audio/DeltaV/Jukebox/hackers-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/lasers_rip_apart_the_bulkheadMONO.ogg
  Resources/Audio/DeltaV/Jukebox/marhaba-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/psirius_-_nymphs_of_the_forest.mptm-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/shibamata-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/space_asshole-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/superposition-MONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: Changes: YML, Changes: Audio

#895 Make Blood Deficiency Bloodloss Consistent
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/HeightAdjust/BloodstreamAdjustSystem.cs
  Content.Server/Traits/BloodDeficiencyComponent.cs
  Content.Server/Traits/BloodDeficiencySystem.cs
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: C#, Changes: YML

#916 Add Access Wire to Airlocks
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: YML

#914 Science Loadout Groups + Command Cost Adjustments
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Prototypes/CharacterItemGroups/scienceGroups.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfPersonnel.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/quarterMaster.yml
  Resources/Prototypes/Loadouts/Jobs/Heads/researchDirector.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
Labels: Changes: Localization, Changes: YML

#915 Bartender Loadout Groups (Also Item Group Localizations)
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/CharacterItemGroups/serviceGroups.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
Labels: Changes: Localization, Changes: YML

#898 Cherry-Pick #28077
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Changes: C#, Changes: UI, Priority: 2-High, Size: 5-Very Small

#897 Slight Starting Gear Changes.
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small

#889 User-Friendly Sprinting
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.IntegrationTests/Tests/Slipping/SlippingTest.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Events/UpdateInputCVarsMessage.cs
  Content.Shared/Movement/Systems/SharedMoverController.CVars.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Size: 3-Medium, Priority: 3-Medium

#888 Fix #864 and Rehydratable System Doing Client-Side Spawn
  Content.Server/Power/Components/ActiveChargerComponent.cs
  Content.Server/Power/Components/ChargingComponent.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Shared/Chemistry/EntitySystems/RehydratableSystem.cs
Labels: Changes: C#

#890 Hotfix Shortconstructionmenu Radius Becoming Infinite
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
Labels: Changes: C#

#868 Nerf Uncloneable
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: YML, Status: Needs Review

#862 Weather Block Marker, Rad Markers and Invisible Walls
  Resources/Prototypes/Entities/Markers/environmental.yml
  Resources/Textures/Markers/environment.rsi/base-blue.png
  Resources/Textures/Markers/environment.rsi/base-green.png
  Resources/Textures/Markers/environment.rsi/base-red.png
  Resources/Textures/Markers/environment.rsi/fire.png
  Resources/Textures/Markers/environment.rsi/meta.json
  Resources/Textures/Markers/environment.rsi/rad.png
  Resources/Textures/Markers/environment.rsi/wall.png
  Resources/Textures/Markers/environment.rsi/weather.png
Labels: Changes: YML, Changes: Sprite

#919 Harpy Flight System
  Content.Client/Flight/Components/FlightVisualsComponent.cs
  Content.Client/Flight/FlightSystem.cs
  Content.Client/Flight/FlyingVisualizerSystem.cs
  Content.Server/Flight/FlightSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Flight/Events.cs
  Content.Shared/Flight/FlightComponent.cs
  Content.Shared/Flight/SharedFlightSystem.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Resources/Audio/Effects/Flight/wingflap1.ogg
  Resources/Audio/Effects/Flight/wingflap2.ogg
  Resources/Audio/Effects/Flight/wingflap3.ogg
  Resources/Locale/en-US/cuffs/components/handcuff-component.ftl
  Resources/Locale/en-US/flight/flight_system.ftl
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/SoundCollections/flight.yml
  Resources/Textures/Interface/Actions/flight.rsi/flight_off.png
  Resources/Textures/Interface/Actions/flight.rsi/flight_on.png
  Resources/Textures/Interface/Actions/flight.rsi/meta.json
  Resources/Textures/Shaders/flap.swsl
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#883 Physical Pulling
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review

#927 Core Fullsize (Underfueled) AME
  Resources/Maps/core.yml
Labels: Changes: Map, Priority: 2-High, Size: 5-Very Small

#925 Fixes to Bench and Barber Chair Rotation
  Resources/Prototypes/Entities/Structures/Specific/bay12barbershop.yml
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
  Resources/Textures/Structures/Specific/barberchair.rsi/barberchair.png
  Resources/Textures/Structures/Specific/barberchair.rsi/meta.json
  Resources/Textures/Structures/Specific/barbershop.rsi/barberchair.png
  Resources/Textures/Structures/Specific/barbershop.rsi/meta.json
Labels: Changes: YML, Size: 4-Small, Changes: Sprite, Status: Needs Review

#921 Re-Adds Fireaxe Prying
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/tool_qualities.yml
Labels: Changes: Localization, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#918 9 More Traits
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Discussion, Status: Needs Review

#845 Open Market Tacsuits
  Resources/Locale/en-US/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Maps/glacier.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/hardsuits.yml
Labels: Changes: Localization, Changes: Map, Priority: 4-Low, Size: 4-Small

#830 Psionic Power Rolling Rework
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Server/StationEvents/Events/NoosphericZapRule.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Psionics/PsionicPowerPrototype.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Status: Needs Review

#771 IPC Refactor
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Power/Components/SiliconEmitSoundOnDrainedComponent.cs
  Content.Server/Power/Systems/BatteryDrinkerSystem.cs
  Content.Server/Power/Systems/BatteryElectrocuteChargeSystem.cs
  Content.Server/Power/Systems/SiliconEmitSoundOnDrainedSystem.cs
  Content.Server/Silicon/BatteryLocking/BatterySlotRequiresLockSystem.cs
  Content.Server/Silicon/BlindHealing/BlindHealingComponent.cs
  Content.Server/Silicon/BlindHealing/BlindHealingSystem.cs
  Content.Server/Silicon/Charge/Components/SiliconDownOnDeadComponent.cs
  Content.Server/Silicon/Charge/Systems/SiliconChargeDeathSystem.cs
  Content.Server/Silicon/Charge/Systems/SiliconChargeSystem.cs
  Content.Server/Silicon/DeadStartupButtonSystem/DeadStartupButtonSystem.cs
  Content.Server/Silicon/EmitBuzzWhileDamaged/EmitBuzzWhileDamagedSystem.cs
  Content.Server/Silicon/EncryptionHolderRequiresLock/EncryptionHolderRequiresLockSystem.cs
  Content.Server/Silicon/IPC/InternalEncryptionKeySpawner.cs
  Content.Server/Silicon/Systems/SiliconMiscSystem.cs
  Content.Server/Silicon/WeldingHealable/WeldingHealableComponent.cs
  Content.Server/Silicon/WeldingHealable/WeldingHealableSystem.cs
  Content.Server/Silicon/WeldingHealing/WeldingHealingComponent.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Lock/LockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Silicon/BatteryDrinkerEvent.cs
  Content.Shared/Silicon/BlindHealing/SharedBlindHealingSystem.cs
  Content.Shared/Silicon/Components/SiliconComponent.cs
  Content.Shared/Silicon/DeadStartupButton/DeadStartupButtonComponent.cs
  Content.Shared/Silicon/DeadStartupButton/SharedDeadStartupButtonSystem.cs
  Content.Shared/Silicon/EmitBuzzWhileDamaged/EmitBuzzWhileDamagedComponent.cs
  Content.Shared/Silicon/Systems/SharedSiliconSystem.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: Changes: C#, Size: 3-Medium, Priority: 3-Medium, Size: 2-Large, Status: Needs Review

#931 Filespace ContestsSystem.cs
  Content.Shared/Contests/ContestsSystem.cs
Labels: Changes: C#, Priority: 1-Urgent

#926 Fix Uncloneable Feedback Message
  Content.Server/Cloning/CloningSystem.Utility.cs
Labels: Changes: C#, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#815 Better Lying Down System (From White Dream)
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Client/Telescope/TelescopeSystem.cs
  Content.Server/Standing/LayingDownComponent.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Telescope/TelescopeSystem.cs
  Content.Server/Traits/Assorted/LayingDownModifierSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Telescope/SharedTelescopeSystem.cs
  Content.Shared/Telescope/TelescopeComponent.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/Escape-Menu/options-menu.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Port

#928 Remove DeltaV Options
  Content.Client/DeltaV/Options/UI/Tabs/DeltaTab.xaml
  Content.Client/DeltaV/Options/UI/Tabs/DeltaTab.xaml.cs
  Content.Client/Options/UI/OptionsMenu.xaml
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Overlays/DogVisionSystem.cs
  Content.Client/Overlays/UltraVisionSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/escape-menu/options-menu.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Respace

#932 Fix SpawnAndDeleteAllEntities
  Content.Server/Silicon/IPC/InternalEncryptionKeySpawner.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small

#929 [Port] StepTriggerGroup From WhiteDream
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerImmuneComponent.cs
  Content.Shared/StepTrigger/Prototypes/StepTriggerGroup.cs
  Content.Shared/StepTrigger/Prototypes/StepTriggerTypePrototype.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Tiles/bananium.yml
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Prototypes/Entities/Tiles/liquid_plasma.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/StepTrigger/StepTriggerTypes.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Port

#933 Fix Laying Down Bugs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#899 Non-Destructive Universal Language
  Content.Server/Chemistry/ReagentEffects/MakeSentient.cs
  Content.Server/Language/LanguageSystem.Networking.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Traits/Assorted/ForeignerTraitSystem.cs
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierComponent.cs
  Content.Server/Traits/Assorted/LanguageKnowledgeModifierSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 3-Medium, Status: Needs Review

#934 NyanoCombat Part 4: MeleeSystem Refactor Part 2, Electric Boogaloo
  Content.Shared/Contests/ContestsSystem.Utilities.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Holy Shit, Priority: 3-Medium, Size: 2-Large

#939 Allow Crawling Entities To Go Under Tables
  Content.Client/Standing/LayingDownSystem.cs
  Content.Server/Flight/FlightSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/flight/flight_system.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium

#938 Melee Part 5: Less Exhaustion
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 4-Small, Status: Needs Review

#935 Variable NPC Juke Aggression
  Content.Server/NPC/Components/NPCJukeComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/JukeOperator.cs
  Content.Server/NPC/Systems/NPCJukeSystem.cs
Labels: Changes: C#, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#941 Update SetOutfitCommand.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review

#913 Longarms Require Wielding
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: YML, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#922 Ports Atmospheric Alerts Computer
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsComputerComponent.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsDeviceComponent.cs
  Content.Shared/Atmos/Consoles/SharedAtmosAlertsComputerSystem.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Textures/Interface/AtmosMonitoring/status_bg.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Port

#936 Basic Language Menu
  Content.Server/Traits/Assorted/ForeignerTraitComponent.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
  Resources/Locale/en-US/language/commands.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/dogs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Language/Species-Specific/diona.yml
  Resources/Prototypes/Language/Species-Specific/moth.yml
  Resources/Prototypes/Language/Species-Specific/nekomimetic.yml
  Resources/Prototypes/Language/Species-Specific/reptilian.yml
  Resources/Prototypes/Language/Species-Specific/slimeperson.yml
  Resources/Prototypes/Language/Species-Specific/vulpkanin.yml
  Resources/Prototypes/Language/Standard/elyran.yml
  Resources/Prototypes/Language/Standard/freespeak.yml
  Resources/Prototypes/Language/Standard/solcommon.yml
  Resources/Prototypes/Language/Standard/taucetibasic.yml
  Resources/Prototypes/Language/Standard/tradeband.yml
  Resources/Prototypes/Language/animal.yml
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/Language/languages.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#940 Remove Become Psionic Objective
  Content.Server/Nyanotrasen/Objectives/Components/BecomePsionicConditionComponent.cs
  Content.Server/Nyanotrasen/Objectives/Systems/BecomePsionicConditionSystem.cs
  Resources/Prototypes/Nyanotrasen/Objectives/traitor.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small

#930 [Port] Uplink Discounts From White Dream
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/StoreDiscount/StoreDiscountSystem.cs
  Content.Shared/Store/ListingLocalisationHelpers.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StorePresetPrototype.cs
  Content.Shared/StoreDiscount/SalesSpecifier.cs
  Resources/Locale/en-US/store/sales.ftl
  Resources/Locale/ru-RU/store/sales.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_White/Store/categories.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#942 Psionic "Heal Other" Powers
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Shared/Actions/Events/PsionicHealOtherPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Textures/Interface/Actions/psionics.rsi/healing_word.png
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
  Resources/Textures/Interface/Actions/psionics.rsi/revivify.png
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review

#943 More Objects Hit By Projectiles
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: YML, Priority: 5-Whenever, Size: 5-Very Small

#949 Fix HealingWord & Revivify Bugs
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Shared/Actions/Events/PsionicHealOtherPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Resources/Prototypes/Actions/psionics.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 4-Small

#945 More Quick Construction Recipes And Upgrades
  Content.Client/ShortConstruction/UI/ShortConstructionMenuBUI.cs
  Content.Shared/ShortConstruction/ShortConstructionComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: C#, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review

#959 IPCs Don't Weigh 5kg
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#956 Enemies and Allies Content Port
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/Body/Organs/Friendstomach.yml
  Resources/Prototypes/Body/Prototypes/Friendshaped.yml
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/sleeping.png
  Resources/Textures/Mobs/Animals/patriarch.rsi/meta.json
  Resources/Textures/Mobs/Animals/patriarch.rsi/patriarch.png
  Resources/Textures/Mobs/Animals/patriarch.rsi/patriarch_crit.png
  Resources/Textures/Mobs/Animals/patriarch.rsi/patriarch_dead.png
  Resources/Textures/Mobs/Animals/patriarch.rsi/patriarch_sleeping.png
  Resources/Textures/Mobs/Animals/subject7355.rsi/glow.png
  Resources/Textures/Mobs/Animals/subject7355.rsi/meta.json
  Resources/Textures/Mobs/Animals/subject7355.rsi/subject7355.png
  Resources/Textures/Mobs/Animals/subject7355.rsi/subject7355_crit.png
  Resources/Textures/Mobs/Animals/subject7355.rsi/subject7355_dead.png
  Resources/Textures/Mobs/Animals/subject7355.rsi/subject7355_sleeping.png
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Changes: Sprite, Status: Needs Review, Type: Port

#961 Remove InteractionPopup From IPCs
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small

#963 Fix IPC Reboot Button
  Content.Server/Silicon/DeadStartupButtonSystem/DeadStartupButtonSystem.cs
  Content.Shared/Silicon/DeadStartupButton/SharedDeadStartupButtonSystem.cs
Labels: Changes: C#, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review

#954 Fix HealthContest Crash
  Content.Shared/Contests/ContestsSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#948 Fix Moodlet Popup Spam
  Content.Server/Mood/MoodSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review

#969 Update Noospheric Events' Glimmer Ranges
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#966 Pulling Minor Fixes
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#964 Kemonomimi Markings For Humans
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Species/human.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small

#968 Harpy Language!
  Resources/Fonts/Cambria.ttf
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/languageGroups.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Language/Species-Specific/harpy.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#970 Heal Other Bugfix 2
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Type: Bug

#972 1984 Psionics Guide
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/special.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Guidebook/epistemics.yml
  Resources/ServerInfo/Nyanotrasen/Guidebook/Epistemics/Psionics.xml
Labels: Changes: Localization, Changes: Documentation, Changes: YML

#974 Fixed Cyberlimbs and Named Color Categories
  Resources/Locale/en-US/silicons/cyberlimbs.ftl
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/xion.yml
  Resources/Prototypes/Species/ipc.yml
Labels: Changes: Localization, Changes: YML

#977 Nerf Reagent Slimes
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
Labels: Changes: YML

#965 Interaction Verb Minor Fixes
  Content.Server/InteractionVerbs/Actions/ChangeStandingStateAction.cs
  Content.Server/InteractionVerbs/InteractionVerbsSystem.cs
  Content.Shared/InteractionVerbs/InteractionVerbPrototype.cs
  Content.Shared/InteractionVerbs/Requirements/AssortedRequirements.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
Labels: Changes: C#, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#962 Update LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml
Labels: Changes: UI, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Port

#987 Shadeskip Power
  Content.Server/Abilities/Psionics/AnomalyPowerSystem.cs
  Content.Shared/Actions/Events/AnomalyPowerActionEvent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Nyanotrasen/psionicPowers.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
  Resources/Textures/Interface/Actions/psionics.rsi/shadeskip.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Changes: Sprite, Status: Needs Review

#988 Psionic Mood System Interactions
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Shared/Actions/Events/PsionicHealOtherPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Content.Shared/Psionics/SharedPsionicAbilitiesSystem.cs
Labels: Changes: C#, Size: 4-Small, Priority: 3-Medium

#983 More Psionic Traits
  Content.Server/Psionics/PsionicsSystem.Events.cs
  Content.Server/Traits/Assorted/PotentiaModifierComponent.cs
  Content.Server/Traits/Assorted/PotentiaModifierSystem.cs
  Content.Shared/Psionics/PsionicPowerPrototype.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review

#967 Better Narcolepsy
  Content.Server/Chemistry/ReagentEffects/ResetNarcolepsy.cs
  Content.Server/Traits/Assorted/NarcolepsyComponent.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Bed/Sleep/SleepingComponent.cs
  Resources/Locale/en-US/sleep/narcolepsy.ftl
Labels: Changes: C#, Changes: Localization, Size: 4-Small, Priority: 3-Medium
