Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-12, with the labels that each got.

#1298 Loadouts Lore Documentation
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Resources/Locale/en-US/guidebook/lore.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Guidebook/Loadouts/loadoutInfo.yml
  Resources/Prototypes/Guidebook/Lore/settinglore.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/ServerInfo/Guidebook/LoadoutInfo/Security/SecurityWeapons.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/Corporations.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/EinsteinEngines.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/HephaestusIndustries.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/IdrisIncorporated.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/NanoTrasen.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/OrionExpress.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/PrivateMilitaryContractingGroup.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/StellarCorporateConglomerate.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/ZavodskoiInterstellar.xml
  Resources/ServerInfo/Guidebook/Lore/Corporations/ZengHuPharmaceuticals.xml
  Resources/ServerInfo/Guidebook/Lore/SettingLore.xml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Documentation, Changes: YML, Status: Needs Review

#1301 ♂️ Add Male Arachne
  Resources/Prototypes/Entities/Mobs/Customization/Markings/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Species/arachne.yml
Labels: Changes: YML

#1302 Add Localization for Senior Physician and Senior Engineer
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: Localization, Changes: YML, Priority: 2-High, Size: 5-Very Small, Type: Bug

#1303 Make Cultist Constructs Speak Eldritch
  Resources/Prototypes/WhiteDream/Entities/Objects/Cult/constructs.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Cult/souls_shards.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1306 Fix Lobotomy
  Content.Shared/Body/Organ/OrganComponent.cs
  Content.Shared/Medical/Surgery/Conditions/SurgeryBodyComponentConditionComponent.cs
  Content.Shared/Medical/Surgery/Conditions/SurgeryComponentConditionComponent.cs
  Content.Shared/Medical/Surgery/Conditions/SurgeryOrganOnAddConditionComponent.cs
  Content.Shared/Medical/Surgery/Conditions/SurgeryPartComponentConditionComponent.cs
  Content.Shared/Medical/Surgery/SharedSurgerySystem.Steps.cs
  Content.Shared/Medical/Surgery/SharedSurgerySystem.cs
  Content.Shared/Medical/Surgery/Steps/SurgeryStepComponent.cs
  Resources/Locale/en-US/surgery/surgery-popup.ftl
  Resources/Prototypes/Entities/Surgery/surgeries.yml
  Resources/Prototypes/Entities/Surgery/surgery_steps.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1279 You Can Now Drag People Into Deep Friers
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/Nyanotrasen/Kitchen/SharedDeepfryerSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#1189 Emp Flashlight (#5)
  Content.Server/EmpFlashlight/EmpOnHitComponent.cs
  Content.Server/EmpFlashlight/EmpOnHitSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/entities/objects/tools/empflashlight.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Tools/EmpFlashlight.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Feature, Type: Port

#1152 Add Europa Map to Rotation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/europa.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Parallaxes/planet.yml
  Resources/Textures/Tiles/Planet/Desert/desert1.png
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1210 Update medicine.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Priority: 5-Whenever, Size: 5-Very Small, Status: Needs Review, Type: Balancing, Type: Port, Type: Bug

#1313 Atmospheric Alerts Computer Upgrades
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Client/Pinpointer/NavMapSystem.Regions.cs
  Content.Client/Pinpointer/NavMapSystem.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Shared/Pinpointer/NavMapComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1311 More Bug Fixes
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/MedibotInjectOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyInjectableOperator.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Fluids/Components/PreventSpillerComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Do Not Merge, Status: Needs Review

#1310 ChemMaster Sorting
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Resources/Locale/en-US/game-ticking/game-rules/gamerule-admin.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Port

#1320 Inverts the Check for Material Whitelist in CanChangeMaterialAmount
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Type: Bug

#1316 Build Your Own TEG!
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Feature

#1319 Several Small Map Fixes to Europa
  Resources/Maps/europa.yml
Labels: Changes: Map, Changes: YML

#1321 Fix Rules
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC10AHelp.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC11AhelpThreats.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC12MinAge.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC14ICinOOC.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC1Admins.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC2DBAD.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC3NoHate.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC4NoERP.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC5Metacomms.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC6BanEvasion.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC7EnglishOnly.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC8Exploits.xml
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC9Multikey.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/DefaultRuleset.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR10Subordination.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR11-1AnimalEscalation.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR11-2ConflictTypes.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR11Escalation.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR12RoleAbandonment.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR13PerformRole.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR14SecComStandard.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR15SpaceLaw.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR1Silicons.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR2Familiars.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR3NormalRP.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR5Arrivals.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR6SelfAntag.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR7RoundStalling.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR8NoFriendlyAntag.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS0.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS10OrderConflicts.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS1Laws.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS2LawPriority.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS3LawRedefinition.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS4RequestChanges.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS5FreeSilicon.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS6UnreasonableOrders.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS7Consistency.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS8DefaultCrewDefinition.xml
  Resources/ServerInfo/Guidebook/ServerRules/SiliconRules/RuleS9DefaultHarmDefinition.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenCoreOnlyRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenLRPRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenMRPRules.xml
Labels: Changes: Documentation, Changes: YML

#1309 Uplink: Remove Deception Category
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Port, Status: Awaiting Merge

#1323 [Feat] Bring Back Die Glorious Death, Hijack And Ian's Meat Traitor Objectives
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Changes: YML

#1329 Replace Direct Uses of GameTicker Dictionary with `TryGetValue` (#33222)
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 5-Very Small

#1325 Fix Debug Assert.
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small

#1330 Fix Melee Weapon Attack Speed
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/weapon_toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/dulled.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Melee/cult.yml
Labels: Changes: YML

#1322 CVar CharacterRequirement
  Content.Shared/Customization/Systems/CharacterRequirements.Misc.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Resources/Locale/en-US/customization/character-requirements.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#1331 Back Out "Flash Now Flashes Black Instead of White. (#14642)"
  Resources/Textures/Shaders/flashed_effect.swsl
Labels: Changes: YML

#1332 Nix Housekeeping
  .envrc
  flake.lock
  flake.nix
  shell.nix
Labels: Changes: YML

#1318 Billions Must Flip
  Content.Client/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/Emoting/EmoteSystem.cs
  Content.Shared/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/emotes.ftl
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Port

#1324 Re-Enable Clown/Mime Hardsuit and Clown Snoring
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/mime_hardsuit.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: Changes: YML, Status: Needs Review

#1276 Blood Cult DLC 1: Make It an Actually Playable Game (Mode)
  Content.Client/ListViewSelector/ListViewSelectorBUI.cs
  Content.Client/WhiteDream/BloodCult/PhaseShift/PhaseShiftSystem.cs
  Content.Client/WhiteDream/BloodCult/Runes/UI/RuneDrawerBUI.cs
  Content.Server/WhiteDream/BloodCult/BloodRites/BloodRitesAuraComponent.cs
  Content.Server/WhiteDream/BloodCult/BloodRites/BloodRitesSystem.cs
  Content.Server/WhiteDream/BloodCult/ConstructActionsSystem.cs
  Content.Server/WhiteDream/BloodCult/Constructs/ConstructSystem.cs
  Content.Server/WhiteDream/BloodCult/Constructs/PhaseShift/PhaseShiftSystem.cs
  Content.Server/WhiteDream/BloodCult/Constructs/SoulShard/SoulShardSystem.cs
  Content.Server/WhiteDream/BloodCult/Gamerule/BloodCultRuleComponent.cs
  Content.Server/WhiteDream/BloodCult/Gamerule/BloodCultRuleSystem.cs
  Content.Server/WhiteDream/BloodCult/Items/VeilShifter/VeilShifterSystem.cs
  Content.Server/WhiteDream/BloodCult/Objectives/KillTargetCultComponent.cs
  Content.Server/WhiteDream/BloodCult/Objectives/KillTargetCultSystem.cs
  Content.Server/WhiteDream/BloodCult/RendingRunePlacement/RendingRunePlacementMarkerComponent.cs
  Content.Server/WhiteDream/BloodCult/Runes/Apocalypse/CultRuneApocalypseSystem.cs
  Content.Server/WhiteDream/BloodCult/Runes/CultRuneBaseComponent.cs
  Content.Server/WhiteDream/BloodCult/Runes/CultRuneBaseSystem.Helpers.cs
  Content.Server/WhiteDream/BloodCult/Runes/CultRuneBaseSystem.cs
  Content.Server/WhiteDream/BloodCult/Runes/Offering/CultRuneOfferingComponent.cs
  Content.Server/WhiteDream/BloodCult/Runes/Offering/CultRuneOfferingSystem.cs
  Content.Server/WhiteDream/BloodCult/Runes/Rending/CultRuneRendingSystem.cs
  Content.Server/WhiteDream/BloodCult/Spells/BloodCultSpellsSystem.cs
  Content.Server/WhiteDream/BloodCult/Spells/BloodCultTeleportSpellSystem.cs
  Content.Server/WhiteDream/BloodCult/TimedFactory/TimedFactorySystem.cs
  Content.Shared/ListViewSelector/ListViewSelectorEntry.cs
  Content.Shared/Magic/Events/ProjectileSpellEvent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/WhiteDream/BloodCult/Constructs/PhaseShift/PhaseShiftedComponent.cs
  Content.Shared/WhiteDream/BloodCult/Constructs/PhaseShift/SharedPhaseShiftSystem.cs
  Content.Shared/WhiteDream/BloodCult/Items/CultItemSystem.cs
  Content.Shared/WhiteDream/BloodCult/Runes/RuneDrawerComponent.cs
  Content.Shared/WhiteDream/BloodCult/Runes/RuneSelectorPrototype.cs
  Content.Shared/WhiteDream/BloodCult/Spells/Events.cs
  Resources/Audio/WhiteDream/BloodCult/resonator_blast.ogg
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/white-dream/alerts.ftl
  Resources/Locale/en-US/white-dream/cult/gamerule.ftl
  Resources/Locale/en-US/white-dream/cult/items/general.ftl
  Resources/Locale/en-US/white-dream/cult/runes.ftl
  Resources/Locale/en-US/white-dream/cult/spells.ftl
  Resources/Prototypes/Entities/Effects/emp_effects.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/WhiteDream/Entities/Actions/cultists.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Cult/constructs.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Cult/souls_shards.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Runes/cult.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Structures/Cult/barrier.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/WhiteDream/Entities/Objects/Weapons/Projectiles/cult.yml
  Resources/Prototypes/WhiteDream/Entities/markers.yml
  Resources/Prototypes/WhiteDream/rune_selectors.yml
  Resources/Prototypes/status_effects.yml
  Resources/ServerInfo/Guidebook/Antagonist/BloodCult.xml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/gauntlet_echo.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles2.rsi/meta.json
  Resources/Textures/WhiteDream/BloodCult/actions.rsi/gauntlet_echo.png
  Resources/Textures/WhiteDream/BloodCult/actions.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Documentation, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Changes: Audio

#1335 Pistol-Whipping (Guns as Melee Weapons)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1346 Fix Interact Verb
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: YML, Priority: 1-Urgent, Size: 5-Very Small

#1344 Fix Ripley Hydraulic Clamp
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small

#1337 Fix Bartender Mosin
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small

#1343 Trait Purchasable Mentalic Powers
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Type: Feature

#1348 Pointy Ears For Harpies And Arachne
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
Labels: Changes: YML

#1340 Port Cosmatic Drift Arrivals
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Resources/Maps/Misc/terminal.yml
Labels: Changes: C#, Changes: Map, Changes: YML

#1249 More Dangerous Mindbreaking
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Nyanotrasen/Chemistry/Effects/ChemRemovePsionic.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Discussion, Status: Needs Review

#1352 Redshirt And Brittle Bone Traits
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML

#1342 Jackboots Slowdown Mitigation (PORT)
  Content.Shared/Damage/Components/ClothingSlowOnDamageModifierComponent.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review

#1355 Fix Redshirt & Brittle Bone Traits
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#1356 Example Hub Ad List
  Resources/ConfigPresets/EinsteinEngines/default.toml
Labels: Changes: Config, Changes: YML

#1357 Saltern Update
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, Changes: YML

#1359 Hotfix Saltern
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: YML

#1364 Loadouts Debloating (Colorable Items)
  Resources/Locale/en-US/loadouts/generic/back.ftl
  Resources/Locale/en-US/loadouts/generic/eyes.ftl
  Resources/Locale/en-US/loadouts/generic/hands.ftl
  Resources/Locale/en-US/loadouts/generic/head.ftl
  Resources/Locale/en-US/loadouts/generic/items.ftl
  Resources/Locale/en-US/loadouts/generic/neck.ftl
  Resources/Locale/en-US/loadouts/generic/outerClothing.ftl
  Resources/Locale/en-US/loadouts/generic/shoes.ftl
  Resources/Locale/en-US/loadouts/generic/uniform.ftl
  Resources/Locale/en-US/loadouts/head.ftl
  Resources/Locale/en-US/loadouts/jobs/engineering/uncategorized.ftl
  Resources/Locale/en-US/loadouts/jobs/heads/captain.ftl
  Resources/Locale/en-US/loadouts/jobs/heads/headOfPersonnel.ftl
  Resources/Locale/en-US/loadouts/jobs/logistics/salvageSpecialist.ftl
  Resources/Locale/en-US/loadouts/neck.ftl
  Resources/Locale/en-US/loadouts/outerClothing.ftl
  Resources/Locale/en-US/loadouts/uniform.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/neckGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/shoeGroup.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
Labels: Changes: Localization, Changes: YML

#1365 More Colorable Items
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Locale/en-US/loadouts/generic/hands.ftl
  Resources/Locale/en-US/loadouts/generic/head.ftl
  Resources/Locale/en-US/loadouts/generic/mask.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/maskGroup.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/mask.yml
  Resources/Textures/Clothing/Hands/Gloves/fingerlesswhite.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlesswhite.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlesswhite.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlesswhite.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlesswhite.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/icon.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/icon_mask.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Bandanas/white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beretwhite.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beretwhite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beretwhite.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beretwhite.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beretwhite.rsi/meta.json
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/icon.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/neckgaiterwhite.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/poppywhite.rsi/stage-3.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1361 Make the EE Logo Match the Banner
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/source/EE_logo-light.svg
  Resources/Textures/Logo/source/EE_logo.svg
Labels: Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Type: Bug

#1366 Loadout Modular Functions (And Loadout Pets)
  Content.Server/Clothing/Systems/LoadoutSystem.Functions.cs
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Resources/Locale/en-US/loadouts/generic/items.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1369 Plushies!
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/harpyplushie.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/mortplush.png
Labels: Changes: YML, Changes: Sprite

#1358 Traits System Anticheat
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML

#1341 Make Prisoner Not Shitter Role
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#1334 Fix Jittering
  Content.Client/Jittering/JitteringSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Type: Port

#1370 Basic Soft-Crit Implementation
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: C#, Changes: YML

#1372 Another Saltern Update
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: YML

#1380 Remove Europa From Map Pool
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Map, Changes: YML

#1200 Shadowkin Rework
  Content.Server/Abilities/Psionics/Abilities/DarkSwapSystem.cs
  Content.Server/Alert/Click/CheckMana.cs
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Server/Shadowkin/EtherealStunItemSystem.cs
  Content.Server/Shadowkin/EtherealSystem.cs
  Content.Server/Shadowkin/ShadowkinCuffSystem.cs
  Content.Server/Shadowkin/ShadowkinSystem.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Psionics/SharedPsionicAbilitiesSystem.cs
  Content.Shared/Shadowkin/EtherealComponent.cs
  Content.Shared/Shadowkin/ShadowkinComponent.cs
  Content.Shared/Shadowkin/ShadowkinCuffComponent.cs
  Content.Shared/Shadowkin/SharedEtherealSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/alerts/shadowkin.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Locale/en-US/species/shadowkin.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/shadowkin.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Textures/Interface/Alerts/mana.rsi/meta.json
  Resources/Textures/Interface/Alerts/mana.rsi/power0.png
  Resources/Textures/Interface/Alerts/mana.rsi/power1.png
  Resources/Textures/Interface/Alerts/mana.rsi/power2.png
  Resources/Textures/Interface/Alerts/mana.rsi/power3.png
  Resources/Textures/Interface/Alerts/mana.rsi/power4.png
  Resources/Textures/Interface/Alerts/mana.rsi/power5.png
  Resources/Textures/Interface/Alerts/mana.rsi/power6.png
  Resources/Textures/Interface/Alerts/mana.rsi/power7.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Rework

#1333 Revert Bad "SS13" Action Bar
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature

#1371 Arrivals Tweaks
  Resources/Maps/Misc/terminal.yml
Labels: Changes: Map, Changes: YML

#1377 Adjusts Cargo Market
  Resources/Prototypes/Catalog/Cargo/cargo_hardsuits.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Clothing/OuterClothing/Armor/swat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/swat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/swat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/swat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/swat.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#1384 NERF WISPS
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Nyanotrasen/Damage/modifier_sets.yml
Labels: Changes: YML, Priority: 2-High, Type: Bug

#1378 Fix Mindbreaker and Soulbreaker Rounds Not Injecting Their Solutions.
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/special.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Projectiles/shotgun.yml
Labels: Changes: YML, Priority: 4-Low, Size: 5-Very Small
