Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-05, with the labels that each got.

#308 Mirror: Make air tanks appear on the back in suitstorage
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/captain.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/mini.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/on-equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: Pull Request Mirror

#340 Fixing the birb emotes
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#313 Mirror: 1x2 cable coils
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: Pull Request Mirror

#111 Mirror: Reduce clown snore volume
  Resources/Audio/Voice/Misc/silly_snore.ogg
Labels: Pull Request Mirror

#131 Mirror: Added winddown to space drugs effect
  Content.Client/Drugs/DrugOverlaySystem.cs
  Content.Client/Drugs/RainbowOverlay.cs
Labels: Pull Request Mirror

#97 New horns for oni.
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/bull.png
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/shaved.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Pull Request Mirror

#82 Uncomment metem board in RandomBoards spawner
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/devices.yml
Labels: Changes: YML, Pull Request Mirror

#87 Makes mail teleporter craftable.
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: Changes: YML, Pull Request Mirror

#142 Mirror: Shuttle map IFF tweaks
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/UI/MapObjects/GridMapObject.cs
  Content.Shared/Shuttles/UI/MapObjects/IMapObject.cs
  Content.Shared/Shuttles/UI/MapObjects/ShuttleBeaconObject.cs
  Content.Shared/Shuttles/UI/MapObjects/ShuttleExclusionObject.cs
Labels: Pull Request Mirror

#84 Shortens more beacon names
  Resources/Locale/en-US/deltav/navmap-beacons/station-beacons.ftl
Labels: Changes: Localization, Pull Request Mirror

#113 Mirror: Lawdrobe update
  Resources/Locale/en-US/advertisements/vending/lawdrobe.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: Changes: Localization, Changes: YML, Pull Request Mirror

#123 Mirror: Fix air not existing in corner window tiles
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Pull Request Mirror

#124 Mirror: Fix chromite chasm sprite
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm6.png
Labels: Pull Request Mirror

#121 Mirror: Barber scissors in uplink and chameleon bundle.
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Pull Request Mirror

#139 Mirror: Fix misprediction of emergency access
  Content.Shared/Doors/Components/AirlockComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
Labels: Pull Request Mirror

#138 Mirror: Add admin logs for butchering
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
Labels: Pull Request Mirror

#144 Mirror: Criminal record hud icons
  Content.Client/CriminalRecords/CriminalRecordsConsoleBoundUserInterface.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsConsoleSystem.cs
  Content.Shared/IdentityManagement/Components/IdentityComponent.cs
  Content.Shared/IdentityManagement/SharedIdentitySystem.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/SecurityStatus.cs
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
  Resources/Prototypes/StatusEffects/security.yml
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_discharged.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_incarcerated.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_paroled.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_suspected.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_wanted.png
  Resources/Textures/Interface/Misc/security_icons.rsi/meta.json
Labels: Pull Request Mirror

#147 Mirror: buff cargo hydroponics crate
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
Labels: Pull Request Mirror

#137 Mirror: fix: ambient music fade in (#25874)
  Content.Client/Audio/ContentAudioSystem.cs
Labels: Pull Request Mirror

#92 Fixes security hud going blank
  Resources/Prototypes/DeltaV/StatusEffects/job.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
Labels: Changes: YML, Pull Request Mirror

#132 Mirror: Obsolete `Logger` cleanup for `EntitySystem`s
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Client/Info/InfoSystem.cs
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Info/InfoSystem.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Emitter.cs
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/WorldgenConfigSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Pull Request Mirror

#156 Mirror: Add logs to recycler gibbing and broadcasting.
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Pull Request Mirror

#199 Mirror: Democratize C-20r SMG Magazines
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Pull Request Mirror

#193 Mirror: Typo in guidebook for cyro pressure
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Pull Request Mirror

#192 Mirror: Fix some tags for prototypes
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
Labels: Pull Request Mirror

#140 Mirror: Fix shield absorbing asphyxiation damage
  Content.Shared/Blocking/BlockingSystem.User.cs
Labels: Pull Request Mirror

#233 Mirror: Backpacks
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Pull Request Mirror

#125 Mirror: New Nukie Song
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/clearly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Pull Request Mirror

#128 Mirror: Disable the publish and preview buttons on news management console when bounds are exceeded
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml.cs
Labels: Pull Request Mirror

#176 Mirror: Syringe doafter based on Syringe contents
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
Labels: Pull Request Mirror

#175 Mirror: Grey Matter Addition and Slime Organ Tweak
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: Pull Request Mirror

#174 Mirror: More fax logging
  Content.Server/Fax/FaxSystem.cs
Labels: Pull Request Mirror

#167 Mirror: Remove recycling for Syndicate implanters
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: Pull Request Mirror

#148 Mirror: New salvage expedition ambience.
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Ambience/unanchored.ogg
  Resources/Prototypes/audio.yml
Labels: Pull Request Mirror

#160 Mirror: kobolds no longer die at 40 hp
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Pull Request Mirror

#135 Mirror: Fix game.role_timers not effecting the antag menu
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: Pull Request Mirror

#136 Mirror: Prevents FloorOcclusion from breaking rendering
  Content.Client/Movement/Systems/FloorOcclusionSystem.cs
Labels: Pull Request Mirror

#120 Mirror: Remove Hamlet, Smile and Pun Pun from Thief objective
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Pull Request Mirror

#318 Mirror: Admin New Player Notification Sound
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/newplayerping.ogg
Labels: Pull Request Mirror

#311 Mirror: Changed black carpet texture to correctly align itself.
  Resources/Textures/Structures/Furniture/Carpets/black_carpet.rsi/carpet_5.png
Labels: Pull Request Mirror

#99 port lighthouse real
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: C#, Changes: Map, Pull Request Mirror

#306 Mirror: Fix cross-grid spreader behavior
  Content.Server/Spreader/SpreaderSystem.cs
Labels: Pull Request Mirror

#322 Mirror: Maybe fix rsi truncheon error
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Pull Request Mirror

#309 Mirror: Fix crash on load when no slot key assigned
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
Labels: Pull Request Mirror

#209 Mirror: Added cheap sunglasses into ClothesMate
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML, Pull Request Mirror

#165 Mirror: Improvised shell crafting recipe
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun_shell.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Labels: Pull Request Mirror

#150 Mirror: allow biomass reclaimer to reclaim plants
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Pull Request Mirror

#179 Mirror: zombie wideswing and misc fix
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Pull Request Mirror

#182 Mirror: Fixed bug with appearance of ammo battery magazine guns
  Content.Client/Weapons/Ranged/Systems/GunSystem.Magazine.cs
Labels: Pull Request Mirror

#157 Mirror: Enable multiple Solution Editor windows
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Administration/UI/EditSolutionsEui.cs
Labels: Pull Request Mirror

#162 Mirror: new haircut alternative (brought back old one)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/crewcut2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Pull Request Mirror

#188 Mirror: Some more whitelists for belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/tags.yml
Labels: Pull Request Mirror

#195 Mirror: Drink from closed container fix
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: Pull Request Mirror

#180 Mirror: Fix Butcherable handling, ItemSlots for clown shoes
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Resources/Locale/en-US/clothing/boots.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/tags.yml
Labels: Pull Request Mirror

#181 Mirror: Contraband Storage Crate
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Pull Request Mirror

#163 Mirror: Nuke Music start adjusted for duration
  Content.Server/Audio/ServerGlobalSoundSystem.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: Pull Request Mirror

#159 Mirror: Remove random Cyrillic characters from locale files
  Resources/Locale/en-US/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/food.ftl
Labels: Pull Request Mirror

#164 Mirror: Fix rounds restarting in the next round
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
Labels: Pull Request Mirror

#79 Remove warp point comp from map beacons
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: YML, Pull Request Mirror

#130 Mirror: Add a toggle for colorblind friendly progress bar colors
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/UserInterface/Controls/ProgressTextureRect.cs
  Content.Client/UserInterface/Systems/ProgressColorSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Pull Request Mirror

#184 Mirror: foxes are now neutral🦊
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Pull Request Mirror

#206 Mirror: add more carp plushies
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/holoplush.png
  Resources/Textures/Objects/Fun/toys.rsi/magicplush.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/rainbowcarpplush.png
Labels: Pull Request Mirror

#265 Mirror: Initial Infected can see each other
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.Client/Zombies/ZombieSystem.cs
  Content.Shared/Zombies/InitialInfectedComponent.cs
  Resources/Prototypes/StatusIcon/antag.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/InitialInfected.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Pull Request Mirror

#190 Mirror: Add log when a player starts observing.
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Pull Request Mirror

#74 Separates DV-added airlocks into DV files
  Resources/Prototypes/DeltaV/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: YML, Pull Request Mirror

#290 Mirror: Rats eyes glow in dark + reorganize rat textures
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Textures/Mobs/Animals/buffrat.rsi/eyes.png
  Resources/Textures/Mobs/Animals/buffrat.rsi/meta.json
  Resources/Textures/Mobs/Animals/mouse.rsi/meta.json
  Resources/Textures/Mobs/Animals/mouse.rsi/mouse-moving-3.png
  Resources/Textures/Mobs/Animals/rat.rsi/dead.png
  Resources/Textures/Mobs/Animals/rat.rsi/eyes-moving.png
  Resources/Textures/Mobs/Animals/rat.rsi/eyes.png
  Resources/Textures/Mobs/Animals/rat.rsi/icon.png
  Resources/Textures/Mobs/Animals/rat.rsi/meta.json
  Resources/Textures/Mobs/Animals/rat.rsi/rat-moving.png
  Resources/Textures/Mobs/Animals/rat.rsi/rat.png
  Resources/Textures/Mobs/Animals/rat.rsi/splat.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/eyes.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
Labels: Pull Request Mirror

#305 Mirror: The return of the 'long bedhead' haircut as an alternative
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/long_bedhead2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: Pull Request Mirror

#213 Mirror: Prevent dead players from turning bar stools
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Interaction/RotateToFaceSystem.cs
Labels: Pull Request Mirror

#270 Mirror: Store Refund Fix
  Content.Server/Store/Systems/StoreSystem.Ui.cs
Labels: Pull Request Mirror

#259 Mirror: Include bans in adminremarks command
  Content.Server/Database/ServerDbBase.cs
Labels: Pull Request Mirror

#271 Mirror: Changed current value to unextracted value in artifact report guidebook
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
Labels: Pull Request Mirror

#303 Mirror: Added verb action to Glue/Lube system
  Content.Server/Glue/GlueSystem.cs
  Content.Server/Lube/LubeSystem.cs
  Resources/Locale/en-US/glue/glue.ftl
  Resources/Locale/en-US/lube/lube.ftl
Labels: Pull Request Mirror

#248 Mirror: make romerol work on the dead
  Content.Server/Zombies/ZombieSystem.cs
  Resources/Prototypes/Reagents/toxins.yml
Labels: Pull Request Mirror

#246 Mirror: Fixed safe filling with WT550
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Pull Request Mirror

#242 Mirror: Make puddle smoothing better
  Resources/Textures/Fluids/puddle.rsi/meta.json
  Resources/Textures/Fluids/puddle.rsi/splat10.png
  Resources/Textures/Fluids/puddle.rsi/splat11.png
  Resources/Textures/Fluids/puddle.rsi/splat12.png
  Resources/Textures/Fluids/puddle.rsi/splat13.png
  Resources/Textures/Fluids/puddle.rsi/splat14.png
  Resources/Textures/Fluids/puddle.rsi/splat3.png
  Resources/Textures/Fluids/puddle.rsi/splat5.png
  Resources/Textures/Fluids/puddle.rsi/splat6.png
  Resources/Textures/Fluids/puddle.rsi/splat7.png
  Resources/Textures/Fluids/puddle.rsi/splat9.png
Labels: Pull Request Mirror

#238 Mirror: Update blood related tips!
  Resources/Prototypes/Datasets/tips.yml
Labels: Pull Request Mirror

#201 Mirror: Make radio jammer block suit sensors
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Radio/EntitySystems/JammerSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Tools/jammer.yml
Labels: Pull Request Mirror

#202 Mirror: Agent IDs default to passenger icon
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Pull Request Mirror

#221 Mirror: SS14-12462 Nerf food and drink vending machines
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Pull Request Mirror

#215 Mirror: Fix tranq rounds injecting when reflected
  Content.Server/Chemistry/Components/SolutionInjectOnCollideComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
Labels: Pull Request Mirror

#385 Mirror: Cleaner Grenade
  Resources/Prototypes/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/janitor.rsi/primed.png
Labels: Changes: YML, Changes: Sprite, Pull Request Mirror

#374 Mirror: Fix: let ammofab accept the common material types
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Pull Request Mirror

#372 Mirror: Fixed some icon rsi warnings
  Resources/Prototypes/Actions/diona.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: YML, Priority: 4-Low, Size: Small, Pull Request Mirror

#314 Mirror: Fix bypassing vaulting clumsy check with verb action.
  Content.Shared/Climbing/Components/BonkableComponent.cs
  Content.Shared/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/Events/AttemptClimbEvent.cs
  Content.Shared/Climbing/Systems/BonkSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Resources/Locale/en-US/bonk/components/bonkable-component.ftl
  Resources/Locale/en-US/climbing/climbable-component.ftl
Labels: Pull Request Mirror

#119 Mirror: Atmospherics thermomachines now properly excite the gas mixture they add heat to
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
Labels: Pull Request Mirror

#286 Mirror: Pizza is not a fruit
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
Labels: Status: Needs Review, Pull Request Mirror

#353 Make Debris Actually Dangerous
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
Labels: Changes: YML, Status: Needs Review

#122 Mirror: infiltrator update
  Resources/Maps/Shuttles/infiltrator.yml
Labels: Pull Request Mirror

#315 Mirror: Restrict door remotes to only being able to manipulate doors relevant to their type
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: Priority: 4-Low, Size: Small, Status: Needs Review, Type: Feature, Pull Request Mirror

#357 Mirror: Give cap door remote his access
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: Changes: YML, Priority: 4-Low, Size: Very Small, Status: Needs Discussion, Pull Request Mirror

#103 Undo warp-strings
  Resources/Locale/en-US/deltav/warp-points/warp-points.ftl
  Resources/Prototypes/DeltaV/Entities/Markers/warp_point.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Consumable/Food/Containers/lunchbox.yml
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxapple.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxapple.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxapple.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxchocolate.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxchocolate.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxchocolate.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxgrape.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxgrape.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxgrape.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxorange.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxorange.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxorange.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxpineapple.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxpineapple.rsi/icon_open.png
  Resources/Textures/DeltaV/Objects/Consumable/Drinks/juiceboxpineapple.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Pull Request Mirror

#380 Mirror: add more astro-grasses
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Pull Request Mirror

#379 Mirror: fix: the captain can put his laser gun back in the box.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, Priority: 4-Low, Size: Very Small, Status: Needs Review, Pull Request Mirror

#231 Mirror: Change collision mask of canisters to allow passing through cargo flaps
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Pull Request Mirror

#200 Mirror: Sort agents by success rate in end game summary
  Content.Server/Objectives/ObjectivesSystem.cs
Labels: Pull Request Mirror

#253 Mirror: Improves Medical Hud interface and functionality
  Content.Client/Overlays/ShowHealthIconsSystem.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Resources/Prototypes/StatusEffects/health.yml
  Resources/Textures/Interface/Misc/health_icons.rsi/Critical.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Dead.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Fine.png
  Resources/Textures/Interface/Misc/health_icons.rsi/Rotting.png
  Resources/Textures/Interface/Misc/health_icons.rsi/meta.json
Labels: Changes: UI, Size: Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature, Pull Request Mirror

#279 Mirror: make traitor syndicate reinforcements get the traitor role
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: Pull Request Mirror

#240 Mirror: Unify `Content`'s `EntitySystem` logging
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Mapping/MappingSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
Labels: Pull Request Mirror

#280 Mirror: Thrown soap/banana/(etc?) will fail to slip until it lands
  Content.Shared/Slippery/SlipperySystem.cs
Labels: Pull Request Mirror

#288 Mirror: Fix some invalid damage types
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/NPCs/Combat/melee.yml
  Resources/Prototypes/NPCs/utility_queries.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/fun.yml
Labels: Pull Request Mirror

#198 Mirror: Split smoke grenade sound into two parts
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/smoke_grenade_prime.ogg
  Resources/Audio/Items/smoke_grenade_smoke.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Pull Request Mirror

#223 Mirror: Round start Ion storms
  Resources/Prototypes/GameRules/events.yml
Labels: Pull Request Mirror

#218 Mirror: fix eggsplosion
  Resources/Prototypes/Recipes/Construction/Graphs/food/egg.yml
Labels: Pull Request Mirror

#252 Mirror: Fix borg charger error
  Content.Server/Power/EntitySystems/ChargerSystem.cs
Labels: Pull Request Mirror

#282 Mirror: Fix blunt melee weapon hitsound
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Pull Request Mirror

#230 Mirror: Recolor paper-stamp detective
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-detective.png
Labels: Pull Request Mirror

#219 Mirror: Small performance optimization. Don't do String.Trim() second time
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
Labels: Pull Request Mirror

#226 Mirror: Fix store refunds
  Content.Server/Store/Systems/StoreSystem.Ui.cs
Labels: Pull Request Mirror

#220 Mirror: Convert "IgnoreWeatherComponent" into "BlockWeatherComponent"
  Content.Shared/Weather/BlockWeatherComponent.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Pull Request Mirror

#287 Mirror: fix legally distinct visor man plush name.
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Priority: 5-Whenever, Size: Very Small, Status: Needs Review, Pull Request Mirror

#187 Mirror: Make fireaxe & shotgun cabinets destructible
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: Pull Request Mirror

#152 Mirror: Add "Juice that makes you Weh" to moths eating Lizard plushies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Priority: 5-Whenever, Size: Very Small, Status: Needs Review, Pull Request Mirror

#116 Mirror: Slimes can drink fourteenloko
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
Labels: Changes: YML, Priority: 4-Low, Size: Very Small, Status: Needs Discussion, Status: Needs Review, Pull Request Mirror

#399 Vents Resprites
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Changes: YML, Size: Small, Priority: 5-Whenever, Changes: Sprite, Status: Needs Review

#388 Mirror: Church Bells
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/church_bell1.ogg
  Resources/Audio/Effects/church_bell2.ogg
  Resources/Audio/Effects/church_bell3.ogg
  Resources/Audio/Effects/church_bell4.ogg
  Resources/Prototypes/Entities/Structures/Specific/church-bell.yml
  Resources/Prototypes/SoundCollections/church_bell.yml
  Resources/Textures/Structures/Specific/church-bell.rsi/church-bell.png
  Resources/Textures/Structures/Specific/church-bell.rsi/meta.json
Labels: Changes: YML, Priority: 4-Low, Changes: Sprite, Size: Very Small, Type: Feature, Pull Request Mirror

#381 Mirror: Make parrots talk like parrots
  Content.Server/Speech/Components/ParrotAccentComponent.cs
  Content.Server/Speech/EntitySystems/ParrotAccentSystem.cs
  Resources/Locale/en-US/accent/parrot.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Pull Request Mirror

#153 Mirror: Fix RUN_THIS.py so it would be cross-platform and it would be possible to use it from cmd on Windows
  RUN_THIS.py
Labels: Changes: Config, Priority: 2-High, Size: Small, Status: Needs Review, Type: Codebase, Pull Request Mirror

#256 Mirror: Fix barotrauma pressure protection
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
Labels: Pull Request Mirror

#236 Mirror: add decoy syndicate bomb to uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: Pull Request Mirror

#235 Mirror: SlowContactsSystem to SpeedModifierContactsSystem mini rework
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Movement/Components/SpeedModifiedByContactComponent.cs
  Content.Shared/Movement/Components/SpeedModifierContactsComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Tiles/water.yml
Labels: Pull Request Mirror

#234 Mirror: Gives glue tag to crazy glue
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Pull Request Mirror

#232 Mirror: Fix presetidcard extended access throwing
  Content.Server/Access/Systems/PresetIdCardSystem.cs
Labels: Pull Request Mirror

#266 Mirror: Fix SCRAM implant not working while cuffed. Incidentally fix freedom implant working while dead/crit
  Content.Client/Actions/ActionsSystem.cs
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Interaction/Events/InteractionAttemptEvent.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Resources/Prototypes/Actions/crit.yml
  Resources/Prototypes/Actions/diona.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/mapping_actions.yml
Labels: Pull Request Mirror

#276 Mirror: spawn panel rock crab suffix
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: Pull Request Mirror

#264 Mirror: Zombies can very slowly regen heat and shock damage
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Pull Request Mirror

#281 Mirror: Monkey and gorilla melee weapon fix
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Pull Request Mirror

#171 Mirror: Attempt at a more noticably whispered bubble
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Stylesheets/StyleNano.cs
Labels: Pull Request Mirror

#169 Mirror: Remove butchering popup when clicking own sprite with a knife
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
Labels: Pull Request Mirror

#387 Mirror: Fix mailing units turning into disposal units while recharging.
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Pull Request Mirror

#351 Fix Double Trade Station Bug
  Content.Server/Cargo/Systems/CargoSystem.CVars.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: Small, Status: Needs Review

#401 Remove glibc from shell.nix
  shell.nix
Labels: Status: Needs Review

#258 Mirror: Spray Paint (Review Ready)
  Content.Client/Paint/PaintVisualizerSystem.cs
  Content.Server/Paint/PaintSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared/Paint/PaintComponent.cs
  Content.Shared/Paint/PaintDoAfterEvent.cs
  Content.Shared/Paint/PaintRemoverComponent.cs
  Content.Shared/Paint/PaintRemoverDoAfterEvent.cs
  Content.Shared/Paint/PaintRemoverSystem.cs
  Content.Shared/Paint/PaintedComponent.cs
  Content.Shared/Paint/SharedPaintSystem.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
  Resources/Locale/en-US/paint/paint.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Fun/spray_paint.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/VerbIcons/paint.svg
  Resources/Textures/Interface/VerbIcons/paint.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/paint.svg.192dpi.png.yml
  Resources/Textures/Objects/Fun/spraycans.rsi/clown-inhand-left.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown-inhand-right.png
  Resources/Textures/Objects/Fun/spraycans.rsi/meta.json
  Resources/Textures/Objects/Fun/spraycans.rsi/spray-inhand-left.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray-inhand-right.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray_cap.png
Labels: Pull Request Mirror

#373 Mirror: Update close-master-pr.yml
  .github/workflows/close-master-pr.yml
Labels: Pull Request Mirror

#355 Port Queue and Discord Auth From Corvax
  Content.Client/DiscordAuth/DiscordAuthGui.xaml
  Content.Client/DiscordAuth/DiscordAuthGui.xaml.cs
  Content.Client/DiscordAuth/DiscordAuthManager.cs
  Content.Client/DiscordAuth/DiscordAuthState.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/JoinQueue/JoinQueueManager.cs
  Content.Client/JoinQueue/QueueGui.xaml
  Content.Client/JoinQueue/QueueGui.xaml.cs
  Content.Client/JoinQueue/QueueState.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/JoinQueue/JoinQueueManager.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/DiscordAuth/DiscordAuthCheckMessage.cs
  Content.Shared/DiscordAuth/DiscordAuthRequiredMessage.cs
  Content.Shared/JoinQueue/QueueUpdateMessage.cs
  Resources/Locale/en-US/discord-auth/discord-auth-state.ftl
  Resources/Locale/en-US/join-queue/queue-screen.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Size: Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Port

#378 Mirror: Holoprojectors crafted at lathes no longer come with a cell.
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Pull Request Mirror

#377 Mirror: Fix Small wooden fence gate sprites
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened_small.png
Labels: Size: Small, Priority: 5-Whenever, Changes: Sprite, Status: Needs Review, Type: Feature, Pull Request Mirror

#114 Mirror: Vegan Meatball
  Resources/Locale/en-US/salvage/salvage-magnet.ftl
  Resources/Maps/Salvage/vegan-meatball.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map, Changes: YML, Size: Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature, Pull Request Mirror

#216 Mirror: Sleep on Stasis Beds
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
Labels: Pull Request Mirror

#228 Mirror: Small species melee weapon change
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Pull Request Mirror

#257 Mirror: makes closets/lockers better
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/secure_icon.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/generic_icon.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
Labels: Pull Request Mirror

#283 Mirror: Fix EFCore obsoletion warnings in Content.Server.Database
  Content.Server.Database/SnakeCaseNaming.cs
Labels: Priority: 2-High, Size: Medium, Type: Codebase, Pull Request Mirror

#324 Mirror: Hide empty marking categories in the markings picker
  Content.Client/Humanoid/MarkingPicker.xaml.cs
Labels: Pull Request Mirror

#408 Add an Audio Automatic Label
  .github/labeler.yml
Labels: Changes: Config, Priority: 2-High, Size: Very Small, Type: Codebase

#347 Update close-master-pr Workflow's Denial Message
  .github/workflows/close-master-pr.yml
Labels: Changes: Workflow, Status: Needs Review

#6 Build/Run Scripts from Parkstation
  Scripts/bat/!README.txt
  Scripts/bat/buildAllDebug.bat
  Scripts/bat/buildAllRelease.bat
  Scripts/bat/buildAllTools.bat
  Scripts/bat/runQuickAll.bat
  Scripts/bat/runQuickClient.bat
  Scripts/bat/runQuickServer.bat
  Scripts/bat/runTests.bat
  Scripts/bat/runTestsIntegration.bat
  Scripts/bat/runTestsYAML.bat
  Scripts/sh/!README.txt
  Scripts/sh/buildAllDebug.sh
  Scripts/sh/buildAllRelease.sh
  Scripts/sh/buildAllTools.sh
  Scripts/sh/runQuickAll.sh
  Scripts/sh/runQuickClient.sh
  Scripts/sh/runQuickServer.sh
  Scripts/sh/runTests.sh
  Scripts/sh/runTestsIntegration.sh
  Scripts/sh/runTestsYAML.sh
  runclient.bat
  runserver.bat
Labels: Priority: 2-High, Size: Small, Status: Needs Review, Type: Port

#411 Temporary CI/CD Fix
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
Labels: Priority: 1-Urgent, Changes: Workflow, Size: Very Small, Type: Codebase, Type: Port, Type: Bug

#312 Mirror: Partial atmos refactor
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.Server/Atmos/Commands/SetMapAtmosCommand.cs
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/Components/MapAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosObstructionEnumerator.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.ExcitedGroup.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCondenserSystem.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Body/Systems/LungSystem.cs
  Content.Server/Chemistry/ReagentEffects/ModifyLungGas.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Power/Generator/GasPowerReceiverSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TurfHelpers.cs
  Resources/Locale/en-US/atmos/commands.ftl
Labels: Changes: C#, Priority: 2-High, Size: Large, Status: Needs Discussion, Status: Needs Review, Type: Rework, Pull Request Mirror

#365 Mirror: Store keybind priority
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/keybinds.yml
Labels: Pull Request Mirror

#369 Mirror: Removed Cannabis from thief objectives
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: Status: Needs Review, Pull Request Mirror

#370 Mirror: Gives borg industrial welder
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Status: Needs Review, Pull Request Mirror
