Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-07, with the labels that each got.

#205 Mirror: StrippableSystem doafter overhaul
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Strip/ThievingSystem.cs
Labels: Changes: C#, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Pull Request Mirror, Type: Cleanup

#478 Make Spent Casing Ejection Not Suck
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Cleanup

#504 Cherrypick "Fix StrippableSystem Blunders"
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
Labels: Changes: C#

#506 Fix Loadouts Breaking when You Spend All Your Points
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Status: Needs Review

#503 Unflip Hands for Felinid, Vulpkanin, Harpy
  Resources/Prototypes/DeltaV/Body/Prototypes/harpy.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/felinid.yml
Labels: Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Port, Type: Cleanup

#502 Cherry-Pick the Secwatch Pda App
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchEntryControl.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/SecWatchUiFragment.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/SecWatchCartridgeSystem.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/CrimeAssistCartridgeSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/CrimeAssistUiState.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/SecWatchUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/secwatch.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#507 Fix Clothing Quick-Equip
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: Changes: C#

#514 Frictionfull Space
  Content.Server/Station/Systems/StationDampeningSystem.cs
  Content.Shared/Physics/FrictionRemoverSystem.cs
  Content.Shared/Physics/PassiveDampeningComponent.cs
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: C#, Changes: Map

#484 Port All Carrying/PseudoItem/EscapeInventory Tweaks From DeltaV
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/AllowsSleepInsideComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/PseudoItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.Checks.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/Resist/EscapeInventoryCancelEvent.cs
  Resources/Locale/en-US/actions/actions/sleep.ftl
  Resources/Locale/en-US/nyanotrasen/carrying/carry.ftl
  Resources/Prototypes/Actions/misc.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Actions/escapeinventory.rsi/cancel-escape.png
  Resources/Textures/Actions/escapeinventory.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#456 Port Paper Signatures
  Content.Server/DeltaV/Paper/SignAttemptEvent.cs
  Content.Server/DeltaV/Paper/SignatureSystem.cs
  Resources/Locale/en-US/deltav/paper/signature.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-signature.png
Labels: Changes: C#, Changes: Localization, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review, Type: Feature

#500 Felinid Soft Thieving + Trait
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Locale/en-US/strip/strippable-component.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Port

#501 Cherry-Pick Carrypets From Delta-V
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Feature, Type: Port

#511 Fix Them Pesky Job Requirements
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
Labels: Changes: C#, Status: Needs Review

#509 Restore Old Event Rates
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#

#425 More Loadout Items Wave 1
  Resources/Locale/en-US/customization/character-requirements.ftl
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/items.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/categories.yml
  Resources/Prototypes/Loadouts/eyes.yml
  Resources/Prototypes/Loadouts/hands.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/neck.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/species.yml
  Resources/Prototypes/Loadouts/uniform.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#505 Trichromat Modification Trait
  Content.Shared/Traits/Assorted/Components/NormalVisionComponent.cs
  Content.Shared/Traits/Assorted/Systems/NormalVisionSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 5-Whenever, Size: 5-Very Small, Status: Needs Review, Type: Feature

#459 Refactor the Language System
  Content.Client/Language/LanguageMenuWindow.xaml.cs
  Content.Client/Language/Systems/LanguageSystem.cs
  Content.Client/Language/Systems/TranslatorImplanterSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chemistry/ReagentEffects/MakeSentient.cs
  Content.Server/Language/Commands/ListLanguagesCommand.cs
  Content.Server/Language/Commands/SayLanguageCommand.cs
  Content.Server/Language/Commands/SelectLanguageCommand.cs
  Content.Server/Language/DetermineEntityLanguagesEvent.cs
  Content.Server/Language/LanguageSystem.Networking.cs
  Content.Server/Language/LanguageSystem.cs
  Content.Server/Language/LanguagesUpdateEvent.cs
  Content.Server/Language/TranslatorImplantSystem.cs
  Content.Server/Language/TranslatorImplanterSystem.cs
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Language/Components/LanguageKnowledgeComponent.cs
  Content.Shared/Language/Components/LanguageSpeakerComponent.cs
  Content.Shared/Language/Components/TranslatorImplantComponent.cs
  Content.Shared/Language/Components/TranslatorImplanterComponent.cs
  Content.Shared/Language/Components/Translators/BaseTranslatorComponent.cs
  Content.Shared/Language/Components/Translators/HandheldTranslatorComponent.cs
  Content.Shared/Language/LanguagePrototype.cs
  Content.Shared/Language/ObfuscationMethods.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/Language/Systems/SharedTranslatorImplanterSystem.cs
  Resources/Locale/en-US/language/commands.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/nukiemouse.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Language/languages.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 2-High, Size: 2-Large, Status: Needs Review, Type: Rework

#476 Add Item Transfer System
  Content.Client/Input/ContentContexts.cs
  Content.Client/OfferItem/OfferItemIndicatorsOverlay.cs
  Content.Client/OfferItem/OfferItemSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Alert/Click/AcceptingOffer.cs
  Content.Server/OfferItem/OfferItemSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/OfferItem/OfferItemComponent.cs
  Content.Shared/OfferItem/SharedOfferItemSystem.Interactions.cs
  Content.Shared/OfferItem/SharedOfferItemSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/interaction/offer-item-system.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Alerts/offer_item.rsi/offer_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/give_item.png
  Resources/Textures/Interface/Misc/give_item.rsi/meta.json
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 2-High, Size: 3-Medium, Holy Shit, Changes: Sprite, Status: Needs Review, Type: Feature

#526 Cherry-Pick Delta-V Asteroids
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: Changes: YML

#510 Languages Markers
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Fonts/Copperplate.otf
  Resources/Fonts/Mangat.ttf
  Resources/Fonts/Noganas.ttf
  Resources/Fonts/RubikBubbles.ttf
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Language/languages.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#524 Fix Item Transfer System
  Content.Shared/OfferItem/SharedOfferItemSystem.cs
Labels: Changes: C#

#307 Mirror: NPC Steering Tweaks
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: Changes: C#, Pull Request Mirror

#293 Mirror: Door Remote Now Shows Mode in UI
  Content.Client/Remotes/EntitySystems/DoorRemoteSystem.cs
  Content.Client/Remotes/UI/DoorRemoteStatusControl.cs
  Content.Server/Remotes/DoorRemoteComponent.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Shared/Remotes/Components/DoorRemoteComponent.cs
  Content.Shared/Remotes/EntitySystems/SharedDoorRemoteSystem.cs
  Resources/Locale/en-US/door-remote/door-remote.ftl
Labels: Changes: C#, Changes: Localization, Pull Request Mirror

#269 Mirror: Pulling Rework V2
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Client/Pulling/PullingSystem.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Blockers.cs
  Content.Client/Throwing/ThrownItemVisualizerSystem.cs
  Content.IntegrationTests/Tests/Puller/PullerTest.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/NPC/HTN/Preconditions/PulledPrecondition.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactInteractionTriggerSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Events/AttemptPullEvent.cs
  Content.Shared/Movement/Pulling/Events/AttemptStopPullingEvent.cs
  Content.Shared/Movement/Pulling/Events/BeingPulledAttemptEvent.cs
  Content.Shared/Movement/Pulling/Events/PullMessage.cs
  Content.Shared/Movement/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Movement/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Movement/Pulling/Events/StartPullAttemptEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Events/PullAttemptEvent.cs
  Content.Shared/Pulling/Events/PullMessage.cs
  Content.Shared/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Pulling/PullableMoveMessage.cs
  Content.Shared/Pulling/PullableStopMovingMessage.cs
  Content.Shared/Pulling/Systems/SharedPullableSystem.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
  Content.Shared/Security/Systems/DeployableBarrierSystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Changes: C#, Status: Needs Review, Pull Request Mirror

#316 Mirror: Configuration argument for content packaging
  Content.Packaging/ClientPackaging.cs
  Content.Packaging/CommandLineArgs.cs
  Content.Packaging/Program.cs
  Content.Packaging/ServerPackaging.cs
Labels: Changes: C#, Status: Needs Review, Pull Request Mirror

#292 Mirror: Fix Scram! Implant Keeping You Pulled to Someone when Teleporting You
  Content.Server/Implants/SubdermalImplantSystem.cs
Labels: Changes: C#, Pull Request Mirror

#254 Mirror: Fix Decoy Bomb Uplink Category
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/categories.yml
Labels: Changes: Localization, Changes: YML, Pull Request Mirror

#172 Mirror: Fix Cream Pie Bomb when Eaten or Sliced
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Shared/Nutrition/Events.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: Changes: C#, Changes: YML, Status: Needs Cleanup, Status: Do Not Merge, Status: Help Wanted, Status: Needs Review, Pull Request Mirror

#532 Cherry-Pick PR #26312: Fix Puller Being Improperly Unset When Pulling Stops.
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#

#239 Mirror: Added 18 New Bounties to Cargo
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Cargo/cargo_epistemics.yml
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Pull Request Mirror

#539 Cherry-Pick PR "Wallmount Substations Can Once Again Be Created" #27138
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Changes: YML, Status: Needs Review

#527 More Gamemodes
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#267 Mirror: Fix Recycled Containers Deleting Items Inside Them
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#, Pull Request Mirror

#444 Mirror 25908: Chat Censorship Systems
  Content.Shared/Chat/V2/Moderation/ChatCensor.cs
  Content.Shared/Chat/V2/Moderation/RegexCensor.cs
  Content.Shared/Chat/V2/Moderation/SimpleCensor.cs
  Content.Tests/Shared/Chat/V2/Moderation/SimpleCensor.cs
Labels: Changes: C#, Changes: Config, Priority: 4-Low, Size: 3-Medium, Status: Needs Discussion, Status: Needs Review, Type: Feature, Type: Port, Pull Request Mirror

#446 Mirror 26421: Nerf Ninja's Research Stealing
  Content.Server/Research/Systems/ResearchStealerSystem.cs
  Content.Shared/Research/Components/ResearchStealerComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Prototypes/Objectives/ninja.yml
Labels: Pull Request Mirror

#448 Mirror 26427: Make the Chest Rig Purchasable in Uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Pull Request Mirror

#319 Mirror: Fix Playglobalsound Autocompletion
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
Labels: Changes: C#, Pull Request Mirror

#525 Foreigner Traits
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Traits/Assorted/ForeignerTraitComponent.cs
  Content.Server/Traits/Assorted/ForeignerTraitSystem.cs
  Content.Shared/Language/Components/LanguageKnowledgeComponent.cs
  Content.Shared/Language/Systems/SharedTranslatorSystem.cs
  Resources/Locale/en-US/language/translator.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#542 Foreigner Minor Fixes
  Content.Server/Traits/Assorted/ForeignerTraitComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 1-Urgent, Status: Needs Review, Type: Bug

#541 Fix Arachne Plushie CL
  Resources/Changelog/Changelog.yml
Labels: Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Bug, Type: Cleanup

#512 Heavyweight Drunk Trait + Drunk Traits Rework
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/Drunk.cs
  Content.Server/Traits/Assorted/LightweightDrunkComponent.cs
  Content.Server/Traits/Assorted/LightweightDrunkSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Drunk/DrunkSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#480 Mass Contests Remake
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Contests/ContestsSystem.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Changes: C#, Changes: YML, Priority: 2-High, Size: 3-Medium, Holy Shit, Status: Needs Review, Type: Feature

#546 Shock Collar Tweak
  Content.Server/Nyanotrasen/Item/ShockCollar/ShockCollarComponent.cs
  Content.Server/Nyanotrasen/Item/ShockCollar/ShockCollarSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review, Type: Cleanup

#552 Fix the Thieving Trait Not Working
  Content.Shared/Strip/Components/ThievingComponent.cs
Labels: Changes: C#

#551 Fixed Typos in Offer Prompt + Added New Icon
  Resources/Locale/en-US/interaction/offer-item-system.ftl
  Resources/Textures/Interface/Alerts/offer_item.rsi/meta.json
  Resources/Textures/Interface/Alerts/offer_item.rsi/offer_item.png
Labels: Changes: Localization, Changes: Sprite

#547 More Zoom Levels
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
Labels: Changes: C#, Priority: 4-Low, Size: 5-Very Small

#545 Harpy Wings
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/meals.rsi/harpywings.png
  Resources/Textures/Objects/Consumable/Food/meals.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#528 Display an Alert when the User Is Walking or Running.
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Movement/Components/CanWalkComponent.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Textures/Interface/Alerts/walking.rsi/meta.json
  Resources/Textures/Interface/Alerts/walking.rsi/walking0.png
  Resources/Textures/Interface/Alerts/walking.rsi/walking1.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Changes: Sprite, Status: Needs Review

#489 Finally Put the meta.json Shema to Use
  .vscode/settings.json
Labels: Changes: Config, Priority: 2-High, Holy Shit, Size: 5-Very Small, Status: Needs Review, Type: Codebase, Type: Bug

#558 Cherry-Pick PR26540: "Fix Empty Atmos Deserialization"
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
Labels: Changes: C#

#530 Lay Down via Keybind
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Standing/LayingDownComponent.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/movement/laying.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature

#554 Add Species Restrictions to Loadout Items
  Resources/Prototypes/DeltaV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/misc_roles.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/uniform.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
Labels: Changes: YML

#559 Fix Foreigner Translators AGAIN
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
Labels: Changes: YML

#342 Physics Based Air Throws
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Rework, Type: Cleanup

#395 Rework Mimic as Rampant Brand Intelligence
  Content.Server/Advertise/AdvertiseComponent.cs
  Content.Server/Antag/Mimic/MobReplacementRuleComponent.cs
  Content.Server/Antag/MobReplacementRuleSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/en-US/station-events/events/rempant-brand-intelligence.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature

#553 Sign Languages!
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/language/sign-language.ftl
  Resources/Prototypes/Language/languages.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#570 Harpy Hotfix (Cherry-Pick Broke Things)
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Changes: YML

#571 CVar Food/Drink AutoEating
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Priority: 3-Medium, Size: 5-Very Small, Type: Bug

#564 Disable height.modifies_zoom
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Priority: 5-Whenever, Size: 5-Very Small

#574 People Can't Talk In Space
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Priority: 4-Low, Holy Shit, Size: 5-Very Small, Type: Bug

#561 Remove Ending Punctuation From Emote Detection
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/tail_emotes.yml
Labels: Changes: C#, Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Bug, Type: Cleanup

#560 Mass Contests Affect Camera Shake
  Content.Client/Camera/CameraRecoilSystem.cs
Labels: Changes: C#

#576 Restore HoP As A Functional Job
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Changes: YML

#577 Fix Subfloors For Diggable Diles
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: YML

#578 Update drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: Changes: YML

#566 Refactor FabricateCandySystem Into Its Generic Equivalent
  Content.Server/Abilities/Borgs/FabricateActionsComponent.cs
  Content.Server/Abilities/Borgs/FabricateActionsSystem.cs
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandyComponent.cs
  Content.Server/Nyanotrasen/Abilities/Borgs/FabricateCandySystem.cs
  Content.Shared/Actions/Events/FabricateActionEvent.cs
  Content.Shared/Nyanotrasen/Actions/FabricateCandyEvent.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Cleanup

#584 Fix Loadout and Trait Job Playtime Requirements
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Players/PlayTimeTracking/ISharedPlaytimeManager.cs
Labels: Changes: C#, Changes: UI, Priority: 2-High, Size: 4-Small, Status: Needs Review, Type: Bug

#583 Update Contests System
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Contests/ContestsSystem.cs
Labels: Changes: C#, Size: 3-Medium, Priority: 3-Medium

#582 Fix Editor Dummy Always Being Human
  Content.Client/Lobby/LobbyUIController.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Bug

#581 Event Rebalance
  Resources/Locale/en-US/deltav/station-events/events/xeno-vent.ftl
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/DeltaV/GameRules/events.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Nyanotrasen/GameRules/events.yml
Labels: Changes: Localization, Changes: YML

#591 Social Anxiety Trait Renamed
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Changes: Localization, Changes: YML

#594 Prevent Instant Unequip of Clothing
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
Labels: Changes: C#

#593 Fix Talking Across Docked Grids
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#, Priority: 2-High, Size: 5-Very Small, Type: Bug

#575 Refactor Sign Languages and Language Markers
  Content.Server/Administration/Commands/DSay.cs
  Content.Server/Administration/Commands/OSay.cs
  Content.Server/Advertise/EntitySystems/AdvertiseSystem.cs
  Content.Server/Advertise/EntitySystems/SpeakOnUIClosedSystem.cs
  Content.Server/Chat/Commands/LOOCCommand.cs
  Content.Server/Chat/Commands/MeCommand.cs
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/Chat/Systems/AutoEmoteSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chat/Systems/EmoteOnDamageSystem.cs
  Content.Server/Chemistry/ReagentEffects/Emote.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/DeltaV/NPC/Roboisseur/RoboisseurSystem.cs
  Content.Server/Language/Commands/SayLanguageCommand.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Mobs/CritMobActionsSystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/SpeakOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/MedibotInjectOperator.cs
  Content.Server/Nyanotrasen/Chat/TSayCommand.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/RatKing/RatKingSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Server/Speech/Systems/RandomBarkSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/language/languages-sign.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/language/sign-language.ftl
  Resources/Prototypes/Language/languages.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#595 Fix Multiple Species Requirements
  Content.Shared/Customization/Systems/CharacterRequirements.cs
  Content.Shared/Customization/Systems/CharacterRequirementsSystem.cs
  Resources/Locale/en-US/customization/character-requirements.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/DeltaV/Traits/altvision.yml
  Resources/Prototypes/Loadouts/Jobs/engineering.yml
  Resources/Prototypes/Loadouts/Jobs/medical.yml
  Resources/Prototypes/Loadouts/Jobs/science.yml
  Resources/Prototypes/Loadouts/Jobs/security.yml
  Resources/Prototypes/Loadouts/Jobs/service.yml
  Resources/Prototypes/Loadouts/head.yml
  Resources/Prototypes/Loadouts/items.yml
  Resources/Prototypes/Loadouts/outerClothing.yml
  Resources/Prototypes/Loadouts/shoes.yml
  Resources/Prototypes/Loadouts/species.yml
  Resources/Prototypes/Loadouts/uniform.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Size: 3-Medium, Priority: 3-Medium

#592 Refactor Ramping Event Scheduler
  Content.Server/StationEvents/Components/RampingStationEventSchedulerComponent.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 3-Medium

#598 Fix Script Folder in Readme for Linux
  README.md
Labels: Changes: Documentation, Priority: 2-High, Size: 5-Very Small, Status: Needs Review, Type: Codebase, Type: Bug

#597 Box Retexture
  Resources/Textures/Objects/Storage/boxes.rsi/box.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_hug.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_of_doom.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_of_doom_big.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_olive.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_science.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprite, Status: Needs Review

#572 Fix 125 Toolshed Commands Being Unusable for Anyone without +HOST
  Content.Server/Administration/Managers/AdminManager.cs
  Resources/toolshedEngineCommandPerms.yml
Labels: Changes: C#, Changes: YML

#606 Radiation Doesn't Prevent DoAfters
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
Labels: Changes: C#

#613 Add Cybernetic Limb Markings
  Resources/Locale/en-US/silicons/cyberlimbs.ftl
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_alt1.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_alt1.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_arm-primary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_arm-secondary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_arm-tertiary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_foot.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_hand.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_leg-primary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/l_leg-secondary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_arm-primary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_arm-secondary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_arm-tertiary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_foot.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_hand.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_leg-primary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/r_leg-secondary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/torso-primary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_main.rsi/torso-secondary.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/bishop/bishop_monitor.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_alt1.rsi/head.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_alt1.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_arm-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_arm-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_foot-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_foot-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_hand-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_hand-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_leg-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/l_leg-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/meta.json
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_arm-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_arm-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_foot-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_foot-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_hand-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_hand-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_leg-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/r_leg-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/torso-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_main.rsi/torso-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-1.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/head-2.png
  Resources/Textures/Mobs/Customization/cyberlimbs/hesphiastos/hesphiastos_monitor.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#614 Add Makeup
  Resources/Locale/en-US/markings/makeup.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Textures/Mobs/Customization/makeup.rsi/blush.png
  Resources/Textures/Mobs/Customization/makeup.rsi/lips.png
  Resources/Textures/Mobs/Customization/makeup.rsi/meta.json
  Resources/Textures/Mobs/Customization/makeup.rsi/moth_blush.png
  Resources/Textures/Mobs/Customization/makeup.rsi/moth_lips.png
  Resources/Textures/Mobs/Customization/makeup.rsi/nail_polish_l.png
  Resources/Textures/Mobs/Customization/makeup.rsi/nail_polish_r.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#612 Hotfix Late Joins
  Content.Client/LateJoin/LateJoinGui.cs
Labels: Changes: C#

#621 Hotfix Playtime Requirements
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/AntagPreferenceSelector.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
Labels: Changes: C#, Changes: UI

#626 Remove Cargo Pallet From Request Console
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
Labels: Changes: YML

#627 Use Correct Changelog Name
  Resources/Changelog/Changelog.yml
Labels: Changes: YML

#624 Fix Sound Params
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: Changes: YML

#603 Lasers Have No Recoil
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Type: Bug

#628 Fix the Uncategorized Category Not Being Hidden
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Priority: 3-Medium, Size: 5-Very Small, Type: Bug

#618 Minor Language Fixes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Language/TranslatorSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Language/LanguagePrototype.cs
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Language/languages.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#610 Comms Console Announcer Fixes
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Resources/Audio/Announcers/Michael/alerts/delta.ogg
  Resources/Audio/Announcers/Michael/shuttle/called.ogg
  Resources/Audio/Announcers/Michael/shuttle/dock.ogg
  Resources/Audio/Announcers/Michael/shuttle/recalled.ogg
  Resources/Audio/Announcers/NEIL/alerts/blue.ogg
  Resources/Audio/Announcers/NEIL/alerts/delta.ogg
  Resources/Audio/Announcers/NEIL/alerts/epsilon.ogg
  Resources/Audio/Announcers/NEIL/alerts/gamma.ogg
  Resources/Audio/Announcers/NEIL/alerts/green.ogg
  Resources/Audio/Announcers/NEIL/alerts/red.ogg
  Resources/Audio/Announcers/NEIL/alerts/violet.ogg
  Resources/Audio/Announcers/NEIL/alerts/white.ogg
  Resources/Audio/Announcers/NEIL/alerts/yellow.ogg
  Resources/Prototypes/Announcers/michael.yml
Labels: Changes: C#, Changes: YML, Changes: Audio
