Repository Simple-Station/Einstein-Engines, pull requests merged in 2024-03, with the labels that each got.

#10 Improve Several Project Markdown Files
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  LEGAL.md
  README.md
Labels: Priority: 2-High, Size: Small, Status: Needs Discussion

#4 [PORT] Harpy & Moth Clothing Fixes
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Size: Very Small

#5 Make Moths Unable to Eat Medals
  Resources/Prototypes/DeltaV/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Size: Very Small

#9 Add More Labels to the Labeler Action
  .github/labeler.yml
Labels: Priority: 1-Urgent, Size: Very Small

#17 Fix Changelog Running on SelfHosted Runners
  .github/workflows/changelog.yml
Labels: Priority: 1-Urgent, Changes: Workflow, Size: Very Small, Type: Codebase

#18 Fix the .yml Linter
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Changes: YML

#26 Remove Launcher Bias
  README.md
Labels: Changes: Documentation

#27 Prevent Actions From Running on Changelogs
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Priority: 2-High, Changes: Workflow, Size: Very Small, Type: Codebase

#28 Update the Credits Action
  .github/workflows/update-credits.yml
  Tools/dump_github_contributors.ps1
Labels: Priority: 4-Low, Changes: Workflow, Size: Very Small, Type: Codebase

#7 Species Information in Guidebooks and Shortcut in Character Editor
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Documentation, Changes: YML, Size: Medium, Priority: 3-Medium, Type: Port

#21 Light Replacer Fix
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
Labels: Changes: C#, Size: Very Small, Type: Port

#29 New Splash/Banner and Logo
  README.md
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/splashlogo.png
Labels: Changes: Documentation, Priority: 1-Urgent, Size: Very Small, Type: Codebase

#44 Rename Changelogs to Einstein Engines and Delete DV CLs
  Resources/Changelog/Admin.yml
  Resources/Changelog/DeltaVAdmin.yml
  Resources/Changelog/DeltaVChangelog.yml
  Resources/Locale/en-US/changelog/changelog-window.ftl
Labels: Changes: Localization, Changes: YML, Priority: 2-High, Size: Very Small, Type: Codebase, Type: Respace

#39 Code Cleanup: Puddles and Spreaders
  Content.Server/Fluids/EntitySystems/PuddleDebugDebugOverlaySystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Spreader/KudzuSystem.cs
  Content.Server/Spreader/SpreadNeighborsEvent.cs
  Content.Server/Spreader/SpreaderSystem.cs
Labels: Changes: C#, Size: Medium, Type: Port
