Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-05, with the labels that each got.

#2363 Fix Downward Harpy Wing Localization
  Resources/Locale/en-US/_EE/markings/harpy.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2364 Fix Mystic PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2368 Fix Energy Weapons Cycling on Wield
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2367 Chef and Bartender Employment Fixes
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2369 Tcaf Combat Gloves Sprite Fix
  Resources/Textures/_EE/Clothing/BieselRepublic/Gloves/TCAF_combat_gloves.rsi/inhand-left.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Gloves/TCAF_combat_gloves.rsi/inhand-right.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Gloves/TCAF_combat_gloves.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2370 Surgery Fixes
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Medical/medical_borg.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Shitmed/Entities/Mobs/Player/abductor.yml
  Resources/Prototypes/borg_types.yml
Labels: Changes: YML, Status: Needs Review

#2357 Fix the Deathsquad Ghostrole
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: YML, Status: Needs Review

#2379 Fixes For Trait Netcode
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlayComponent.cs
  Content.Shared/Overlays/Switchable/ThermalVisionComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2371 Fix Psi Power Rolling Messages
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
Labels: Changes: C#, Changes: YML

#2383 Fix the Color of Xelthia Blood as Rendered when Damaged
  Resources/Prototypes/_EE/Entities/Mobs/Player/xelthia.yml
  Resources/Prototypes/_EE/Entities/Mobs/Species/xelthia.yml
Labels: Changes: YML, Status: Needs Review

#2385 Radstation Fixes
  Resources/Maps/radstation.yml
  Resources/Prototypes/Maps/radstation.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2386 Northway Fixes
  Resources/Maps/northway.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2387 Meta Fixes
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2388 Lighthouse Fixes
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2389 Shoukou Fixes
  Resources/Maps/shoukou.yml
  Resources/Prototypes/Maps/shoukou.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2390 Saltern Fixes
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2392 Asterisk Fixes
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2393 Arena Fixes
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2400 Fix Tiny Issue With Pebble And Anchor
  Resources/Maps/anchor.yml
  Resources/Maps/pebble.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2332 Character Editor Fixes
  Content.Client/Humanoid/MarkingPicker.xaml
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Size: 4-Small, Priority: 3-Medium, Type: Bug

#2410 Softer Traits Anticheat
  Content.Server/Traits/TraitSystem.cs
Labels: Changes: C#, Changes: YML

#2406 Space Wind Visuals
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Resources/Maps/_Lavaland/Lavaland/common_ruin_5x5.yml
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_arrivals_back.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_arrivals_front.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_beach_biodome.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_cargo_debris.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_chemistry.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_felenid_lab.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_golem_shuttle.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_graveyard.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_hermit.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_hierophant_arena.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_lavalake.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_mining_outpost.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_rouge_ai.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_seed_vault.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_shelter.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_snow_biodome.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_syndicate_base.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_toyshop.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_vulp_lab.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_wafflecohouse.yml
  Resources/Maps/_Lavaland/lavaland_playtest.yml
  Resources/Maps/_Lavaland/mining.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Objects/Tools/appraisal.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/_EE/Atmos/spacewind.yml
  Resources/Textures/Effects/spacewind.rsi/meta.json
  Resources/Textures/Effects/spacewind.rsi/spacewind.png
Labels: Changes: C#, Changes: Map, Changes: YML, Changes: Sprite, Status: Needs Review

#2412 Fix MindRole Test
  Content.Shared/Roles/SharedRoleSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2407 Free Cosmetic Loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/Loadouts/Generic/belt.yml
  Resources/Prototypes/Loadouts/Generic/eyes.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/mask.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Generic/satchels.yml
  Resources/Prototypes/Loadouts/Generic/shoes.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
Labels: Changes: YML

#2404 Magivend Stuff
  Resources/Prototypes/Catalog/VendingMachines/Inventories/magivend.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Changes: YML, Status: Needs Review

#2413 Logger Sawmill Cleanup
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
  Content.Client/Actions/UI/ActionAlertTooltip.cs
  Content.Client/Administration/UI/AdminRemarks/AdminMessagePopupMessage.xaml.cs
  Content.Client/Administration/UI/AdminRemarks/AdminMessagePopupWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/CommandButton.cs
  Content.Client/Administration/UI/Notes/AdminNotesLine.xaml.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/ContextMenu/UI/EntityMenuUIController.cs
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentGroupEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideTechDisciplineEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideTechnologyEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/DocumentParsingManager.cs
  Content.Client/Guidebook/Richtext/Table.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/Parallax/Data/GeneratedParallaxTextureSource.cs
  Content.Client/Screenshot/ScreenshotHook.cs
  Content.Client/UserInterface/Controls/SlotControl.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Content.Client/UserInterface/Systems/Inventory/Controls/InventoryDisplay.cs
  Content.Client/UserInterface/Systems/Inventory/Controls/ItemSlotUIContainer.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Replay/Menu/ReplayMainMenu.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Content.Server/Administration/Notes/UserNotesEui.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Construction/Completions/BuildMech.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/EUI/EuiManager.cs
  Content.Server/GameTicking/Commands/JoinGameCommand.cs
  Content.Server/MoMMI/MoMMILink.cs
  Content.Server/Nyanotrasen/ReverseEngineering/ReverseEngineeringSystem.cs
  Content.Server/Power/EntitySystems/CableSystem.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/_Lavaland/Mobs/Hierophant/HierophantSystem.cs
  Content.Server/_Shitmed/Antags/Abductor/AbductorSystem.Actions.cs
  Content.Shared/Explosion/ExplosionPrototype.cs
  Content.Shared/SimpleStation14/Clothing/Systems/ClothingGrantingSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2375 Sports Drinks
  Resources/Locale/en-US/_EE/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_EE/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/_EE/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/fitness.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_EE/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_EE/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/_EE/Flavors/flavors.yml
  Resources/Prototypes/_EE/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/_EE/Reagents/Consumable/Drink/drink.yml
  Resources/Prototypes/_EE/Recipes/Reactions/drinks.yml
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/fill-1.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/fill-2.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/fill-3.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/fill-4.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/icon-blue.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/icon-red.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/icon-yellow.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/icon_empty.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/icon_open.png
  Resources/Textures/_EE/Objects/Consumable/Drinks/sportsdrink.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2399 Garand Ping
  Resources/Audio/Weapons/Guns/EmptyAlarm/M1_empty_alarm.ogg
  Resources/Audio/Weapons/Guns/EmptyAlarm/M1_empty_alarm2.ogg
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/markone.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review, Changes: Audio

#2376 Tweaks to Shadeskip, Fixes Psi Insul on Caster, Tweaks to Telegnostic Projection
  Content.Shared/Psionics/Abilities/MassSleep/MassSleepPowerSystem.cs
  Resources/Audio/Psionics/attributions.yml
  Resources/Audio/Psionics/shadeskip_power.ogg
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/shadowkudzu.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Changes: Audio

#2359 Add East-Orion Company
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/_EE/contractors/employer.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/_EE/Contractors/employer.yml
  Resources/Prototypes/_EE/Entities/Clothing/EastOrionCompany/jumpskirts.yml
  Resources/Prototypes/_EE/Entities/Clothing/EastOrionCompany/jumpsuits.yml
  Resources/Prototypes/_EE/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-corporate-eastorioncompany.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/icon.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/inhand-left.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/inhand-right.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/hydro_eoc.rsi/meta.json
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/icon.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/inhand-left.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/inhand-right.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpskirts/security_eoc.rsi/meta.json
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/icon.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/inhand-left.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/inhand-right.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/hydro_eoc.rsi/meta.json
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/folded-equipped-INNERCLOTHING.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/icon.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/inhand-left.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/inhand-right.png
  Resources/Textures/_EE/Clothing/Uniforms/Jumpsuits/security_eoc.rsi/meta.json
  Resources/Textures/_EE/Objects/Tools/Hydroponics/clippers-eoc.rsi/icon.png
  Resources/Textures/_EE/Objects/Tools/Hydroponics/clippers-eoc.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Tools/Hydroponics/clippers-eoc.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Tools/Hydroponics/clippers-eoc.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2360 Fix PowerCellDrawComponent Consuming Less Power than It Should
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2415 Glacier Returns to the Mountain Top with a New Shuttle
  Resources/Maps/Shuttles/DeltaV/NTES_Vertex.yml
  Resources/Maps/glacier.yml
  Resources/Prototypes/Maps/glacier.yml
Labels: Changes: Map, Changes: YML

#2382 Platelet Buff 2.1
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#2418 Small Mindswap Fix
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
Labels: Changes: C#, Changes: YML

#2423 Supermatter Tweaks
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.Processing.cs
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/_EE/Supermatter/Components/SupermatterComponent.cs
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2335 Even More IPC Negative Traits
  Content.Server/Traits/Assorted/KillOnDamageComponent.cs
  Content.Server/Traits/Assorted/KillOnDamageSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2429 Biesel Republic Beret Sprite Fixes
  Resources/Textures/_EE/Clothing/BieselRepublic/Helmet/TCAF_beret_dress.rsi/equipped-HELMET.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Helmet/TCAF_beret_field.rsi/equipped-HELMET.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Helmet/TCFL_beret_dress.rsi/equipped-HELMET.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Helmet/TCFL_beret_field.rsi/equipped-HELMET.png
  Resources/Textures/_EE/Clothing/BieselRepublic/Helmet/TCFL_beret_sentinel.rsi/equipped-HELMET.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2431 Update TCAF Webbing Sprite.
  Resources/Textures/_EE/Clothing/BieselRepublic/Belt/TCAF_webbing.rsi/equipped-BELT.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2425 Mood Rework Part 1
  Content.Client/Overlays/SaturationScaleOverlay.cs
  Content.Server/EntityEffects/Effects/ChemPurgeMoodlets.cs
  Content.Server/EntityEffects/Effects/ChemRemoveMoodlet.cs
  Content.Server/Mood/MoodSystem.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nyanotrasen/Kitchen/Components/DeepFryerComponent.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Shared/CCVar/CCVars.Mood.cs
  Content.Shared/Mood/MoodEvents.cs
  Content.Shared/Overlays/SaturationScaleComponent.cs
  Content.Shared/Traits/Assorted/Components/ManicComponent.cs
  Content.Shared/Traits/Assorted/Components/MercurialComponent.cs
  Content.Shared/Traits/Assorted/Systems/TraitStatModifierSystem.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Mood/drugs.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2426 Machine Languages
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_EE/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2427 Turrets Shoot Laying Down People
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Ranged/GunOperator.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2258 Port Cartridge Autoinjector
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/_Goobstation/Chemistry/Hypospray/HyposprayEvents.cs
  Content.Shared/_Goobstation/Chemistry/Hypospray/SolutionCartridgeComponent.cs
  Content.Shared/_Goobstation/Chemistry/Hypospray/SolutionCartridgeSystem.cs
  Content.Shared/_Goobstation/Chemistry/SolutionCartridge/SolutionCartridgeReceiverComponent.cs
  Content.Shared/_Goobstation/Chemistry/SolutionCartridge/SolutionCartridgeSystem.cs
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Goobstation/Changeling/reagent_stings.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Goobstation/Recipes/Lathes/security.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/cartridge1.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/medical-base.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Specific/Medical/autoinjector.rsi/security-base.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-bicaridine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-dermaline.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-ephedrine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-epinephrine.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-ichor.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge-saline.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/cartridge.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/filling.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite, Status: Needs Review

#2432 Marking Shaders
  Content.Client/Body/Systems/BodySystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Locale/en-US/markings/face.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/eyes.yml
  Resources/Prototypes/Entities/Mobs/Customization/screens.yml
  Resources/Prototypes/Species/human.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2438 VVEdit Melee Damage Modifiers
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML

#2422 Fix Chair Mapping
  Content.Server/_EE/Storage/Components/SpawnItemsAtLocationOnUseComponent.cs
  Content.Server/_EE/Storage/EntitySystems/SpawnItemsAtLocationOnUseSystem.cs
  Resources/Locale/en-US/_EE/spawn-items/spawn-items.ftl
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2440 Support Generating In Specific Chunks
  Content.Server/Worldgen/Prototypes/BiomePrototype.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2439 Port Pod Dock Fix
  Content.Server/Shuttles/Components/DockingComponent.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Maps/CentralCommand/harmony.yml
  Resources/Maps/CentralCommand/main.yml
  Resources/Prototypes/_Harmony/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Harmony/tags.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#2430 Fix Krav Maga Applying Damage to All Melee Weapons
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2247 Clean Up Tableslam + Strangling Bugfix
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_Goobstation/TableSlam/PostTabledComponent.cs
  Content.Shared/_Goobstation/TableSlam/TableSlamSystem.cs
  Content.Shared/_Goobstation/TableSlam/TableableComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2442 Weapon Range Fixes
  Content.Client/Weapons/Melee/MeleeArcOverlay.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/NPC/Systems/NPCJukeSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/_EE/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2339 More Random Code Optimizations
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Fluids/EntitySystems/DrainSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Shared/Light/Components/ActiveExpendableLightComponent.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Projectiles/ActiveEmbeddableProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: Changes: C#, Changes: YML

#2445 Fixed YAML Mapping
  Resources/Audio/DeltaV/Voice/Harpy/attributions.yml
Labels: Changes: YML

#2448 Cyberware Code Support
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Body/Organ/OrganComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2446 Fix Action Bar
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: Changes: C#, Changes: YML

#2462 Flammable Performance Improvements
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Atmos/Components/OnFireComponent.cs
Labels: Changes: C#, Changes: YML

#2458 Gax Fixes
  Resources/Maps/gax.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2447 [PORT] Thief Beacon
  Content.Server/Objectives/Components/StealAreaComponent.cs
  Content.Server/Objectives/Components/StealConditionComponent.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Content.Server/Thief/Components/ThiefBeaconComponent.cs
  Content.Server/Thief/Systems/ThiefBeaconSystem.cs
  Resources/Locale/en-US/thief/beacon.ftl
  Resources/Prototypes/Entities/Objects/Tools/thief_beacon.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Objects/Tools/thief_beacon.rsi/extraction_point.png
  Resources/Textures/Objects/Tools/thief_beacon.rsi/extraction_point_light.png
  Resources/Textures/Objects/Tools/thief_beacon.rsi/folded_extraction.png
  Resources/Textures/Objects/Tools/thief_beacon.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2465 Device Link Sink Optimization
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Shared/DeviceLinking/ActiveDeviceLinkSinkComponent.cs
  Content.Shared/DeviceLinking/DeviceLinkSinkComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2468 Meta Cosmetic Fix
  Resources/Maps/meta.yml
Labels: Changes: Map, Changes: YML
