Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-03, with the labels that each got.

#1849 Plant Analyzer Port
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerBoundUserInterface.cs
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml.cs
  Content.Server/AbstractAnalyzer/AbstractAnalyzerComponent.cs
  Content.Server/AbstractAnalyzer/AbstractAnalyzerSystem.cs
  Content.Server/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerLocalizationHelper.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerScannedUserMessage.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/botany/components/plant-analyzer-component.ftl
  Resources/Locale/en-US/botany/plant-analyzer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/plant_analyzer.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Changes: Sprite, Status: Needs Review

#1859 Supermatter Atmos Mapping Assets
  Content.Server/Atmos/Components/AtmosFixMarkerComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/Piping/Unary/Components/GasOutletInjectorComponent.cs
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1853 Rerotate Arena
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/arena.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/arena.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1856 Port Grab Intent From Goob
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Administration/SharedAdminFrozenSystem.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Item/HeldSpeedModifierSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Security/Systems/DeployableBarrierSystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Resources/Locale/en-US/_white/grab/grab.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grab-choke.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grab-hard.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grab-soft.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grabbed-choke.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grabbed-hard.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/grabbed-soft.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/meta.json
  Resources/Textures/_White/Interface/Alerts/pull.rsi/pulled.png
  Resources/Textures/_White/Interface/Alerts/pull.rsi/pulling.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1865 Revert Newtonian Singularity
  Content.Server/Singularity/Components/GravityWellComponent.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Shared/Singularity/Components/EventHorizonComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1866 Fixes For High Flow Atmos Components
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/_EE/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Changes: YML, Status: Needs Review

#1867 Tweak Footprints
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
  Content.Shared/Footprint/PuddleFootPrintsComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1868 Cherry-Pick Storage V2 Fixes From wizden#34845
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1858 Literally Just the Impstation Slime Fixes
  Resources/Prototypes/Species/slime.yml
  Resources/Textures/Mobs/Species/Slime/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/torso_m.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1850 Add More Hair Options.
  Resources/Locale/en-US/_EE/accessories/human-hair.ftl
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/buzzhawk.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/ciacombover.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/flyboy.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/fullshave.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/hightight.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/loosebun.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/loosebunshaved.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/outwardponytail.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/overeyeponytail.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/sergeantcut.png
  Resources/Textures/_EE/Mobs/Customization/human_hair.rsi/stubbleshave.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1871 Fixes For Deserters
  Resources/Maps/Shuttles/ShuttleEvent/SANDropship.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1877 Restore Gitignore File
  .gitignore
Labels: Changes: YML, Status: Needs Review

#1884 Gax, Rad and Saltern: Update for Mining Shuttle.
  Resources/Maps/gaxstation.yml
  Resources/Maps/radstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Maps/radstation.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1863 Finally Made It so IPCs Can't Have Bad Eye Traits if They Have Cyber Eyes, Etc, Fixes, IPCs Now Can't Take the Basic Cyber Eyes Trait.
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/mindormachine.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML

#1861 Gun Buffs
  Resources/Migrations/migration.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/LootTables/suspicion_loot_table.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/tags.yml
Labels: Changes: YML, Status: Needs Review

#1883 Spray Nozzle Tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/spraynozzle.yml
Labels: Changes: YML

#1875 Document Printer Port
  Resources/Locale/en-US/corvax/lathe/lathe-categories.ftl
  Resources/Locale/en-US/corvax/paper/doc-printer.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/catalog/fills/paper/document.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/materials/sheets/other.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/objects/misc/flatpacks.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/corvax/entities/structures/machines/printer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Paper/document.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/flatpacks.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/Corvax/Lathes/misc.yml
  Resources/Prototypes/Corvax/Reagents/Materials/materials.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/categories.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/printer.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/building.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/icon.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/idle.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/inserting.png
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/meta.json
  Resources/Textures/Corvax/Structures/Machines/printer.rsi/panel.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1882 Civilian Disabler
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/civilian-disabler.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/omnilaser_weak.png
Labels: Changes: YML, Changes: Sprite

#1878 Revolutionary Manifesto
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Shared/Chat/ISharedChatManager.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Revolutionary/Components/RevolutionaryConverterComponent.cs
  Content.Shared/Revolutionary/RevolutionaryConverterSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/en-US/revolutionaries/revolutionary-converter.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/revolutionary.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/Textures/Objects/Misc/books.rsi/icon_manifesto.png
  Resources/Textures/Objects/Misc/books.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Documentation, Changes: YML, Changes: Sprite, Status: Needs Review

#1880 NT Poster Censorship
  Resources/Migrations/migration.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: Changes: YML, Status: Needs Review

#1885 BSO Gear Tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
Labels: Changes: YML

#1889 Grabbing Fixes / Table Slam
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/_Goobstation/CCVar/CCVars.Goob.cs
  Content.Shared/_Goobstation/TableSlam/PostTabledComponent.cs
  Content.Shared/_Goobstation/TableSlam/TableSlamSystem.cs
  Content.Shared/_Goobstation/TableSlam/TableableComponent.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1888 Fix UI Crap
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsWriterBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Nuke/NukeBoundUserInterface.cs
  Content.Client/Power/PowerMonitoringConsoleBoundUserInterface.cs
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraSetupBoundUi.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.Client/_EE/Supermatter/Consoles/SupermatterConsoleBoundUserInterface.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1890 Shuttle Spawner Airlocks
  Resources/Prototypes/_EE/Entities/Structures/Doors/Airlocks/shuttleAirlocks.yml
  Resources/Prototypes/_EE/Tags/tags.yml
Labels: Changes: YML, Status: Needs Review

#1873 NewMats Lathe Recipe Changes
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
Labels: Changes: YML, Status: Needs Review

#1899 Bug Fix: Fix Roboticist Airlock Sprite Error
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: Changes: YML, Status: Needs Review

#1901 Fixes SM Being Started on Round Start
  Content.Server/_EE/Supermatter/Systems/SupermatterSystem.cs
  Content.Shared/_EE/Supermatter/Components/SupermatterComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1906 Trait Cost Balancing
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1908 Lightbehaviour Bug Fix
  Content.Client/Light/EntitySystems/LightBehaviorSystem.cs
Labels: Changes: C#, Changes: YML

#1893 Mining Shuttle & Dignitary Stuff for Arena
  Resources/Maps/arena.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1897 Fireplace Construction
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/fires.yml
Labels: Changes: YML, Status: Needs Review

#1881 Terminus
  Content.Shared/Nyanotrasen/Abilities/Oni/OniComponent.cs
  Content.Shared/_EE/Items/RestrictedMeleeComponent.cs
  Content.Shared/_EE/Items/RestrictedMeleeSystem.cs
  Resources/Locale/en-US/_EE/popups/restrictedmelee.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1857 Add RPD and Pipe Stacking
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RCDMenu.xaml
  Content.Server/Atmos/Components/PipeRestrictOverlapComponent.cs
  Content.Server/Atmos/EntitySystems/PipeRestrictOverlapSystem.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Components/RCDDeconstructibleComponent.cs
  Content.Shared/RCD/RCDEvents.cs
  Content.Shared/RCD/RCDPrototype.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/construction/conditions/no-unstackable-in-tile.ftl
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Maps/glacier.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
  Resources/Prototypes/RPD/rpd.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/meta.json
  Resources/Textures/Clothing/Belt/belt_overlay.rsi/rpd.png
  Resources/Textures/Interface/Radial/RPD/bend.png
  Resources/Textures/Interface/Radial/RPD/dual_port.png
  Resources/Textures/Interface/Radial/RPD/fourway.png
  Resources/Textures/Interface/Radial/RPD/gas_filter.png
  Resources/Textures/Interface/Radial/RPD/gas_mixer.png
  Resources/Textures/Interface/Radial/RPD/injector.png
  Resources/Textures/Interface/Radial/RPD/pneumatic_valve.png
  Resources/Textures/Interface/Radial/RPD/port.png
  Resources/Textures/Interface/Radial/RPD/pump_manual_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_pressure.png
  Resources/Textures/Interface/Radial/RPD/pump_signal_valve.png
  Resources/Textures/Interface/Radial/RPD/pump_volume.png
  Resources/Textures/Interface/Radial/RPD/radiator.png
  Resources/Textures/Interface/Radial/RPD/scrub_off.png
  Resources/Textures/Interface/Radial/RPD/straight.png
  Resources/Textures/Interface/Radial/RPD/tjunction.png
  Resources/Textures/Interface/Radial/RPD/vent_off.png
  Resources/Textures/Interface/Radial/RPD/vent_passive.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-rpd.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/Objects/Tools/rpd.rsi/icon.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rpd.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rpd.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Map, Changes: YML, Changes: Sprite

#1914 SS13 Combat Parity Part 0.5: Stun Meta [PREREQUISITE]
  Content.Server/Carrying/CarryingSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/ShovingComponent.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnCollideComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnEmbedComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.Slowdown.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_Goobstation/Stunnable/OvertimeStaminaDamageComponent.cs
  Content.Shared/_Goobstation/Stunnable/OvertimeStaminaDamageSystem.cs
  Content.Shared/_Goobstation/Stunnable/StamcritResistComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1911 Miscellaneous Fixes From White Dream
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Flight/FlyingVisualizerSystem.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Ghost/GhostReturnToRoundSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
  Resources/Locale/ru-RU/ghost/ghost-respawn.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgery_steps.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1917 Faction Clothing Bug Fix
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
Labels: Changes: C#, Changes: YML

#1916 Crafting Curtains and Tables No Longer Consumes Entire Stack
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: Changes: YML, Status: Needs Review

#1925 Markings From Impstation 2
  Resources/Locale/en-US/_Goobstation/markings/wings.ftl
  Resources/Locale/en-US/_Impstation/accessories/human-hair.ftl
  Resources/Locale/en-US/_Impstation/markings/markingsbundle2.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Customization/Markings/IPCwings.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/merciful_base.png
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/merciful_light.png
  Resources/Textures/_Goobstation/Mobs/Customization/IPCwings.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/messyponytail.png
  Resources/Textures/_Impstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/abdomenbasic1.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/abdomenbasic2.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/badmoltchest.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/badmolthead.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/badmoltlarm.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/badmoltrarm.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/creepy.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/eyebags.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/eyebrowsthick.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/eyebrowsultra.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/eyebrowsunibrow.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/lizardsnoutscar.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/lizardtalonscar.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/luna1.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/luna2.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/meta.json
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/muscular.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/tail_gecko1.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/tail_gecko2.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/tail_snizard1.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/tail_snizard2.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/tail_snizard3.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/widow1.png
  Resources/Textures/_Impstation/Mobs/Customization/markingsbundle2.rsi/widow2.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1902 Fix A Minor Test Fail
  Resources/Prototypes/Entities/Mobs/NPCs/xenopet.yml
Labels: Changes: YML, Status: Needs Review

#1896 Throw Errant Into The Spider Pit
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: C#, Changes: YML

#1895 Nerf .45
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
Labels: Changes: YML, Status: Needs Review

#1892 More Lavaland Fixes
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_Lavaland/Stacks/Materials/materials.yml
Labels: Changes: YML, Status: Needs Review

#1869 R25 Rifle Tweaks
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Status: Needs Review

#1909 Footstep Netcode Fixes
  Content.Client/FootPrint/FootPrintsVisualizerSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Shared/Footprint/FootPrintComponent.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1907 Embeddable Projectile Fixes (Courtesy Of White Dream)
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/en-US/weapons/throwing/throwing.ftl
  Resources/Locale/ru-RU/weapons/throwing/throwing.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1928 Health Analyzer UI Fix
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1927 Magma Hand
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/_Lavaland/Entities/Structures/Specific/tendril.yml
  Resources/Textures/Mobs/Aliens/Lavaland/magma_hand.rsi/magma_hand.png
  Resources/Textures/Mobs/Aliens/Lavaland/magma_hand.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1876 Cyber Eye Changes
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1765 Space Wind Version 5 (FINAL)
  Content.IntegrationTests/Tests/Movement/MovementTest.cs
  Content.IntegrationTests/Tests/Movement/PullingTest.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.MAS.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Station/Components/StationRandomTransformComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Shared/Atmos/AtmosDirection.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/Gravity/GravityComponent.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Throwing/ThrowingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1935 Fix Oni
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
Labels: Changes: YML, Status: Needs Review

#1936 Rev Manifesto Inhand Use Cooldown
  Resources/Prototypes/Entities/Objects/Specific/revolutionary.yml
Labels: Changes: YML, Status: Needs Review

#1945 More Tolerable Default CVars
  Content.Shared/CCVar/CCVars.Atmos.cs
  Content.Shared/CCVar/CCVars.Customize.cs
  Content.Shared/CCVar/CCVars.Events.cs
  Content.Shared/CCVar/CCVars.Jetpack.cs
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Content.Shared/CCVar/CCVars.StationGoals.cs
Labels: Changes: C#, Changes: YML

#1957 BRDI Repaints
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_DEN/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_blue.rsi/wielded-inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/base.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/bolt-open.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/icon.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/inhand-right.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/mag-0.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/meta.json
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/wielded-inhand-left.png
  Resources/Textures/_DEN/Objects/Weapons/Guns/SMGs/BRDI_R25_decorated.rsi/wielded-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1955 Remove Random Stencil Clear On Left Leg
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/salvage.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: YML, Status: Needs Review

#1952 Novu-Nederic Language
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/translator_implants.yml
  Resources/Prototypes/Entities/Objects/Devices/translators.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/translator_implanters.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Language/Standard/novunederic.yml
  Resources/Prototypes/Recipes/Lathes/language.yml
  Resources/Prototypes/Traits/languages.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1980 Spinarette Fix
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#1984 Salvage Wreck Loot Buff + a Little Extra
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
Labels: Changes: YML, Status: Needs Review

#1982 Butcherable Laser Raptor
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: Changes: YML, Status: Needs Review

#1979 Small Atmos Fixes
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
Labels: Changes: C#, Changes: YML

#1976 Plyush Spriteswap
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpskirt/Decorskirt.rsi/icon.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1961 Shadeskip Changes
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Changes: YML, Status: Needs Review

#1964 Outpost_lavaland V1
  Resources/Maps/_Lavaland/Lavaland/outpost_lavaland.yml
  Resources/Maps/_Lavaland/Shelters/shelter_5x5.yml
  Resources/Maps/_Lavaland/Shelters/shelter_7x7.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1974 Cyberiad 1.1: Eng Rework
  Resources/Maps/cyberiad.yml
Labels: Changes: Map, Changes: YML

#1937 Saltern Fixes
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1967 More Loadout Items
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/headGroup.yml
  Resources/Prototypes/CharacterItemGroups/Generic/itemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Generic/outerwearGroup.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
  Resources/Prototypes/Loadouts/Generic/head.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Generic/uniform.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1970 System to Add Components via Implanters
  Content.Shared/Implants/AddComponentsImplant/AddComponentsImplantComponent.cs
  Content.Shared/Implants/AddComponentsImplant/AddComponentsImplantSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1946 Tweak R25 Again
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: YML, Status: Needs Review

#1966 Add the BSO CQC Manual to Their Loadout and Make the Crew Monitor Cheaper.
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#1947 Fix Cult Doors
  Resources/Prototypes/WhiteDream/Entities/Objects/Structures/Cult/airlock.yml
Labels: Changes: YML, Status: Needs Review

#1971 Port Bar Signs Selection
  Content.Client/BarSign/BarSignSystem.cs
  Content.Client/BarSign/Ui/BarSignBoundUserInterface.cs
  Content.Client/BarSign/Ui/BarSignMenu.xaml
  Content.Client/BarSign/Ui/BarSignMenu.xaml.cs
  Content.Server/BarSign/Systems/BarSignSystem.cs
  Content.Shared/BarSign/BarSignComponent.cs
  Content.Shared/BarSign/BarSignPrototype.cs
  Content.Shared/BarSign/BarSignSystem.cs
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Nyanotrasen/bar_signs.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/maltroach.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/officerbeersky.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Changes: Sprite, Status: Needs Review

#1940 Lathe Messages
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Resources/Locale/en-US/_Goobstation/lathe/lathe-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Goobstation/Voice/speech_verbs.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1948 Lavaland Shuttle Fix
  Content.Server/_Lavaland/Shuttles/Systems/DockingConsoleSystem.cs
  Content.Server/_Lavaland/Shuttles/Systems/DockingShuttleSystem.cs
  Content.Shared/_Lavaland/Shuttles/Components/DockingShuttleComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1932 Northway V1
  Resources/Maps/northway.yml
  Resources/Prototypes/Maps/northway.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1934 Buff the Healing Properties of Cable Coils when Used on IPCs.
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: Changes: YML, Status: Needs Review

#1924 Rename the Medsecglasses to Blueshield Glasses and Add a Diagnostic Hud to Them.
  Resources/Prototypes/_Goobstation/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML, Status: Needs Review

#1913 Battery Percentage and Add More Details to Battery Loads.
  Content.Client/Power/PowerMonitoringWindow.xaml.Widgets.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Shared/Power/SharedPowerMonitoringConsoleComponent.cs
  Resources/Locale/en-US/components/power-monitoring-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1926 Anoigo
  Content.Server/Abilities/Psionics/Abilities/AnoigoPowerSystem.cs
  Content.Shared/Actions/Events/AnoigoPowerActionEvent.cs
  Resources/Audio/Psionics/attributions.yml
  Resources/Audio/Psionics/wavy.ogg
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/anoigo.png
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#1904 Shadowkin Blood Change
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1986 Tritium and Ammonia Canisters Resprites
  Resources/Textures/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/Structures/Storage/canister.rsi/green.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/Structures/Storage/canister.rsi/greenys.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1988 Update CCVars.Atmos.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1992 Update AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1989 Power Cell Draw Fixes
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Back/modsuit.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1994 More Space Wind Tweaks
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Resources/Prototypes/Entities/Structures/base_structure.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1991 Un-Hardcode Casing Ejections
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: C#, Changes: YML

#1969 The Accursed Abomination Grows Ever Stronger
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#1993 Salvage Vendor Improvements
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
Labels: Changes: YML, Status: Needs Review

#1998 Armblades Can Now Cut Food
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
Labels: Changes: YML, Status: Needs Review

#1954 Survival Medipens Inject with a Delay Based on Environment
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/Events/HyposprayEvents.cs
  Resources/Prototypes/_Lavaland/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1943 Vampirism Trait
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Limbus/Traits/Components/VampirismComponent.cs
  Content.Server/Limbus/Traits/VampirismSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1997 Shotgun Variation
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2005 Fix MS13 Flooring
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
Labels: Changes: YML, Status: Needs Review

#2008 Oni Correction
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2010 Update Miner's Salve
  Resources/Prototypes/_Lavaland/Reagents/medicine.yml
Labels: Changes: YML, Status: Needs Review

#2000 Changeling Fixes (Port Hardlight Bow)
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenu.xaml
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenu.xaml.cs
  Content.Client/_Goobstation/AmmoSelector/AmmoSelectorMenuBoundUserInterface.cs
  Content.Client/_Goobstation/ToggleableLightWieldable/ToggleableLightWieldableComponent.cs
  Content.Client/_Goobstation/ToggleableLightWieldable/ToggleableLightWieldableSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/UserInterface/ActivatableUIComponent.cs
  Content.Shared/UserInterface/ActivatableUISystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Content.Shared/_Goobstation/Projectiles/ProjectileIgnoreTransparent/ProjectileIgnoreTransparentComponent.cs
  Content.Shared/_Goobstation/Projectiles/ProjectileIgnoreTransparent/ProjectileIgnoreTransparentSystem.cs
  Content.Shared/_Goobstation/Projectiles/SpawnEntitiesOnHit/SpawnEntitiesOnHitComponent.cs
  Content.Shared/_Goobstation/Projectiles/SpawnEntitiesOnHit/SpawnEntitiesOnHitSystem.cs
  Content.Shared/_Goobstation/Weapons/FoldingWeapon/FoldingWeaponComponent.cs
  Content.Shared/_Goobstation/Weapons/FoldingWeapon/FoldingWeaponSystem.cs
  Content.Shared/_Goobstation/Weapons/Wielding/UnwieldOnShootComponent.cs
  Content.Shared/_Goobstation/Weapons/Wielding/UnwieldOnShootSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_arrows.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Bow/hardlight_bow_protos.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#2012 Fix Tiny Fires Ashing People
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/EntityEffects/Effects/FlammableReaction.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2004 The Shotgun Update Part 2
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1999 Prisoner QOL 2: Prisoner Loadout
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Maps/Salvage/DeltaV/DV-med-pirate.yml
  Resources/Maps/Salvage/medium-pirate.yml
  Resources/Maps/Shuttles/pirate.yml
  Resources/Maps/_Lavaland/Lavaland/ruin_toyshop.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Misc/prisoner.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Misc/prisoner.yml
  Resources/Prototypes/Loadouts/Jobs/Misc/uncategorized.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/hats.yml
  Resources/Prototypes/Roles/Antags/pirate.yml
Labels: Changes: Localization, Changes: Map, Changes: YML, Status: Needs Review

#2014 Rework the IPC Maintenance Panel.
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2017 Remove Invalid Map Proto
  Resources/Maps/core.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2021 Make Context Menu Uses Spritetree
  Content.Client/Verbs/VerbSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
Labels: Changes: C#, Changes: YML

#2020 Add Puddle Drawdepth
  Content.Shared/DrawDepth/DrawDepth.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1939 Add: Shogun Dogi, New Captain Outerwear
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/captaindogi.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2016 Dermal Armor Rebalance
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: Changes: Localization, Changes: YML

#2019 Changeling Infection Buffs
  Content.Shared/_Goobstation/Changeling/ChangelingInfectionComponent.cs
Labels: Changes: C#, Changes: YML

#2028 Throwing Nerfs: Less Stamina Damage, Cooldown After Grabbing Before You Can Throw.
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Locale/en-US/_white/grab/grab.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1950 Dreadnought "Power Armor" / Hardsuit for the Boring People.
  Content.Shared/_Goobstation/Clothing/Components/DamageOverTimeComponent.cs
  Content.Shared/_Goobstation/Clothing/Components/DamageOverTimeSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2029 Port the BSO's Greatshield From LRP.
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/_Goobstation/Wizard/Components/EmpImmuneComponent.cs
  Content.Server/_Goobstation/Wizard/Systems/EmpImmuneSystem.cs
  Content.Server/_White/Blocking/RechargeableBlockingComponent.cs
  Content.Server/_White/Blocking/RechargeableBlockingSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Audio/_Goobstation/Weapons/Effects/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyhum.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyoff.ogg
  Resources/Audio/_Goobstation/Weapons/Effects/nanotrasenenergyon.ogg
  Resources/Locale/en-US/_white/rechargable-blocking/rechargeable-blocking.ftl
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Weapons/blueshieldshield.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Shields/shields.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Changes: Audio

#2015 HOS Samurai Drip
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/hosamurai.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1985 Fix MapRenderer
  Content.MapRenderer/Content.MapRenderer.csproj
Labels: Changes: YML, Status: Needs Review

#1958 Fillbot
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/FillLinkedMachineOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/FindLinkedMachineOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyFillableItemOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/DeviceLinking/Events/PortDisconnectedEvent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Content.Shared/Silicons/Bots/FillbotComponent.cs
  Content.Shared/Silicons/Bots/FillbotSystem.cs
  Content.Shared/Tag/TagSystem.cs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Mobs/NPCs/fillbot.yml
  Resources/Prototypes/Entities/Structures/Machines/material_silo.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/NPCs/fillbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/fillbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/_Shitmed/Body/Organs/silicon.yml
  Resources/Prototypes/_Shitmed/Body/Prototypes/silicon/siliconhand.yml
  Resources/Textures/Mobs/Silicon/Bots/fillbot.rsi/fillbot.png
  Resources/Textures/Mobs/Silicon/Bots/fillbot.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2034 Terminus Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
Labels: Changes: YML, Status: Needs Review

#2009 Add Minebot
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Mobs/NPCs/minebot.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/minebot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/minebot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/minebot.rsi/minebot.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2022 Security Buffs But Real
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Nutrition/Components/IngestionBlockerComponent.cs
  Content.Server/Nutrition/EntitySystems/IngestionBlockerSystem.cs
  Content.Server/_Goobstation/Chemistry/HyposprayBlockNonMobInjection/HyposprayBlockNonMobInjectionComponent.cs
  Content.Server/_Goobstation/Chemistry/HyposprayBlockNonMobInjection/HyposprayBlockNonMobInjectionSystem.cs
  Content.Server/_Goobstation/Flashbang/FlashSoundSuppressionComponent.cs
  Content.Server/_Goobstation/Flashbang/FlashbangComponent.cs
  Content.Server/_Goobstation/Flashbang/FlashbangSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/_Goobstation/Chemistry/SolutionCartridge/SolutionCartridgeComponent.cs
  Content.Shared/_Goobstation/Chemistry/SolutionCartridge/SolutionCartridgeReceiverComponent.cs
  Content.Shared/_Goobstation/Chemistry/SolutionCartridge/SolutionCartridgeSystem.cs
  Content.Shared/_Goobstation/Stunnable/ClothingModifyStunTimeComponent.cs
  Content.Shared/_Goobstation/Stunnable/ClothingModifyStunTimeSystem.cs
  Resources/Locale/en-US/_Goobstation/alert-levels/alerts.ftl
  Resources/Locale/en-US/_Goobstation/damage/stamina.ftl
  Resources/Locale/en-US/_Goobstation/flashbang/flashbang.ftl
  Resources/Locale/en-US/_Goobstation/mask/ingestion_blocker.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Goobstation/Alerts/alerts.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Specific/Medical/cartridge.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2038 Port My Merged DS14 Fork Commits
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/_ds14/Decals/zeta_text_decals.yml
  Resources/Textures/Tiles/bar.png
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/clown.png
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/dark_herringbone.png
  Resources/Textures/Tiles/dark_mini.png
  Resources/Textures/Tiles/dark_mono.png
  Resources/Textures/Tiles/dark_offset.png
  Resources/Textures/Tiles/dark_pavement.png
  Resources/Textures/Tiles/dark_pavement_vertical.png
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/hydro.png
  Resources/Textures/Tiles/kitchen.png
  Resources/Textures/Tiles/laundry.png
  Resources/Textures/Tiles/lime.png
  Resources/Textures/Tiles/mime.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/steel_herringbone.png
  Resources/Textures/Tiles/steel_mini.png
  Resources/Textures/Tiles/steel_mono.png
  Resources/Textures/Tiles/steel_offset.png
  Resources/Textures/Tiles/steel_pavement.png
  Resources/Textures/Tiles/steel_pavement_vertical.png
  Resources/Textures/Tiles/steel_worn.png
  Resources/Textures/Tiles/white.png
  Resources/Textures/Tiles/white_herringbone.png
  Resources/Textures/Tiles/white_mini.png
  Resources/Textures/Tiles/white_mono.png
  Resources/Textures/Tiles/white_offset.png
  Resources/Textures/Tiles/white_pavement.png
  Resources/Textures/Tiles/white_pavement_vertical.png
  Resources/Textures/Tiles/white_plastic.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/Bridge.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/Medical.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/RnD.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/Sec.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/Supply.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2052 Add Engi Text Decal
  Resources/Prototypes/_ds14/Decals/zeta_text_decals.yml
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/Engi.png
  Resources/Textures/_ds14/Decals/zetatextdecals.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#2036 Steadfast/Bionic Leg
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#2050 Moff Buffs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2033 Dignitary Tag to OmniHud/SecHud
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#2031 Core Rework
  Resources/Maps/core.yml
Labels: Changes: Map, Changes: YML

#2061 Port End Screen Medals
  Content.Client/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalBoundUserInterface.cs
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml
  Content.Client/_CorvaxNext/CrewMedal/UI/CrewMedalWindow.xaml.cs
  Content.Server/_CorvaxNext/CrewMedal/CrewMedalSystem.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalComponent.cs
  Content.Shared/_CorvaxNext/CrewMedal/CrewMedalEvents.cs
  Content.Shared/_CorvaxNext/CrewMedal/SharedCrewMedalSystem.cs
  Resources/Locale/en-US/_corvaxnext/crew-medals/crew-medal-component.ftl
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#2055 Grab Changes
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/_Goobstation/MartialArts/Components/MartialArtsComponents.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.SleepingCarp.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
  Content.Shared/_White/Grab/GrabThrownComponent.cs
  Content.Shared/_White/Grab/GrabThrownSystem.cs
  Resources/Prototypes/_Goobstation/MartialArts/cqc.yml
  Resources/Prototypes/_Goobstation/MartialArts/judo.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2060 Latest Hotfix, Latest Guidebook Correction for the Chitinid From DeltaV
  Resources/Prototypes/DeltaV/Body/Organs/chitinid.yml
  Resources/Prototypes/DeltaV/Body/Prototypes/chitinid.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Chitinid.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#2037 Goob LRP Weapons
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/bwuh.ogg
  Resources/Audio/_Goobstation/Weapons/Guns/Gunshots/thock.ogg
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/high_caliber_box.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/high_caliber_cartridge.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/high_caliber_magazine.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Rifles/rifle.yml
  Resources/Prototypes/_Goobstation/Entities/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Goobstation/tags.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review, Changes: Audio

#2064 AI Absolute Control
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/DeltaV/siliconlaws.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2039 Ninja Buffs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML, Status: Needs Review

#2071 Turrets Fix Not Shooting Lings
  Resources/Prototypes/ai_factions.yml
Labels: Changes: YML, Status: Needs Review

#2068 Anchor Map
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/anchor.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/anchor.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#2053 Move the Yukon Skirt to Its Own Folder in Preparation for Blackburns
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Uniforms/costumes.yml
  Resources/Prototypes/_CS4875/Clothing/Uniforms.yml
Labels: Changes: YML, Status: Needs Review

#2078 Envirosuit Quick Fixes
  Resources/Prototypes/Entities/Clothing/Head/envirohelms.yml
  Resources/Textures/Clothing/Head/Envirohelms/ancientvoid.rsi/meta.json
  Resources/Textures/Clothing/Head/Envirohelms/ancientvoid.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Envirohelms/custom.rsi/equipped-HELMET.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2056 Return Of Bionic Leg
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2076 Add New Facial Hair, Port My N14 Hairstyles
  Resources/Locale/en-US/_EE/markings/z_human_facial_hair.ftl
  Resources/Locale/en-US/_Nuclear14/accessories/hair.ftl
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/z_human_facial_hair.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/Customization/Markings/hair.yml
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/emwhiskers.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/meta.json
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/onthechin.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/spiderwhiskers.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/twirlable.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/voluminous.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/walrus.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/wizardous.png
  Resources/Textures/_EE/Mobs/Customization/z_human_facial_hair.rsi/workinman.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/faded.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/front_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/half_shaved_braids.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/halfsies.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/lone_tail.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/long_spikehair.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/manageable_mess.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/matted_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/messy_ponytail.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/meta.json
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/mini_matted_spikes.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/monk.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/natural_mess_long.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/natural_mess_short.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/nerfish.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/over_shoulder_braids.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/over_the_shoulder.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/plantish_poofs.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/poofed.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/porcupine.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/quadspike.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/radical.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/ratty_royalty.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/short_and_messy.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/short_spikehair.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/spikehawk.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/standard_asymmetry.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/the_johnny.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/the_political.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/tunnel_snake.png
  Resources/Textures/_Nuclear14/Mobs/Customization/hair.rsi/zeta_basic_braids.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2069 Fix Improper Offset & BB for N14 Trees
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/floradesert.yml
Labels: Changes: YML, Status: Needs Review

#2073 N14 Counters No Longer Go Wild On Rotation & Now Have Consistent BB
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/table.yml
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/craft_counter_intersect.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/meta.json
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/metal_counter_intersect.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_bend.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_cross.png
  Resources/Textures/_Nuclear14/Structures/Furniture/Tables/counters.rsi/wood_counter_intersect.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2041 Skelly Gib Crash #1987 Pr Fix for Pr #2040
  Content.Shared/Gibbing/Systems/GibbingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2072 Xenoglossy Language Tweaks
  Content.Server/Language/LanguageSystem.cs
  Content.Shared/Language/Systems/SharedLanguageSystem.cs
  Resources/Fonts/Megrim/Megrim.ttf
  Resources/Fonts/Megrim/OFL.txt
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2086 The Wicked Abomination Is Unstoppable
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_EE/Damage/modifier_sets.yml
Labels: Changes: YML, Status: Needs Review

#2084 Disable Healing Word Revive
  Resources/Prototypes/Actions/psionics.yml
Labels: Changes: YML, Status: Needs Review

#2083 Back to Asimov
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: YML, Status: Needs Review

#2066 Lighthouse AI Turrets
  Resources/Maps/lighthouse.yml
Labels: Changes: Map, Changes: YML

#2067 Cherry-Pick Lizard Plushie Sprites & Observer Point Light From Wizden
  Content.Client/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/lizard-equipped-HELMET.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/spacelizard-equipped-HELMET.png
  Resources/Textures/Objects/Fun/toys.rsi/spacelizard-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/spacelizard-inhand-right.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2047 Arena Fixes #1
  Resources/Maps/arena.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2079 Drones
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Server/_Imp/Drone/DroneComponent.cs
  Content.Server/_Imp/Drone/DroneSystem.cs
  Content.Shared/_Imp/Drone/SharedDroneSystem.cs
  Resources/Locale/en-US/_Imp/Drone/drone-system.ftl
  Resources/Locale/en-US/_Imp/Drone/ghost-role-component.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Migrations/migration.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/misc.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/InventoryTemplates/drone_inventory_template.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/drone.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_EE/Datasets/Names/drone_names.yml
  Resources/Prototypes/_Imp/Tags.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
  Resources/Prototypes/_Imp/_Drone/drone.yml
  Resources/Prototypes/_Imp/_Drone/drone_inventory_template.yml
  Resources/Prototypes/_Imp/_Drone/drone_tools.yml
  Resources/Prototypes/_Imp/_Drone/satchel.yml
  Resources/Prototypes/_Imp/name_identifier_groups.yml
  Resources/Textures/_Imp/Drone/drone.rsi/drone.png
  Resources/Textures/_Imp/Drone/drone.rsi/l_hand.png
  Resources/Textures/_Imp/Drone/drone.rsi/meta.json
  Resources/Textures/_Imp/Drone/drone.rsi/r_hand.png
  Resources/Textures/_Imp/Drone/drone.rsi/shell.png
  Resources/Textures/_Imp/Drone/dronesatchel.rsi/equipped-BACKPACK.png
  Resources/Textures/_Imp/Drone/dronesatchel.rsi/icon.png
  Resources/Textures/_Imp/Drone/dronesatchel.rsi/inhand-left.png
  Resources/Textures/_Imp/Drone/dronesatchel.rsi/inhand-right.png
  Resources/Textures/_Imp/Drone/dronesatchel.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2091 Fix IPC Power Cell Being Removable While the Panel Is Closed.
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
Labels: Changes: YML, Status: Needs Review

#2082 Makes Operating Table Buildable From G Menu Instead of Being a Machine
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/bed.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/electronics.yml
Labels: Changes: YML, Status: Needs Review

#2095 Buff the EG-4 Energy Revolver
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: YML, Status: Needs Review

#2094 Shield Blocking/Raising Fixes
  Content.Shared/Blocking/BlockingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2080 Cyberiad - Logi HV Connected to Main HV Grid. Atmos Waste Painted Appropriately.
  Resources/Maps/cyberiad.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2059 Saltern Fixed Gridatmos Added AI Turrets
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2045 Winter Gear Buffs
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/Neck/stoles.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: YML, Status: Needs Review

#2102 Misc Changes
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: YML, Status: Needs Review
