Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-02, with the labels that each got.

#1695 Update GlimmerSystem.cs
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#, Changes: YML

#1698 Hardsuit Walking Sounds And Refactor EmitSoundOnMove
  Content.Shared/Clothing/Components/EmitsSoundOnMoveComponent.cs
  Content.Shared/Clothing/EntitySystems/EmitsSoundOnMoveSystem.cs
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/tacsuit_step_00.ogg
  Resources/Audio/Effects/Footsteps/tacsuit_step_01.ogg
  Resources/Audio/Effects/Footsteps/tacsuit_step_02.ogg
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review, Changes: Audio

#1699 Holopad Context Menu Fix
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: YML, Status: Needs Review

#1701 Webbing Sound Effects
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/gear1.ogg
  Resources/Audio/Effects/Footsteps/gear2.ogg
  Resources/Audio/Effects/Footsteps/gear3.ogg
  Resources/Audio/Effects/Footsteps/gear4.ogg
  Resources/Audio/Effects/Footsteps/gear5.ogg
  Resources/Audio/Effects/Footsteps/gear6.ogg
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
Labels: Changes: YML, Status: Needs Review, Changes: Audio

#1707 MISSING HARPY EMOTES
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1708 Remove Barotrauma Gibbing You Instantly.
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1709 Fix Standard Cloners Not Transferring Appearance
  Content.Server/Cloning/CloningSystem.Utility.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1710 Make Hardsuits Not Destroy Ears
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Changes: YML, Status: Needs Review

#1711 ChemMaster Shorten Amounts
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1712 International Space Station Update - New Accent Traits
  Content.Server/Speech/Components/GermanAccentComponent.cs
  Content.Server/Speech/EntitySystems/GermanAccentSystem.cs
  Content.Server/Speech/EntitySystems/RussianAccentSystem.cs
  Resources/Locale/en-US/accent/german.ftl
  Resources/Locale/en-US/accent/russian.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1706 Disablerbot & Batonbot Tweaks & Emagging
  Content.Shared/Silicon/Components/EmagReplaceFactionsComponent.cs
  Content.Shared/Silicon/Systems/EmagReplaceFactionsSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/batonbot.yml
  Resources/Prototypes/Entities/Mobs/NPCs/disablerbot.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1718 Add a Plunger to the Cleaning Module
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: YML, Status: Needs Review

#1717 Gladiabot Tweaks
  Content.Client/NPC/Systems/NpcFactionSpriteStateSetterSystem.cs
  Content.Shared/Silicon/Components/EmagReplaceFactionsComponent.cs
  Content.Shared/Silicon/Systems/EmagReplaceFactionsSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/gladiabot.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1722 Psionic Mantis Guidebook Entry
  Resources/Prototypes/Guidebook/science.yml
  Resources/ServerInfo/Guidebook/Science/MantisGuide.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#1723 Fix CyberEyes
  Content.Client/Overlays/Switchable/BaseSwitchableOverlay.cs
  Content.Client/Overlays/Switchable/NightVisionSystem.cs
  Content.Client/Overlays/Switchable/ThermalVisionOverlay.cs
  Content.Client/Overlays/Switchable/ThermalVisionSystem.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlayComponent.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlaySystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1674 AAC Tablet Port
  Content.Client/DeltaV/AACTablet/UI/AACBoundUserInterface.cs
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml
  Content.Client/DeltaV/AACTablet/UI/AACWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/DeltaV/AACTablet/AACTabletComponent.cs
  Content.Server/DeltaV/AACTablet/AACTabletSystem.cs
  Content.Shared/DeltaV/AACTablet/AACTabletUiMessages.cs
  Content.Shared/DeltaV/QuickPhrase/QuickPhrasePrototype.cs
  Resources/Locale/en-US/deltav/phrases/common.ftl
  Resources/Locale/en-US/deltav/phrases/locations.ftl
  Resources/Locale/en-US/deltav/phrases/species.ftl
  Resources/Locale/en-US/deltav/phrases/subjects.ftl
  Resources/Locale/en-US/deltav/phrases/threats.ftl
  Resources/Locale/en-US/deltav/species/species.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/aac_tablet.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/actions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/commands.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/manners.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/numbers.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/pronouns.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/qualitative.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Common/questions.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/animals.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/crew.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Species/generic_species.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/command.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/engineering.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/epistemics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/generic.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/justice.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/logistics.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/medical.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/security.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Subjects/service.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hazards.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/hostiles.yml
  Resources/Prototypes/DeltaV/QuickPhrases/Threats/status.yml
  Resources/Prototypes/DeltaV/QuickPhrases/base.yml
  Resources/Prototypes/DeltaV/QuickPhrases/jobs.yml
  Resources/Prototypes/DeltaV/QuickPhrases/locations.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/medical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen-inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_screen.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/aac_tablet.png
  Resources/Textures/DeltaV/Objects/Devices/tablets.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Changes: Sprite, Status: Needs Review

#1724 Shhhh I Fucked Up
  Resources/Changelog/Changelog.yml
Labels: Changes: YML, Status: Needs Review

#1688 Fix Sanitization
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1716 Quick ChemMaster Fix
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1725 No More Telepathy While Unconscious
  Content.Server/Chat/TelepathicChatSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1728 Port Autodoc Surgery Part Filter
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1727 Make BSO Able To Take Secoff Guns
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
Labels: Changes: YML, Status: Needs Review

#1731 Fix Arcade Machines (#30376)
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1732 Fix AgeRequirement Showing Int32 Maximum
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Resources/Locale/en-US/customization/character-requirements.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1703 Weldbot
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWeldableOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/WeldbotWeldOperator.cs
  Content.Server/NPC/NPCBlackboard.cs
  Content.Shared/Silicons/Bots/WeldbotComponent.cs
  Content.Shared/Silicons/Bots/WeldbotSystem.cs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/npc/weldbot.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/weldbot.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/NPCs/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/weldbot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/weldbot.rsi/weldbot.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1704 Holopads, New AI Core, BSO and NTR Offices for Glacier
  Resources/Maps/glacier.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1700 BagelStation
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1735 Fix Shop Vendor Buying on Non-Click (#2906)
  Content.Client/DeltaV/VendingMachines/UI/ShopVendorWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1734 Exorcism of the Spirit of the Dwarf Species
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#1738 Fix Sprites Getting Stuck Red when Quickly Damaged
  Content.Client/Effects/ColorFlashEffectSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1733 Oni Guidebook and Lore
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#1729 Artifact Analyzer and Anomaly Vessel Part Upgrading
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/Components/AnomalyVesselComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Textures/Structures/Machines/artifact_analyzer.rsi/meta.json
  Resources/Textures/Structures/Machines/artifact_analyzer.rsi/panel.png
Labels: Changes: C#, Changes: YML, Changes: Sprite, Status: Needs Review

#1737 Fix Industrial Ore Processor Inheritance
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: YML, Status: Needs Review

#1743 Northway Ship For EE (MVP)
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/northway.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/northway.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1742 Adds New Law Boards for AI
  Resources/Locale/en-US/deltav/station-laws/laws.ftl
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1745 Update SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#1744 Micro-RTG
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Objects/Power/power_cells.rsi/meta.json
  Resources/Textures/Objects/Power/power_cells.rsi/micrortg.png
Labels: Changes: YML, Changes: Sprite

#1747 Lyre Birb Trait
  Content.Client/Traits/SingerSystem.cs
  Content.Server/Traits/Assorted/SingerSystem.cs
  Content.Shared/Instruments/SharedInstrumentComponent.cs
  Content.Shared/Traits/Assorted/Prototypes/SingerInstrumentPrototype.cs
  Content.Shared/Traits/Assorted/Systems/SharedSingerSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/Misc/singer_types.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1748 Add Mood Visual Effects Toggle
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Overlays/SaturationScaleSystem.cs
  Content.Shared/CCVar/CCVars.Mood.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1749 AI Shall No Longer Be An All-Hearing God
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, Status: Needs Review

#1739 Noslip arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: Changes: YML, Status: Needs Review

#1752 Make SMES Not SUCK
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: Changes: YML, Status: Needs Review

#1751 Update speech_emotes.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML, Status: Needs Review

#1754 Flying Objects Ignore Laying Down
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1750 A Few More Glowy Hardsuits
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-unshaded-harpy.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-unshaded-harpy.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-unshaded-harpy.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1761 More AI QOL Stuff
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
Labels: Changes: YML, Status: Needs Review

#1756 Fix Autodoc Surgery UI
  Content.Client/_Shitmed/Autodoc/PickSurgeryWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1764 BSO Chester Loadout Change.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML

#1758 Move Access Configurators
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/metals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_Nuclear14/Reagents/materials.yml
  Resources/Prototypes/_Nuclear14/Reagents/ores.yml
  Resources/Prototypes/_Nuclear14/Recipes/Lathes/materials.yml
  Resources/Prototypes/_Nuclear14/Stacks/material_stacks.yml
  Resources/Prototypes/_Nuclear14/ore.yml
Labels: Changes: YML, Status: Needs Review

#1759 Tweak Lava Ore Rates
  Resources/Prototypes/ore.yml
Labels: Changes: YML, Status: Needs Review

#1771 Tiny Saltern Fix
  Resources/Maps/saltern.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1770 Revert Rouny Sprite
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/sleeping.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1774 Planet Maps Prep For Glacier Rework
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Station/Components/StationBiomeComponent.cs
  Content.Server/Station/Systems/StationBiomeSystem.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1769 Plasmaman Damage Resist and Density Changes
  Content.Server/_EE/SpawnGasOnGib/SpawnGasOnGibComponent.cs
  Content.Server/_EE/SpawnGasOnGib/SpawnGasOnGibSystem.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/plasmaman.yml
  Resources/Prototypes/Loadouts/Generic/plasmaman.yml
  Resources/ServerInfo/Guidebook/Mobs/Plasmaman.xml
Labels: Changes: C#, Changes: Documentation, Changes: YML, Status: Needs Review

#1768 Add Argenti Ammo, Gun Age Requirements to Bartender Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
Labels: Changes: YML, Status: Needs Review

#1776 WAR OPS ARE BACK!!!
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: YML, Status: Needs Review

#1786 Sedin (#27110)
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustPotency.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantDestroySeeds.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantRestoreSeeds.cs
  Resources/Locale/en-US/botany/seeds.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/guidebook/chemistry/plant-attributes.ftl
  Resources/Locale/en-US/reagents/meta/botany.ftl
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Recipes/Reactions/botany.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1784 Remove Nonlethal Ammo Research
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1785 Telecrystal Rebalance
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/DeltaV/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
Labels: Changes: YML, Status: Needs Review

#1777 Re-Add Missing Recipes To Industrial Ore Processor
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1787 Fix Silly Test Fail
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: YML, Status: Needs Review

#1783 Hotfix Shuttles FTL.
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1782 Adds Justice Channel To AI
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: YML, Status: Needs Review

#1778 Fixes Rejuvenation Rune to Heal Specific Damage Types Instead of Groups
  Content.Server/WhiteDream/BloodCult/Runes/Revive/CultRuneReviveComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1775 Disposable Syringes
  Content.Client/Chemistry/EntitySystems/FillableOneTimeInjectorSystem.cs
  Content.Client/Chemistry/UI/FillableOneTimeInjectorStatusControl.cs
  Content.Server/Chemistry/EntitySystems/FillableOneTimeInjectorSystem.cs
  Content.Shared/Chemistry/Components/FillableOneTimeInjectorComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedFillableOneTimeInjectorSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-left-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-right-fill-3.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe1.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe2.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe_base0.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe_base1.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe_base2.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe_base3.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringe_base4.png
  Resources/Textures/Objects/Specific/Chemistry/disposablesyringe.rsi/syringeproj.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1793 IPCs Can Take High Capacity Batteries with Loadout
  Resources/Prototypes/Loadouts/Generic/species.yml
Labels: Changes: YML, Status: Needs Review

#1795 BSO Paramed Gaming
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#1792 Two New Traits.
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1794 Two New .25 Caseless Guns
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Audio/_EE/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_EE/Weapons/Guns/Gunshots/fpa-90-suppressed-gunshot.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/weapons/extenddescriptions/descriptions.ftl
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/bolt-open.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/icon.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/mag-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/meta.json
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/wielded-inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25.rsi/wielded-inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/bolt-open.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/icon.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/mag-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/meta.json
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/BRDI_R25_antique.rsi/wielded-inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/bolt-open.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/icon.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/mag-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/SMGs/FPA90.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#1803 Fix Every Debug Test Fail
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.IntegrationTests/Tests/StoreTests.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Resources/Prototypes/Catalog/discount_categories.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/Entities/Objects/Tools/t-ray.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Maps/arena.yml
  Resources/Prototypes/Maps/asterisk.yml
  Resources/Prototypes/Maps/edge.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/hammurabi.yml
  Resources/Prototypes/Maps/hive.yml
  Resources/Prototypes/Maps/lambda.yml
  Resources/Prototypes/Maps/submarine.yml
  Resources/Prototypes/Maps/tortuga.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1808 Update TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1809 Make Footstep Entity Better
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Changes: YML, Status: Needs Review

#1805 Prevent SecretRule From Picking Invalid Presets (#27456)
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/Rules/Components/LoadMapRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/RuleGridsComponent.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/RuleGridsSystem.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/GridPreloader/GridPreloaderSystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1779 Katayusha's Director's Cut: Pebble [Part 1]
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/AISAT.yml
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1814 Scroll to Bottom when Selecting a New Chat
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1811 Fix Surplus Bundles
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
Labels: Changes: YML, Status: Needs Review

#1817 Corpsman Crew Monitor
  Resources/Prototypes/Loadouts/Jobs/Security/corpsman.yml
Labels: Changes: YML

#1815 Disable Unecessary Roundstart Variations
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: YML

#1806 Lighthouse Update (SiN Mapping Team)
  Content.Client/Cargo/Systems/CargoSystem.Telepad.cs
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: Changes: C#, Changes: Map, Changes: YML, Status: Needs Review

#1730 BSO Lifeline Port
  Content.Server/_Goobstation/Explosion/Components/GoobTriggerSystem.cs
  Content.Server/_Goobstation/Explosion/Components/OnTrigger/DeleteParentOnTriggerComponent.cs
  Resources/Audio/_Goobstation/Weapons/Guns/Stasisgun/stasisgun_reload.ogg
  Resources/Prototypes/_Goobstation/Actions/types.yml
  Resources/Prototypes/_Goobstation/Entities/Effects/bluespace_acidifier.yml
  Resources/Prototypes/_Goobstation/Entities/Misc/implanters.yml
  Resources/Prototypes/_Goobstation/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Objects/Specific/Medical/nt_implanter.rsi/broken.png
  Resources/Prototypes/_Goobstation/Objects/Specific/Medical/nt_implanter.rsi/implanter0.png
  Resources/Prototypes/_Goobstation/Objects/Specific/Medical/nt_implanter.rsi/implanter1.png
  Resources/Prototypes/_Goobstation/Objects/Specific/Medical/nt_implanter.rsi/meta.json
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Textures/Effects/bluespace_lifeline.rsi/bluespace_lifeline.png
  Resources/Prototypes/_Goobstation/Textures/Effects/bluespace_lifeline.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#1807 Port And Update Cybersun Stealth Hardsuit (#866)
  Content.Shared/Stealth/Components/BreakStealthOnAttackComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Prototypes/_Goobstation/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Debugging/nukiestealth.yml
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon-flash.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/off-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/Head/Hardsuits/cybersunstealth.rsi/on-equipped-HELMET.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Clothing/OuterClothing/Hardsuits/cybersunstealth.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1825 Cherrypick Wizden Pr 29151
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.Game.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1823 Muted Tweaks and Fixes
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#1826 Update pebble.yml
  Resources/Maps/pebble.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1829 Apply RoofOverlay Per-Grid Not Per-Map + Fix Lighting Quality (#35207)
  Content.Client/Light/AfterLightTargetOverlay.cs
  Content.Client/Light/LightBlurOverlay.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Client/Light/TileEmissionOverlay.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1830 Fix Singulo
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1816 Some More BSO Options
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1810 More Gunsmithing
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#1821 Renamable Component
  Content.Client/Renamable/RenamableBoundUserInterface.cs
  Content.Client/Renamable/RenamableWindow.xaml
  Content.Client/Renamable/RenamableWindow.xaml.cs
  Content.Shared/Renamable/Components/RenamableComponent.cs
  Content.Shared/Renamable/EntitySystems/SharedRenamableSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/renamable/renamable-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Status: Needs Review

#1832 Experimental Welder Rework
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Changes: YML, Status: Needs Review

#1838 Allow Weldbot to Fix Specific Structures
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyWeldableOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/WeldbotWeldOperator.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Prototypes/DeltaV/Entities/Structures/Windows/tinted_windows.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Windows/windows.yml
  Resources/Prototypes/tags.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1840 Allow Tricordrazine to Heal Minor Accidental Exposures
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: YML, Status: Needs Review

#1842 Fix War Declarator
  Content.Client/NukeOps/WarDeclaratorWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#1841 Add Clothwraps to Hands Loadouts
  Resources/Prototypes/CharacterItemGroups/Generic/gloveGroup.yml
  Resources/Prototypes/Loadouts/Generic/hands.yml
Labels: Changes: YML, Status: Needs Review

#1843 Holoparasite Buff
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: Changes: YML, Status: Needs Review

#1833 Minor Fixes to My Two Traits PR.
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#1835 Fix Tendons Damage
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1834 More Tajaran Markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
Labels: Changes: YML, Status: Needs Review

#1828 Cybernetics Trait Changes
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/mindormachine.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1684 Shadowkin Age Fixes & Plus Plushies
  Resources/Locale/en-US/loadouts/generic/items.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Species/shadowkin.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1846 Trait Add Tag
  Content.Server/Traits/TraitSystem.Functions.cs
Labels: Changes: C#, Changes: YML

#1847 Arachne SpiderCrafting
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
Labels: Changes: YML, Status: Needs Review

#1845 Add Centcom Disabler
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/nanorep.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/ccdisabler.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review
