Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-06, with the labels that each got.

#2474 Atmos Alert Computer Performance Tweaks
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
Labels: Changes: C#, Changes: YML

#2473 Solar Flare Performance Tweaks
  Content.Server/StationEvents/Events/SolarFlareRule.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2478 Changed Arachn Plush Description
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: YML, Status: Needs Review

#2444 Update StoreTests.cs
  Content.IntegrationTests/Tests/StoreTests.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2475 Bonfire Fix
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/fires.yml
Labels: Changes: YML

#2480 Add Item Rendering to the Weapon Recharger
  Content.Client/Entry/EntryPoint.cs
  Content.Client/PowerCell/PowerChargerVisualizerSystem.cs
  Content.Client/_White/ItemSlotRenderer/ItemSlotRendererComponent.cs
  Content.Client/_White/ItemSlotRenderer/ItemSlotRendererSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/_White/Shaders/shaders.yml
  Resources/Textures/_White/Shaders/flickerhologram.swsl
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2476 Nerf TCAF Heavy Armor
  Resources/Prototypes/_EE/Entities/Clothing/BieselRepublic/outerwear.yml
Labels: Changes: YML, Status: Needs Review

#2297 Port (Totally Tay's and Not Mine) Funky's Whitelist HTTP API Action
  Content.Server/Administration/ServerApi.cs
  Content.Server/_Funkystation/Administration/ServerApi.Funkystation.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2296 BSO Lifeline Tweaks
  Resources/Prototypes/_Goobstation/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#2199 No More Instant Grab Combos
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2486 Pretty Big Atmos Fixes PR
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.MAS.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2470 Holopad System Performance Tweaks
  Content.Server/Holopad/HolopadSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2482 Bad Spawn-Point Job-Courier
  Resources/Migrations/eeMigration.yml
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/jobs.yml
Labels: Changes: YML, Status: Needs Review

#2471 More Drain System Perf Tweaks
  Content.Server/Fluids/EntitySystems/DrainSystem.cs
  Content.Shared/Fluids/Components/DrainComponent.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2484 Fix Saving Prefered Quick Store Item Locations (space-wizards/space-station-14#32480)
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#, Changes: YML

#2485 Fix Mailing Units (space-wizards/space-station-14#30174 + Other)
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/MailingUnitWindow.xaml.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review
