Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-04, with the labels that each got.

#2126 Update AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
Labels: Changes: C#, Changes: YML

#2127 Yeet Entity Querries
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Changes: C#, Changes: YML

#2130 Changeling Gamemode Fixes (Again)
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: YML, Status: Needs Review

#2125 New Pet: The Squackroach
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/loadouts/generic/items.ftl
  Resources/Prototypes/Body/Prototypes/Specific/squackroach.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Textures/Mobs/Animals/squackroach.rsi/icon.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/squackroach.rsi/squackroach-moving.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/squackroach.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/squackroach_dead.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_squackroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#2123 IPC Brain Fixes
  Resources/Prototypes/Body/Prototypes/ipc.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: YML, Status: Needs Review

#2128 Uplink Item Ports
  Content.Server/_Goobstation/Teleportation/Components/PocketDimensionComponent.cs
  Content.Server/_Goobstation/Teleportation/Systems/PocketDimensionSystem.cs
  Content.Shared/_Goobstation/Weapons/RequiresDualWield/RequiresDualWieldComponent.cs
  Content.Shared/_Goobstation/Weapons/RequiresDualWield/RequiresDualWieldSystem.cs
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Goobstation/teleportation/pocket-dimension.ftl
  Resources/Locale/en-US/_Goobstation/weapons/gun.ftl
  Resources/Maps/_Goobstation/Nonstations/pocket-dimension.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Boxes/pistol.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Briefcases/briefcase.yml
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Syndicate/dimension_pot.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Pistols/pistol.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Goobstation/Entities/Structures/Walls/dimension.yml
  Resources/Prototypes/_Goobstation/tags.yml
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/base.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/bolt-open.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/mag-0.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/Dualetta.rsi/meta.json
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-left.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/inhand-right.png
  Resources/Textures/_Goobstation/Objects/Weapons/Guns/Pistols/anaconda.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: Map, Changes: YML, Changes: Sprite, Status: Needs Review

#2129 Fix Buttons Being Yellow Instead of Red
  Content.Client/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml.cs
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Client/Info/RulesPopup.xaml
  Content.Client/Lobby/UI/ObserveWarningWindow.xaml
  Content.Client/Nuke/NukeMenu.xaml
  Content.Client/NukeOps/WarDeclaratorWindow.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/NetworkTab.xaml
  Content.Client/PDA/Ringer/RingtoneMenu.xaml.cs
  Content.Client/Power/Generator/GeneratorWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml
  Content.Client/_Shitmed/Autodoc/AutodocProgramWindow.xaml.cs
  Content.Client/_Shitmed/Autodoc/AutodocWindow.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Codebase, Type: Bug

#2058 Port Ready Manifest to Pre-Round Lobby
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/ReadyManifest/ReadyManifestEui.cs
  Content.Client/ReadyManifest/ReadyManifestSystem.cs
  Content.Client/ReadyManifest/ReadyManifestUi.xaml
  Content.Client/ReadyManifest/ReadyManifestUi.xaml.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/ReadyManifest/ReadyManifestEui.cs
  Content.Server/ReadyManifest/ReadyManifestSystem.cs
  Content.Shared/ReadyManifest/SharedReadyManifestSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2111 Fix Carp Lungs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Changes: C#, Changes: YML

#2136 Misc Test Fail Fixes
  Resources/Maps/anchor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Shitmed/Body/Organs/silicon.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2140 Buff Moth Flight Speed
  Resources/Prototypes/Traits/species.yml
Labels: Changes: YML, Status: Needs Review

#2142 Tweak Language Stuff
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Traits/languages.yml
Labels: Changes: YML, Status: Needs Review

#2141 Corpsman Glasses Fix.
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML

#2124 Stamina and Advanced Bloodloss Drugs
  Content.Server/EntityEffects/Effects/StaminaChange.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2104 Asterisk: Re-Add to Rotation. Holopads & AI Sat, Senior Roles; Shuttlecrafting Room.
  Resources/Maps/asterisk.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/asterisk.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#1339 Enhances Roundstart Antagonist Selection to Prevent Roundstart Fail and Allocate All Antags
  Content.Server/Antag/AntagSelectionPlayerPool.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Changes: C#, Changes: YML, Priority: 4-Low, Size: 5-Very Small, Status: Needs Review

#2134 Coat and Scrubs Restricted to Respective Employers
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/_EE/Contractors/Systems/EmployerSystem.cs
  Content.Server/_EE/Contractors/Systems/LifepathSystem.cs
  Content.Server/_EE/Contractors/Systems/NationalitySystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_EE/Contractors/CCVars/CCVars.Contractors.cs
  Content.Shared/_EE/Contractors/Systems/CharacterRequirements.Profile.cs
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2150 Allow Admins to Spawn a Passport for Players
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Administration/Systems/SpawnPassportSystem.cs
  Content.Server/Administration/Toolshed/SpawnPassportCommand.cs
  Content.Shared/SpawnPassport/SpawnPassportEvent.cs
  Content.Shared/_EE/Contractors/Systems/SharedPassportSystem.cs
  Resources/Locale/en-US/_EE/contractors/commands.ftl
  Resources/Textures/Interface/AdminActions/spawnpassport.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2153 Remove Ion Damage
  Resources/Locale/en-US/Goobstation/damage/damage-groups.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_EE/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Damage/groups.yml
  Resources/Prototypes/_Goobstation/Damage/modifier_sets.yml
  Resources/Prototypes/_Goobstation/Damage/types.yml
  Resources/Prototypes/_Goobstation/Entities/Mobs/Player/bingle.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2154 Various Bugfixes (Mostly Traits System)
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2151 Squackroach Sprite Update
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/squackroach.rsi/inhand-left.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/inhand-right.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/meta.json
  Resources/Textures/Mobs/Animals/squackroach.rsi/sq-equipped-HELMET.png
  Resources/Textures/Mobs/Animals/squackroach.rsi/sq-equipped-NECK.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2158 Tweak Glimmer Decay Math
  Content.Client/CartridgeLoader/Cartridges/GlimmerMonitorUiFragment.xaml
  Content.Server/Psionics/Glimmer/PassiveGlimmerReductionSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2159 Small TCFL Loadout Fix
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
Labels: Changes: YML, Status: Needs Review

#2163 Removed Duplicate Using. Removed Unused Using.
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Radio/Ui/IntercomBoundUserInterface.cs
  Content.Server/Administration/JobWhitelistsEui.cs
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/EntityEffects/Effects/ModifyLungGas.cs
  Content.Server/EntityEffects/Effects/Polymorph.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Server/Ninja/Systems/StunProviderSystem.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/UserInterface/ActivatableUISystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2160 Fix Missing Goldfish Spawn Event Announcement
  Resources/Locale/en-US/_Impstation/markings/misc.ftl
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/_EE/Entities/Mobs/NPCs/carp.yml
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2139 Fixed Penlight UI and Blind Detection
  Content.Client/Eye/PenLight/UI/PenLightBoundUserInterface.cs
  Content.Server/Medical/PenLightSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2167 Lings Can Now Eat Animals
  Resources/Prototypes/Entities/Mobs/NPCs/Rslimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/hellspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: YML, Status: Needs Review

#2166 Nerfs Restricted Gear & Cost
  Resources/Prototypes/Loadouts/Jobs/Security/traitRestrictedGear.yml
  Resources/Prototypes/Loadouts/Jobs/Service/traitRestrictedGear.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML, Status: Needs Review

#2170 Loadout And Trait Slot Cost
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Clothing/Loadouts/Prototypes/LoadoutPrototype.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Prototypes/CharacterItemGroupPrototype.cs
  Content.Shared/Traits/Prototypes/TraitPrototype.cs
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2176 Variant Latent Psychics
  Content.Server/WhiteDream/BloodCult/Spells/BloodCultSpellsSystem.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Content.Shared/Magic/ISpeakSpell.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/WhiteDream/BloodCult/Items/CultItemSystem.cs
  Content.Shared/WhiteDream/BloodCult/Spells/Events.cs
  Resources/Locale/en-US/traits/categories.ftl
  Resources/Locale/en-US/traits/psionics.ftl
  Resources/Locale/en-US/traits/psychoHistorianPowers.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Migrations/eeMigration.yml
  Resources/Prototypes/CharacterItemGroups/Psionics/castingTypes.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Lockers/epistemics.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/Nyanotrasen/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Nyanotrasen/Objectives/traitor.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/mantisPowers.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/Psionics/casterTypes.yml
  Resources/Prototypes/Traits/Psionics/elementalistShop.yml
  Resources/Prototypes/Traits/Psionics/feats.yml
  Resources/Prototypes/Traits/Psionics/latentShop.yml
  Resources/Prototypes/Traits/Psionics/psychoHistorianShop.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/mental.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2182 Add Orion Express
  Content.Shared/_EE/Contractors/Prototypes/EmployerPrototype.cs
  Resources/Locale/en-US/_EE/contractors/employer.ftl
  Resources/Prototypes/_EE/Contractors/employer.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2173 The Creation Of John Language (Removal of Language Limit)
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: Changes: YML, Status: Needs Review

#2155 Senior Roles Stuff (Ft. CMO and Other Loosely Related Changes)
  Resources/Locale/en-US/loadouts/jobs/heads/chiefMedicalOfficer.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/CharacterItemGroups/Generic/miscItemGroups.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/seniorEngineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/seniorPhysician.yml
  Resources/Prototypes/_EE/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_EE/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_EE/Entities/Objects/Misc/misc.yml
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/omnimed.rsi/cmotool-inhand-left.png
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/omnimed.rsi/cmotool-inhand-right.png
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/omnimed.rsi/cmotool.png
  Resources/Textures/_Shitmed/Objects/Specific/Medical/Surgery/omnimed.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2190 Fix Minor Psionics Bugs
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#, Changes: YML

#2189 Fix Office Chairs
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: YML, Status: Needs Review

#2183 Hi-Viz Now Glows in the Dark
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/icon-unshaded.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2178 Prevent Spam of Instance() and Reset of Shader From Parallax Every Dr…
  Content.Client/Parallax/ParallaxOverlay.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2157 Lumenblast Shells
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shellflare.png
  Resources/Textures/Objects/Storage/boxes.rsi/shelllumen.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/flare-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/flare.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/lumen-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/lumen.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/meta.json
Labels: Changes: Localization, Changes: Map, Changes: YML, Changes: Sprite, Status: Needs Review

#2198 Morphine
  Content.Server/_Shitmed/Medical/Surgery/SurgerySystem.cs
  Content.Shared/_Shitmed/Surgery/NoScreamComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/mood/mood.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/morphine.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Mood/genericNegativeEffects.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/_EE/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_EE/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/_EE/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_EE/Entities/Objects/Misc/misc.yml
  Resources/Prototypes/_EE/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_EE/Entities/Objects/Specific/Medical/syringecase.yml
  Resources/Prototypes/_EE/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/_EE/Mood/categories.yml
  Resources/Prototypes/_EE/Mood/drugs.yml
  Resources/Prototypes/_EE/Reagents/narcotics.yml
  Resources/Prototypes/_EE/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_EE/status_effects.yml
  Resources/Prototypes/_EE/tags.yml
  Resources/Textures/Objects/Misc/syringecase.rsi/bot1.png
  Resources/Textures/Objects/Misc/syringecase.rsi/bot2.png
  Resources/Textures/Objects/Misc/syringecase.rsi/closed.png
  Resources/Textures/Objects/Misc/syringecase.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/syringecase.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/syringecase.rsi/meta.json
  Resources/Textures/Objects/Misc/syringecase.rsi/open.png
  Resources/Textures/Objects/Misc/syringecase.rsi/pen1.png
  Resources/Textures/Objects/Misc/syringecase.rsi/pen2.png
  Resources/Textures/Objects/Misc/syringecase.rsi/syr1.png
  Resources/Textures/Objects/Misc/syringecase.rsi/syr2.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/painpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/painpen_empty.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-cat.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-fox.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-hamster.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-kangaroo.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-possum.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-puppy.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE-sloth.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/emergency_anesthetic.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2177 New Lobby Art
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/nosfordgunther.webp
  Resources/Textures/LobbyScreens/nosfordgunther.yml
Labels: Changes: YML

#2093 Shiva/Spider Buffs
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: YML, Status: Needs Review

#2197 Magboots Changes
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_Goobstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-combat.rsi/on-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2196 Pull Speed Trait Changes
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2162 The Syndicate Modsuits PR
  Resources/Locale/en-US/_TG/store/uplink-catalog.ftl
  Resources/Prototypes/_TG/Entities/Clothing/Modsuits/SyndicateModsuits.yml
  Resources/Prototypes/_TG/uplink_catalog.yml
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/boots-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/boots.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/chestplate-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/chestplate.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/control-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/control.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-BACKPACK-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-BACKPACK-sealed_glow.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-BACKPACK.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-FEET-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-FEET.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-HAND-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-HAND.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-HEAD-sealed_glow.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-HEAD.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/gauntlets-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/gauntlets.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/helmet-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/helmet.png
  Resources/Textures/_TG/Clothing/Modsuit/bloodredmodsuit.rsi/meta.json
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/boots-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/boots.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/chestplate-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/chestplate.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/control-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/control.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-BACKPACK-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-BACKPACK-sealed_glow.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-BACKPACK.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-FEET-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-FEET.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-HAND-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-HAND.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-HEAD-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-HEAD-sealed_glow.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-HEAD.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-OUTERCLOTHING-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/gauntlets-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/gauntlets.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/helmet-sealed.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/helmet.png
  Resources/Textures/_TG/Clothing/Modsuit/syndicateelitemodsuit.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2105 Loadout and Gear Changes
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/paramedic.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Loadouts/Generic/items.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
Labels: Changes: YML, Status: Needs Review

#2164 Add Missing Picture for Thaven in Passport
  Resources/Textures/_EE/Contractors/Passport.rsi/meta.json
  Resources/Textures/_EE/Contractors/Passport.rsi/passport_species_thaven.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2179 Evil VVizard VVeed
  Content.Server/Nyanotrasen/Chemistry/Effects/ChemRestorePsionicReroll.cs
  Content.Server/Psionics/PsionicsSystem.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Locale/en-US/reagents/ousiana.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/psionic.yml
  Resources/Prototypes/Recipes/Construction/fun.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/ousianadustbowl.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/ousiana.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2204 Hive Bugfix
  Resources/Maps/hive.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2161 Anoigo Audio Tweak
  Resources/Audio/Psionics/wavy.ogg
Labels: Changes: YML, Status: Needs Review, Changes: Audio

#2208 Maint Drone Language
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Prototypes/Language/genericlanguages.yml
  Resources/Prototypes/_Imp/_Drone/Mobs_Player_silicon.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2165 More Gun Reworks: Manual Action Edition
  Content.Client/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Audio/_EE/Weapons/Guns/Casings/attributions.yml
  Resources/Audio/_EE/Weapons/Guns/Casings/shotgun_shell1.ogg
  Resources/Audio/_EE/Weapons/Guns/Casings/shotgun_shell2.ogg
  Resources/Audio/_EE/Weapons/Guns/Casings/shotgun_shell3.ogg
  Resources/Locale/en-US/weapons/extenddescriptions/descriptions.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/sound_collections.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review, Changes: Audio

#1005 Keybind Search Bar
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review

#2212 (Bandaid Fix for Languages/Accents) I'M LANGUAGING OUT MAN!!!
  Resources/Prototypes/CharacterItemGroups/Generic/languageGroups.yml
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: Changes: YML, Status: Needs Review

#2213 Initial Corporate Requirements
  Resources/Locale/en-US/_EE/contractors/employer.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/prosecutor.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/_EE/Contractors/employer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-corporate-pmcg.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2209 Telegnosis Fix
  Content.Shared/Psionics/Abilities/Telegnosis/TelegnosisPowerComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Textures/Mobs/Ghosts/telegnostic_observer.rsi/animated.png
  Resources/Textures/Mobs/Ghosts/telegnostic_observer.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite, Status: Needs Review

#2220 Add Nanotrasen as an Employer for Every Job
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/chief_justice.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Justice/clerk.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#2211 RA0032 Warning Fix. Reference to Type Already Exist.
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Nyanotrasen/Mail/MailSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2218 Mosin Nerf & Chester Buff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Guns/Lever/lever.yml
Labels: Changes: YML, Status: Needs Review

#2223 Fix Psionic Invisibility
  Content.Server/Abilities/Psionics/Abilities/AnoigoPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/PsionicInvisibilityPowerSystem.cs
  Content.Server/Psionics/Invisibility/PsionicInvisibilitySystem.cs
  Content.Server/Psionics/Invisibility/PsionicInvisibleContactsComponent.cs
  Content.Server/Psionics/Invisibility/PsionicInvisibleContactsSystem.cs
  Content.Server/Psionics/Invisibility/PsionicallyInvisibleComponent.cs
  Content.Shared/Actions/Events/PsionicInvisibilityPowerActionEvent.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityPowerSystem.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityUsedComponent.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibleContactsComponent.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibleContactsSystem.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicallyInvisibleComponent.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/NPCs/mutants.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2221 Cooler More Readable Loadout Tooltips
  Content.Client/Lobby/UI/LoadoutPreferenceSelector.xaml.cs
  Content.Client/Lobby/UI/TraitPreferenceSelector.xaml.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Logic.cs
  Resources/Locale/en-US/customization/character-requirements.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Priority: 4-Low, Size: 4-Small, Status: Needs Review, Type: Cleanup

#2222 Bonus Traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Species/human.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2174 New Sprite From Chemmaster
  Resources/Textures/Structures/Machines/mixer.rsi/meta.json
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_broken.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_empty.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_loaded.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_screen_broken.png
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_screens.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2228 Replace Cybersun with Zavodskoi Interstellar
  Resources/Locale/en-US/_EE/contractors/employer.ftl
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/Loadouts/Jobs/Command/nanorep.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_EE/Contractors/employer.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-corporate-zavodskoiinterstellar.png
  Resources/Textures/_EE/Clothing/corpo_jacket_zavodskoi_interstellar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_EE/Clothing/corpo_jacket_zavodskoi_interstellar.rsi/icon.png
  Resources/Textures/_EE/Clothing/corpo_jacket_zavodskoi_interstellar.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2233 The Great IPC Marking Gutting
  Resources/Locale/en-US/_Impstation/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2184 Chem/Gas Ports
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/EntityEffects/EffectConditions/BloodReagentThreshold.cs
  Content.Server/EntityEffects/Effects/AddReagentToBlood.cs
  Content.Server/EntityEffects/Effects/AdjustReagent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Server/_Goobstation/Chemistry/TakeStaminaDamage.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/HasComponentOnEquipmentCondition.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/StaminaDamageThreshold.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/TypedDamageThreshold.cs
  Content.Server/_Goobstation/EntityEffects/EffectConditions/UniqueBloodstreamChemThreshold.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/_Goobstation/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/Consumable/drinks.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/medicine.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/_Goobstation/reagents/meta/toxins.ftl
  Resources/Locale/en-US/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Maps/Ruins/DeltaV/derelict.yml
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Hydroponics/mutations.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Prototypes/_Funkystation/Recipes/Reactions/toxins.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Chemistry/chemistry-created.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Specific/Chemistry/chemistry-vials.yml
  Resources/Prototypes/_Goobstation/Reagents/chemicals.yml
  Resources/Prototypes/_Goobstation/Reagents/drinks.yml
  Resources/Prototypes/_Goobstation/Reagents/medicine.yml
  Resources/Prototypes/_Goobstation/Reagents/narcotics.yml
  Resources/Prototypes/_Goobstation/Reagents/toxins.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Goobstation/Recipes/Reactions/narcotics.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Documentation, Changes: Map, Changes: YML, Changes: Sprite, Status: Needs Review

#2217 Fire Actually Works but Shouldn't Ash People Instantly
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/EntityEffects/Effects/FlammableReaction.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2210 Requires that a Character Not Be Mute to Be in Command
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/magistrate.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review

#2227 Un-JPEGify N14 Wood
  Resources/Textures/_Nuclear14/Tiles/attributions.yml
  Resources/Textures/_Nuclear14/Tiles/maple.png
  Resources/Textures/_Nuclear14/Tiles/oak.png
  Resources/Textures/_Nuclear14/Tiles/oakbroken.png
  Resources/Textures/_Nuclear14/Tiles/woodhouse.png
  Resources/Textures/_Nuclear14/Tiles/woodhousebroken.png
Labels: Changes: YML

#2239 Tirochora's Big Fat Combat Fix PR
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/_Goobstation/MartialArts/Components/KravMagaComponents.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CQC.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.CorporateJudo.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.KravMaga.cs
  Content.Shared/_Goobstation/MartialArts/SharedMartialArtsSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2240 Hotfixed Asterisk
  Resources/Maps/asterisk.yml
Labels: Changes: Map, Changes: YML

#2236 Missing Ftl Entries
  Resources/Locale/en-US/_EE/contractors/commands.ftl
  Resources/Locale/en-US/_Impstation/markings/thaven.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2237 Material Arbitrage Test Error Fix.
  Resources/Prototypes/_EE/Entities/Objects/Specific/Medical/syringecase.yml
Labels: Changes: YML, Status: Needs Review

#2238 Surgery Experience Traits + CPR Trait Tweak
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2245 Stop Ectoplasms Complaining
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2255 Woe, Cybernetic Appendage Trait Balancing Be upon Ye.
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2243 Fix Passport Visuals Not Matching Actual Opened Status
  Resources/Prototypes/_EE/Contractors/passports.yml
Labels: Changes: YML

#2169 Smaller Survival Box
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_EE/Catalog/Fills/Boxes/general.yml
Labels: Changes: YML, Status: Needs Review

#2231 Container Manager Changed to Container System [Obsolete Fix]
  Content.Server/Construction/Completions/EmptyAllContainers.cs
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2249 [NVS Gax] Minor Fixes
  Resources/Maps/gax.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2216 Fix Mining Voucher
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
Labels: Changes: YML, Status: Needs Review

#2230 Adds a Newline to the IPC Guidebook Entry
  Resources/ServerInfo/Guidebook/Mobs/IPCs.xml
Labels: Changes: Documentation, Changes: YML, Status: Needs Review

#2065 Terminus Backsprite
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/terminus.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2232 Nukie Plush In-Hands
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushienuke-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushienuke-inhand-right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2215 Security Loadout Tweaks
  Resources/Locale/en-US/loadouts/categories.ftl
  Resources/Locale/en-US/loadouts/jobs/security.ftl
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Categories/categories.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/seniorOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/weapons.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Ammunition/Magazine/magnum.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_DEN/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Belt/belts.yml
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/base.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/bolt-open.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/equipped-BELT.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/mag-0.png
  Resources/Textures/Nyanotrasen/Objects/Weapons/Guns/Pistols/universalnl.rsi/meta.json
  Resources/Textures/_Goobstation/Clothing/Belt/judobelthos.rsi/equipped-BELT.png
  Resources/Textures/_Goobstation/Clothing/Belt/judobelthos.rsi/icon.png
  Resources/Textures/_Goobstation/Clothing/Belt/judobelthos.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2251 IPC MMIs, pAIAs, (Reverse) MMIs
  Content.Server/Body/Systems/BrainSystem.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/aiadapter.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_EE/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/_EE/Research/civilianservices.yml
  Resources/Prototypes/_EE/Tags/tags.yml
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/empty.png
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/meta.json
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/mmi_alive.png
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/mmi_brain.png
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/mmi_dead.png
  Resources/Textures/_EE/Objects/Specific/Robotics/paiadapter.rsi/mmi_off.png
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/icon.png
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/meta.json
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/mmi_alive.png
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/mmi_brain.png
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/mmi_dead.png
  Resources/Textures/_EE/Objects/Specific/Robotics/reversemmi.rsi/mmi_off.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite

#2272 Various Misc Psi Power Fixes
  Content.Server/Abilities/Psionics/Abilities/AnoigoPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/DarkSwapSystem.cs
  Content.Server/Abilities/Psionics/Abilities/DispelPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/HealOtherPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/MindSwapPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/NoosphericZapPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/PsionicRegenerationPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/PyrokinesisPowerSystem.cs
  Content.Server/Abilities/Psionics/Abilities/TelegnosisPowerSystem.cs
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Abilities/Psionics/PsionicFamiliarSystem.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityPowerComponent.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityPowerSystem.cs
  Content.Shared/Psionics/Abilities/PsionicInvisibility/PsionicInvisibilityUsedComponent.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Psionics/SharedPsionicAbilitiesSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Psionics/mantisPowers.yml
  Resources/Prototypes/Traits/Psionics/casterTypes.yml
  Resources/Prototypes/Traits/Psionics/elementalistShop.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2273 Magboots Refactor
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_EE/Entities/Clothing/BieselRepublic/Modsuits/legionnaire.yml
  Resources/Prototypes/_EE/Entities/Clothing/SolAlliance/SAN/Modsuits/CSA-85x.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/apocryphal.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/corporate.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/engineering-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/inquisitory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/janitorial-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/leader-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/medical-responsory.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/security-responsory.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Goobstation/Entities/Clothing/Shoes/modsuit.yml
  Resources/Prototypes/_TG/Entities/Clothing/Modsuits/SyndicateModsuits.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2266 Uncripple the Wall of Green (Accent Fixes)
  Resources/Prototypes/DeltaV/Traits/neutral.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Changes: YML, Status: Needs Review

#2265 Contractors Commands Fix
  Content.Server/Administration/Toolshed/SpawnCorporateStampCommand.cs
  Content.Server/Administration/Toolshed/SpawnPassportCommand.cs
  Content.Server/Administration/Toolshed/SpawnSpecificCorporateStampCommand.cs
  Resources/Locale/en-US/_EE/contractors/commands.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2246 Make Tests Shut Up About Audio Entities
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2274 Nerf The Shit Out Of Darkswap
  Content.Server/Shadowkin/EtherealSystem.cs
  Content.Shared/Shadowkin/EtherealComponent.cs
Labels: Changes: C#, Changes: YML

#2276 Space Wind No Longer Accumulates Infinite Stun
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
Labels: Changes: C#, Changes: YML

#2277 Fix EmptyAllContainersBehaviour Test Fail
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
Labels: Changes: C#, Changes: YML

#2278 Fix the Height of Characters that Were Giant.
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2269 Intercomms Fix
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2262 Anchor 1.2
  Resources/Maps/anchor.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2261 Pebble 3.0
  Resources/Maps/pebble.yml
  Resources/Prototypes/Maps/pebble.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2263 Pathfinder Downsized
  Resources/Maps/Shuttles/pathfinder.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2281 Fix Pebble Invalid Again
  Resources/Maps/pebble.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2288 Update Anchor Again
  Resources/Maps/anchor.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2301 Fix Sec Magboots Since They Throw Errors
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: Changes: YML, Status: Needs Review

#2304 Disable Lavaland Worldgen In Debug
  Content.Shared/_Lavaland/CCVar/CCVars.Lavaland.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2299 Make the Corporate Liaison Not Able to Be an Antagonist
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML, Status: Needs Review

#2289 Fix Friction without Input
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Bug

#2303 Fix Spiders Not Being Hostile
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: YML, Status: Needs Review

#2298 TCJ Makes A Rage Performance PR
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/CartridgeLoader/Cartridges/GlimmerMonitorCartridgeSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionRegenerationSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Clothing/EntitySystems/EmitsSoundOnMoveSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Movement/Events/GetFootstepSoundEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Projectiles/EmbedEvent.cs
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2252 General Character Editor Improvements
  Content.Client/Humanoid/MarkingPicker.xaml
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/RequirementsSelector.xaml
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml
  Content.Client/UserInterface/Controls/AlternatingBGContainer.xaml.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Size: 3-Medium, Priority: 3-Medium, Status: Needs Review, Type: Feature, Type: Rework, Type: Cleanup

#2280 More Harpy Wings
  Resources/Locale/en-US/_EE/markings/harpy.ftl
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/harpy.yml
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/asymagical_c_zetawing_layer1.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/asymagical_c_zetawing_layer2.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/asymagical_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/colorless_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/downward_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/dragobat_c_zetawing_layer1.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/dragobat_c_zetawing_layer2.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/dragobat_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/lime_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/macaw_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/meta.json
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/monocolor_parrot_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/quintet_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/small_zetawing.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/tricolor_parrot_zetawing_layer1.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/tricolor_parrot_zetawing_layer2.png
  Resources/Textures/_EE/Mobs/Customization/Harpy/harpy_wings.rsi/tricolor_parrot_zetawing_layer3.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#2309 Navier-Stokes Space Wind
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.MAS.cs
  Content.Shared/Damage/Components/DamageOtherOnHitComponent.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2317 New Font for Qiilour (Xelthia Language) + Xelthia Trait Blacklists
  Resources/Fonts/NovaFlat/NovaFlat-Regular.ttf
  Resources/Fonts/NovaFlat/OFL.txt
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_EE/Language/Species-Specific/xelthia.yml
  Resources/Prototypes/fonts.yml
Labels: Changes: YML, Status: Needs Review

#2318 Update SuicideCommandTests.cs
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2313 Flight Speed, Moff Trait Small Rebalance
  Resources/Prototypes/Body/Parts/harpy.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: YML, Status: Needs Review

#2316 Bug Languages Accesibility + a Smol Fix
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/languages.yml
  Resources/Prototypes/_EE/Traits/languages.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2319 Melee Part 6: Stamina Issues and AttackRates
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/home_run_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/telescopic_baton.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/weapon_toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/dulled.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Melee/terminus.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/_Goobstation/Changeling/Entities/Objects/Weapons/Melee/changeling_hammer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/blueshield_mace.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/crushers.yml
  Resources/Prototypes/_Lavaland/Entities/Objects/Weapons/hierophant_club.yml
  Resources/Prototypes/_Shitmed/Entities/Objects/Weapons/Melee/wonderprod.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2323 Trait Repricing, 2!
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: YML, Status: Needs Review

#2292 Give Traits A Haircut
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Shared/Psionics/MindbrokenSystem.cs
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/CharacterItemGroups/Generic/mindormachine.yml
  Resources/Prototypes/CharacterItemGroups/Psionics/castingTypes.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/mantisPowers.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/Psionics/casterTypes.yml
  Resources/Prototypes/Traits/Psionics/elementalistShop.yml
  Resources/Prototypes/Traits/Psionics/feats.yml
  Resources/Prototypes/Traits/Psionics/latentShop.yml
  Resources/Prototypes/Traits/Psionics/psychoHistorianShop.yml
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Documentation, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#2314 Remove Reflect From Shuttle Walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Changes: YML, Status: Needs Review

#2312 Adds Paramedic Windbreaker, Coat, and Boots as a Loadout Option
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2307 Fix Surgery Tool Sprites
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: YML, Status: Needs Review

#2324 IPC Negative Traits
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/species.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2275 Bagel: Syndi Puddle Driver Issued a Parking Ticket
  Resources/Maps/bagel.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2279 Glimmer Logging And Sanity Checking
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
  Content.Shared/Psionics/SharedPsionicAbilitiesSystem.cs
Labels: Changes: C#, Changes: YML

#2295 The Magmantle!
  Resources/Prototypes/Loadouts/Generic/species.yml
  Resources/Prototypes/_EE/Entities/Clothing/Neck/magmantles.yml
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/equipped-NECK.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon-on.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/icon.png
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/meta.json
  Resources/Textures/_EE/Clothing/Neck/Mantles/magmantle.rsi/on-equipped-NECK.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2326 Request by ODJ to Add IPC to to the Permited List of the Trait Lyre Bird
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: Localization, Changes: YML

#2328 Disable/Migrate Grappling Gun, Tether Gun, and Force Gun.
  Resources/Migrations/migration.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Virtual/tether.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/borg_types.yml
  Resources/ServerInfo/Guidebook/Science/Science.xml
Labels: Changes: Documentation, Changes: YML

#2320 AI Slaving Delta-V Port
  Content.Client/DeltaV/Silicons/Laws/SlavedBorgSystem.cs
  Content.Server/DeltaV/Silicons/Borgs/BorgSwitchableTypeSystem.Lawset.cs
  Content.Server/DeltaV/Silicons/Laws/SlavedBorgSystem.cs
  Content.Server/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/DeltaV/Silicons/Laws/SharedSlavedBorgSystem.cs
  Content.Shared/DeltaV/Silicons/Laws/SlavedBorgComponent.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/DeltaV/siliconlaws.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/borg_types.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2325 Muted Trait Will Once Again Reward You 6 Points, and Thief Have Had I…
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML, Status: Needs Review

#2330 Quick FTL Updates for Xelthia Markings and New Harpy Wings
  Resources/Locale/en-US/_EE/markings/harpy.ftl
  Resources/Locale/en-US/_EE/markings/xelthia.ftl
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#2336 Fixes some Parts of BSO's Gear
  Resources/Prototypes/_EE/Entities/NanoTrasen/Modsuits/praetorian.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
Labels: Changes: YML, Status: Needs Review

#2338 Clarifies Salvage Law
  Resources/Locale/en-US/weapons/extenddescriptions/descriptions.ftl
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLRestrictedWeapons.xml
Labels: Changes: Localization, Changes: Documentation, Changes: YML, Status: Needs Review

#2333 Fix some Cvars Using Double as Their Type
  Content.Shared/CCVar/CCVars.Admin.cs
  Content.Shared/CCVar/CCVars.GhostRespawn.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Status: Needs Review, Type: Codebase, Type: Bug

#2331 Abductor Eye Visibility Flag Change and Invisble Organ Removal
  Content.Shared/Eye/VisibilityFlags.cs
  Resources/Prototypes/_Shitmed/Entities/Markers/Spawners/Random/dubious.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Computers/computers.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2341 Beacons No Longer Glitch Off on Grid Split (#28518)
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2340 New Xelthia Surgical Jacket + Surgery Check for Xelthia Jackets
  Content.Shared/_Shitmed/Surgery/GloveJacketComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.Steps.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/_EE/Entities/Clothing/OuterClothing/jackets.yml
  Resources/Textures/_EE/Clothing/GloveJackets/insulated_jacket.rsi/equipped-OUTERCLOTHING-Xelthia.png
  Resources/Textures/_EE/Clothing/GloveJackets/insulated_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_EE/Clothing/GloveJackets/insulated_jacket.rsi/icon.png
  Resources/Textures/_EE/Clothing/GloveJackets/insulated_jacket.rsi/meta.json
  Resources/Textures/_EE/Clothing/GloveJackets/insulated_jacket_unmodified/equipped-OUTERCLOTHING-Xelthia.png
  Resources/Textures/_EE/Clothing/GloveJackets/surgical_jacket.rsi/equipped-OUTERCLOTHING-Xelthia.png
  Resources/Textures/_EE/Clothing/GloveJackets/surgical_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_EE/Clothing/GloveJackets/surgical_jacket.rsi/icon.png
  Resources/Textures/_EE/Clothing/GloveJackets/surgical_jacket.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite

#2346 Fix Linoleum Floor Texture
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/lino.png
Labels: Changes: YML, Status: Needs Review

#2350 Fix Changeling Identification in Admin Overlay
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Labels: Changes: YML, Status: Needs Review

#2327 Make Disabilities Permanent + Glasses' Fury
  Content.Client/Examine/ExamineSystem.cs
  Content.Server/_Shitmed/Body/Systems/EyesSystem.cs
  Content.Shared/Eye/Blinding/Components/BlindableComponent.cs
  Content.Shared/Eye/Blinding/Components/VisionCorrectionComponent.cs
  Content.Shared/Eye/Blinding/Systems/BlindableSystem.cs
  Content.Shared/Eye/Blinding/Systems/BlurryVisionSystem.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Traits/Assorted/Components/PermanentBlindnessComponent.cs
  Content.Shared/Traits/Assorted/Systems/PermanentBlindnessSystem.cs
  Resources/Locale/en-US/_Goobstation/traits/traits.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/_Goobstation/Traits/disabilities.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2347 Smol Deserters Update
  Resources/Maps/Shuttles/ShuttleEvent/SANDropship.yml
  Resources/Prototypes/_EE/Gamerules/SANDeserters.yml
Labels: Changes: Map, Changes: YML, Status: Needs Review

#2353 Disable Chitinids
  Content.Server/_DV/Abilities/Chitinid/ChitinidSystem.cs
  Resources/Prototypes/DeltaV/Species/chitinid.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2356 Fix Xelthia Glovejackets to Properly Block Fingerprints
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Resources/Prototypes/_EE/Entities/Clothing/OuterClothing/jackets.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2358 Medical Biofab Additions
  Resources/Prototypes/_Shitmed/Body/Parts/generic.yml
  Resources/Prototypes/_Shitmed/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Shitmed/Recipes/Lathes/rehydrateable.yml
Labels: Changes: YML, Status: Needs Review
