Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-01, with the labels that each got.

#1390 Fixes Broken Heights/Widths
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
Labels: Changes: C#, Changes: YML

#1383 Psionic Refactor Version 3 Part 1
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.Functions.cs
  Content.Server/Abilities/Psionics/PsionicAbilitiesSystem.cs
  Content.Server/Chat/TelepathicChatSystem.Psychognomy.cs
  Content.Server/Nyanotrasen/Psionics/NPC/PsionicNpcCombatSystem.cs
  Content.Server/Psionics/PsionicsSystem.cs
  Content.Shared/Psionics/PsionicComponent.cs
  Content.Shared/Psionics/PsionicPowerPrototype.cs
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Psionics/PsionicPowerPool.yml
  Resources/Prototypes/Psionics/psionics.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1391 Fix the Width Slider Not Translating Smoothly
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#1393 Cherry Pick "Dynamic Radial Menus (#29678)"
  Content.Client/UserInterface/Controls/RadialContainer.cs
Labels: Changes: C#, Changes: YML

#1394 More Psionic Admin Commands
  Content.Server/Psionics/PsionicsCommands.cs
  Resources/Locale/en-US/psionics/psionic-commands.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#1395 Fix Emotes and Add Emote Icons
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/tail_emotes.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/awoo.png
  Resources/Textures/Interface/Emotes/bang.png
  Resources/Textures/Interface/Emotes/bark.png
  Resources/Textures/Interface/Emotes/buzz.png
  Resources/Textures/Interface/Emotes/buzztwo.png
  Resources/Textures/Interface/Emotes/caw.png
  Resources/Textures/Interface/Emotes/chirp.png
  Resources/Textures/Interface/Emotes/chitter.png
  Resources/Textures/Interface/Emotes/clap.png
  Resources/Textures/Interface/Emotes/click.png
  Resources/Textures/Interface/Emotes/cough.png
  Resources/Textures/Interface/Emotes/cry.png
  Resources/Textures/Interface/Emotes/deathgasp.png
  Resources/Textures/Interface/Emotes/growl.png
  Resources/Textures/Interface/Emotes/hiss.png
  Resources/Textures/Interface/Emotes/honk.png
  Resources/Textures/Interface/Emotes/howl.png
  Resources/Textures/Interface/Emotes/laugh.png
  Resources/Textures/Interface/Emotes/meow.png
  Resources/Textures/Interface/Emotes/mew.png
  Resources/Textures/Interface/Emotes/pew.png
  Resources/Textures/Interface/Emotes/ping.png
  Resources/Textures/Interface/Emotes/purr.png
  Resources/Textures/Interface/Emotes/rev.png
  Resources/Textures/Interface/Emotes/ring.png
  Resources/Textures/Interface/Emotes/salute.png
  Resources/Textures/Interface/Emotes/scream.png
  Resources/Textures/Interface/Emotes/sigh.png
  Resources/Textures/Interface/Emotes/snap.png
  Resources/Textures/Interface/Emotes/snarl.png
  Resources/Textures/Interface/Emotes/squeak.png
  Resources/Textures/Interface/Emotes/squish.png
  Resources/Textures/Interface/Emotes/vocal.png
  Resources/Textures/Interface/Emotes/weh.png
  Resources/Textures/Interface/Emotes/whine.png
  Resources/Textures/Interface/Emotes/whistle.png
  Resources/Textures/Interface/Emotes/yawn.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1396 No Cocooning Yourself!
  Content.Server/Cocoon/CocoonerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1398 Add Missing Localization for Supermatter Guide Entry
  Resources/Locale/en-US/guidebook/guides.ftl
Labels: Changes: Localization, Changes: YML

#1399 Fix EE's Most Pressing Issue
  Resources/Prototypes/Datasets/tips.yml
Labels: Changes: YML

#1401 Add White Cane to Loadouts
  Resources/Prototypes/Loadouts/Generic/items.yml
Labels: Changes: YML

#1402 Fix Kα Deficiency Not Having a Description
  Resources/Locale/en-US/traits/traits.ftl
Labels: Changes: Localization, Changes: YML

#1400 Add New Marking Category: Faces
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tusks.yml
  Resources/Prototypes/Entities/Mobs/Customization/screens.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1293 Graytide Virus Event
  Content.Server/StationEvents/Components/AirlockVirusRuleComponent.cs
  Content.Server/StationEvents/Components/AirlockVirusTargetComponent.cs
  Content.Server/StationEvents/Events/AirlockVirusRule.cs
  Resources/Locale/en-US/station-events/events/airlock-virus.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 4-Low, Size: 3-Medium, Status: Do Not Merge, Status: Needs Review, Type: Feature

#1410 Cherry Pick Haloperidol and Potassium Iodide
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/status_effects.yml
Labels: Changes: YML

#1382 Some MobState Refactoring
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Mobs/Components/MobStateComponent.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Content.Shared/Mobs/MobState.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Labels: Changes: C#, Changes: YML

#1413 Fix Toggling Magboots Crashing the Server
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
Labels: Priority: 1-Urgent, Size: 5-Very Small

#1420 Add Missing Language and Marking Localization Strings
  Resources/Locale/en-US/chat/managers/chat-language.ftl
  Resources/Locale/en-US/deltav/markings/vulpkanin.ftl
  Resources/Locale/en-US/language/languages.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/markings/shadowkin.ftl
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/moth.yml
Labels: Changes: Localization, Changes: YML

#1416 Religious Neckwear (Crucifix) And Gay Male Pin
  Resources/Locale/en-US/loadouts/generic/neck.ftl
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/religious.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Generic/neck.yml
  Resources/Textures/Clothing/Neck/Crucifixes/color-inverted.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/color-inverted.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/color-inverted.rsi/meta.json
  Resources/Textures/Clothing/Neck/Crucifixes/color.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/color.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/color.rsi/meta.json
  Resources/Textures/Clothing/Neck/Crucifixes/gold-inverted.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/gold-inverted.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/gold-inverted.rsi/meta.json
  Resources/Textures/Clothing/Neck/Crucifixes/gold.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/gold.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/gold.rsi/meta.json
  Resources/Textures/Clothing/Neck/Crucifixes/silver-inverted.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/silver-inverted.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/silver-inverted.rsi/meta.json
  Resources/Textures/Clothing/Neck/Crucifixes/silver.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Crucifixes/silver.rsi/icon.png
  Resources/Textures/Clothing/Neck/Crucifixes/silver.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/scapular.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/scapular.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/scapular.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/tallit.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/tallit.rsi/icon.png
  Resources/Textures/Clothing/Neck/Misc/tallit.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1418 Make Crit/Death Traits Mutually Exclusive
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: YML

#1419 Add Language Localization Integration Test
  Content.IntegrationTests/Tests/Language/LanguageLocalizationTest.cs
Labels: Changes: C#, Changes: YML

#1421 Add Marking Localization Test
  Content.IntegrationTests/Tests/Markings/MarkingLocalizationTest.cs
Labels: Changes: C#, Changes: YML

#1414 Add Missing Information to Ifrit Ghost Role
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: Changes: Localization, Changes: YML

#1411 Massening Vacsuits And Hardsuits
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Changes: YML

#1422 Add Chatstack
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Resources/Locale/en-US/chat/chatstack.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1417 Meta Station For EE
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, Changes: YML

#1424 Use EnsureComp for StationSpawningSystem
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: Changes: C#, Changes: YML

#1427 [Port] Port Guidebook Tables From Wizden PR #28484
  Content.Client/Guidebook/Richtext/Box.cs
  Content.Client/Guidebook/Richtext/ColorBox.cs
  Content.Client/Guidebook/Richtext/Table.cs
  Content.Client/UserInterface/Controls/TableContainer.cs
Labels: Changes: C#, Changes: YML

#1430 Add Different Launch Types to VSCode
  .vscode/launch.json
  .vscode/tasks.json
Labels: Changes: Config, Changes: YML

#1440 💅🏻 Lamia Markings + ♂️ Male Lamia
  Resources/Locale/en-US/markings/lamia.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/earrings.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/face.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_noses.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/pointy_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/wrist.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/bishop.yml
  Resources/Prototypes/Entities/Mobs/Customization/cyberlimbs/hesphiastos.yml
Labels: Changes: Localization, Changes: YML

#1434 Throwing Mini-Update 1
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
Labels: Changes: C#, Changes: YML

#1431 New Traits: Steadfast And Feeble
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Mobs/Player/ipc.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1439 Footprints Performance Updates
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.Footprints.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/FootPrint/FootPrintsSystem.cs
  Content.Server/FootPrint/PuddleFootPrintsSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Content.Shared/Footprint/FootPrintsComponent.cs
  Content.Shared/Footprint/PuddleFootPrintsComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Changes: C#, Changes: YML

#1433 Pacification Prevents Throwing Weapons
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Content.Shared/Projectiles/EmbedPassiveDamageSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1432 Parkour Training Rework
  Content.Shared/Movement/Components/SpeedModifiedByContactModifierComponent.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Content.Shared/Slippery/SlippableModifierComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Shared/Traits/Assorted/Components/TraitSpeedModifierComponent.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1435 Unlimited Face Markings
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/makeup.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Changes: YML

#1425 Fix Lamia Footprints
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
Labels: Changes: YML

#1392 Hotfix Material Arbitrage Test
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Changes: YML

#1437 Fixed Monkey Skin Color
  Resources/Prototypes/_Shitmed/Species/monkey.yml
Labels: Changes: YML

#1441 Fix Various Language Trait Issues
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/languages.yml
Labels: Changes: YML

#1438 Fix Pirate Radio Rule
  Content.Server/StationEvents/Events/PirateRadioSpawnRule.cs
Labels: Changes: C#, Changes: YML

#1443 The Den Mass Cherry-Pick 01/06/25
  Resources/Locale/en-US/preferences/humanoid-character-profile.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Command/captain.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chiefMedicalOfficer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/head_mirror.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/icon.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gascaptaincombat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/cap_trenchcoat.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Uniforms/Jumpsuit/summer_security.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1446 Increase Trait Limit From 10 To 14
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML

#1454 Fix Humanoid Color
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Species/felinid.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/ipc.yml
Labels: Changes: C#, Changes: YML

#1448 Make Non-Verbal Langs Not Play Speech
  Content.Server/Speech/SpeechNoiseSystem.cs
Labels: Changes: C#, Changes: YML

#1429 [Port] Add Time Transfer Panel From Goobstation
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferEntry.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanel.xaml.cs
  Content.Client/_Goobstation/Administration/UI/TimeTransferPanel/TimeTransferPanelEui.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/_Goobstation/Administration/Commands/TimeTransferPanelCommand.cs
  Content.Server/_Goobstation/Administration/TimeTransferPanelEui.cs
  Content.Shared/_Goobstation/Administration/TimeTransferPanelEui.cs
  Resources/Locale/en-US/_Goobstation/administration/time_transfer.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1415 Fix Toolshed Crash
  Content.Server/Language/Commands/AdminLanguageCommand.cs
  Content.Server/Language/Commands/AdminTranslatorCommand.cs
  Content.Server/Station/Commands/JobsCommand.cs
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
Labels: Changes: C#, Changes: YML

#1460 NanoChat QoL And Bug Fixes
  Content.Client/DeltaV/CartridgeLoader/Cartridges/EditChatPopup.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/EditChatPopup.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatEntry.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NanoChatUiFragment.xaml.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/NewChatPopup.xaml.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/NanoChatCartridgeSystem.cs
  Content.Server/DeltaV/NanoChat/NanoChatSystem.cs
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/NanoChatUiMessageEvent.cs
  Content.Shared/DeltaV/NanoChat/NanoChatCardComponent.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/edit.svg.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1447 Increase Title/Content Text Limits For News Articles
  Content.Client/MassMedia/Ui/NewsArticleCard.xaml.cs
  Content.Client/MassMedia/Ui/NewsWriterMenu.xaml
  Content.Shared/MassMedia/Systems/SharedNewsSystem.cs
Labels: Changes: C#, Changes: UI, Changes: YML, Priority: 4-Low, Size: 5-Very Small

#1461 Chem Colors
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: YML

#1459 Fix Cybersun Pen Damage
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: YML

#1456 Fixed Shadow Shackles Not Activating for Blood Cultists
  Content.Server/WhiteDream/BloodCult/Items/ShadowShacklesAura/ShadowShacklesAuraSystem.cs
Labels: Changes: C#, Changes: YML

#1467 Fix Face Markings Rendering Above Clothing
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/lamia.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/arachne.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: YML

#1470 Prisoner Headset Box in Warden's Locker
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Changes: YML

#1472 Adds Missing Lathe Recipes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: YML, Status: Needs Review

#1471 Some Surgery Fixs
  Content.Shared/_Shitmed/Surgery/Conditions/SurgeryOrganConditionComponent.cs
  Content.Shared/_Shitmed/Surgery/SharedSurgerySystem.cs
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
Labels: Changes: C#, Changes: YML

#1477 CyberEyes Night Vision And Thermal Vision Modules
  Resources/Locale/en-US/traits/misc.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML

#1450 Assay Psionic Power
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
  Content.Shared/Actions/Events/AssayPowerActionEvent.cs
  Content.Shared/Psionics/Events.cs
  Resources/Locale/en-US/abilities/psionic.ftl
  Resources/Locale/en-US/psionics/psionic-powers.ftl
  Resources/Prototypes/Actions/psionics.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/glimmer_creatures.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/oracle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/glimmer_prober.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Research/sophicscribe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Psionics/psionics.yml
  Resources/Textures/Interface/Actions/psionics.rsi/assay.png
  Resources/Textures/Interface/Actions/psionics.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: YML, Priority: 2-High, Size: 4-Small, Changes: Sprite

#1484 Meta with AI
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, Changes: YML

#1483 Hiding and Clearing Department Prototype Code (#28114)
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Shared/Roles/DepartmentPrototype.cs
Labels: Changes: C#, Changes: UI, Changes: YML

#1485 Fix Ai Accessible Consoles
  Content.Client/Silicons/StationAi/StationAiSystem.Airlock.cs
  Content.Server/Access/LogWireAction.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Construction/Completions/AttemptElectrocute.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Electrocution/Components/ElectrifiedComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Doors/Components/AirlockComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.Bolts.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Electrocution/Components/ElectrifiedComponent.cs
  Content.Shared/Electrocution/SharedElectrocutionSystem.cs
  Content.Shared/Power/EntitySystems/SharedPowerReceiverSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Airlock.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Audio/Machines/airlock_electrify_off.ogg
  Resources/Audio/Machines/airlock_electrify_on.ogg
  Resources/Audio/Machines/airlock_emergencyoff.ogg
  Resources/Audio/Machines/airlock_emergencyon.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Locale/en-US/wires/log-wire.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/ai_core.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/bolt_door.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/camera_light.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/comms_console.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/crew_monitor.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/door_overcharge_off.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/door_overcharge_on.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/emergency_off.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/emergency_on.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/mass_scanner.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_ai.rsi/state_laws.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/station_records.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/unbolt_door.png
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Sprite, Changes: Audio

#1486 Add Station AI To Gax
  Resources/Maps/gaxstation.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: Map, Changes: YML

#1476 Senior Physician CPR
  Resources/Prototypes/Traits/skills.yml
Labels: Changes: YML

#1458 Fix AbsorbentTest & Shadowkin Test Fail
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.Footprints.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/shadowkin.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1487 Radstation AI
  Resources/Maps/radstation.yml
  Resources/Prototypes/Maps/radstation.yml
Labels: Changes: Map, Changes: YML

#1482 Porting over My Cruise Control Code From Frontier
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Station/Systems/StationDampeningSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Physics/FrictionRemoverSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Map, Changes: YML

#1491 Fix Announcement Spam
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
Labels: Priority: 1-Urgent, Size: 5-Very Small

#1488 Material Silo
  Content.Client/Materials/MaterialSiloSystem.cs
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Server/Materials/MaterialSiloSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Materials/MaterialSiloComponent.cs
  Content.Shared/Materials/MaterialSiloUtilizerComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialSiloSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/machine-linking/transmitter_ports.ftl
  Resources/Locale/ru-RU/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/prototypes/entities/structures/machines/material_silo.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/material_silo.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Structures/Machines/material_silo.rsi/inserting.png
  Resources/Textures/Structures/Machines/material_silo.rsi/material_silo.png
  Resources/Textures/Structures/Machines/material_silo.rsi/meta.json
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Map, Changes: YML, Changes: Sprite

#1492 Add Exclusivity Between Visual Traits and Cyber-Eyes Functionality
  Resources/Credits/GitHub.txt
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: YML

#1494 Update SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: Changes: C#, Changes: YML

#1497 [Fix] Fixed Shadowking Throwing Errors when Spawning as a Random Humanoid Spawner
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Changes: C#, Changes: YML

#1500 Remove NPC Stormtrooper Mode
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
Labels: Changes: C#, Changes: YML

#1501 Fixes Weather Soundspam(And Crash)
  Content.Client/Weather/WeatherSystem.cs
Labels: Changes: C#, Changes: YML

#1464 PlayTime Unlock Command
  Content.Server/Administration/Commands/PlayTimeUnlockCommands.cs
  Resources/Locale/en-US/players/play-time/play-time-commands.ftl
Labels: Changes: C#, Changes: Localization, Changes: YML

#1502 Fix Silo Distation
  Content.Server/Materials/MaterialSiloSystem.cs
Labels: Changes: C#, Changes: YML

#1505 Fix Spawnpoint Test Fail
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Changes: C#, Changes: YML

#1506 .NET Fix
  .github/workflows/build-docfx.yml
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: YML, Changes: Workflow

#1516 Disable Shadowkin (Again)
  Resources/Prototypes/Species/shadowkin.yml
Labels: Changes: YML

#1519 Fix Energy Swords
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Changes: YML

#1511 Update ghost-respawn.ftl
  Resources/Locale/en-US/ghost/ghost-respawn.ftl
Labels: Changes: Localization, Changes: YML

#1512 Fix Nanotrasen Rep Nakedness and Lack of Headset
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML

#1515 Stamp Fix
  Resources/Locale/en-US/paper/stamp-component.ftl
Labels: Changes: Localization, Changes: YML

#1508 Add Pockets and Tail-Drag to Admin Ghosts
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
Labels: Changes: YML

#1469 Fix Which Side Is Considered Right/Left for Multi-Object Benches and Sofas.
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/sofa_corp.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#1520 Adds SuitStorageComponent to DeltaV Armor
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: YML

#1510 [Add] More Winter Coats in Loadout
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Engineering/engineeringUncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/chemist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/uncategorized.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/warden.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/botanist.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/janitor.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmosphericTechnician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Epistemics/golemancer.yml
  Resources/Prototypes/Loadouts/Jobs/Logistics/logisticsOfficer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Service/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Service/clown.yml
  Resources/Prototypes/Loadouts/Jobs/Service/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Service/musician.yml
Labels: Changes: YML

#1386 Space Law, Irons Out Xml's and Proposes Default Lawset
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLControlledSubstances.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLRestrictedGear.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLRestrictedWeapons.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: Localization, Changes: Documentation, Changes: YML

#1457 Modify the Cargo Shuttle and ATS.
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: Map, Changes: YML

#1518 Default Disable Traits Anticheat
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: C#, Changes: YML

#1521 Nerf Salvage
  Resources/Locale/en-US/weapons/extenddescriptions/descriptions.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/salvage_points.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_legality.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Changes: Localization, Changes: YML

#1523 Maybe Fix Antag Related Crash
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Changes: C#, Changes: YML

#1528 AddTraitSpecial
  Content.Server/Jobs/AddTraitSpecial.cs
Labels: Changes: C#, Changes: YML

#1534 Fix NTR Stamp Icon On Paper & Fix Job IDs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nanorep.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1539 FTL Fixes
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
Labels: Changes: C#, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small, Status: Needs Review

#1542 Fix Server Crash on Shutdown Due to DB Notifications (#31379)
  Content.Server/Database/ServerDbPostgres.Notifications.cs
Labels: Changes: C#, Changes: YML, Priority: 1-Urgent, Size: 5-Very Small

#1547 More General Fixes
  Content.Client/Movement/Systems/ClientSpriteMovementSystem.cs
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Client/Wires/UI/WiresMenu.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/DeviceNetwork/Components/DeviceNetworkComponent.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Movement/Systems/SpriteMovementSystem.cs
  Content.Server/NPC/HTN/Preconditions/HandcuffedPrecondition.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnPullOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnbuckleOperator.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PortalArtifactSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/IdentityManagement/Components/IdentityBlockerComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Movement/Components/SpriteMovementComponent.cs
  Content.Shared/Movement/Events/MoveInputEvent.cs
  Content.Shared/Movement/Events/SpriteMoveEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.CVars.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Movement/Systems/SharedSpriteMovementSystem.cs
  Content.Shared/PowerCell/Components/ToggleCellDrawComponent.cs
  Content.Shared/PowerCell/PowerCellDrawComponent.cs
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Content.Shared/PowerCell/ToggleCellDrawSystem.cs
  Resources/Locale/en-US/random-barks/chicken.ftl
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/base_handheld.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/NPCs/Combat/melee.yml
Labels: Changes: C#, Changes: Localization, Changes: Map, Changes: YML

#1537 Space Wind Version 3
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Damage/Systems/SharedDamageOtherOnHitSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: C#, Changes: YML

#1550 Small Space Wind Optimization Hotfix
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
Labels: Changes: C#, Changes: YML

#1551 Assay Power Hotfix
  Content.Server/Abilities/Psionics/Abilities/AssayPowerSystem.cs
Labels: Changes: C#, Changes: YML

#1543 Update README.md
  README.md
Labels: Changes: Documentation, Changes: YML

#1553 Meta Station with Holopads
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: Changes: Map, Changes: YML

#1544 Extend Access for NTR & BSO
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML

#1532 Increases .35 Mag Size From 10 to 12
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: Changes: YML

#1554 Fix Night Vision
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/Overlays/Switchable/NightVisionSystem.cs
  Content.Client/Overlays/Switchable/ThermalVisionOverlay.cs
  Content.Client/Overlays/Switchable/ThermalVisionSystem.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlayComponent.cs
  Content.Shared/Overlays/Switchable/SwitchableOverlaySystem.cs
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/goggles.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/WhiteDream/Entities/Clothing/Cult/armor.yml
Labels: Changes: C#, Changes: YML

#1517 NVS Gax Update: TEG 100% Real
  Resources/Maps/gaxstation.yml
  Resources/Prototypes/Maps/gaxstation.yml
Labels: Changes: Map, Changes: YML

#1559 Fix Even More Issues
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/Bed/Cryostorage/CanEnterCryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/Intellicard/Components/IntellicardComponent.cs
  Content.Shared/InteractionVerbs/SharedInteractionVerbsSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Airlock.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/intellicard/intellicard.ftl
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1561 Add Security Officer Playtime Requirement
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: Changes: YML

#1557 Fix Big Security Glasses Not Having HUD
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: YML, Status: Needs Review

#1571 Arachne Standing Up Fix
  Resources/Prototypes/Nyanotrasen/Entities/Body/Parts/spider.yml
  Resources/Prototypes/Nyanotrasen/Entities/Body/Prototypes/arachne.yml
Labels: Changes: YML, Status: Needs Review

#1572 Even Even More Fixes
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Client/Holopad/HolopadWindow.xaml
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Client/Wires/UI/WiresMenu.cs
  Content.Server/Access/LogWireAction.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Lock/EntitySystems/ActivatableUIRequiresLockSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Access/SharedAccessWire.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Content.Shared/Lock/ActivatableUIRequiresLockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Telephone/SharedTelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Content.Shared/Wires/ActivatableUIRequiresPanelComponent.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Resources/Locale/en-US/components/base-computer-ui-component.ftl
  Resources/Locale/en-US/crayon/crayon-component.ftl
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Locale/en-US/telephone/telephone.ftl
  Resources/Locale/en-US/wires/components/wires-component.ftl
  Resources/Prototypes/Decals/crayons.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1552 Ports Fixes to some Looping Systems, LightBehaviorSystem Refactor From Wizden
  Content.Client/Jittering/JitteringSystem.cs
  Content.Client/Light/Components/LightBehaviourComponent.cs
  Content.Client/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Client/Light/EntitySystems/LightBehaviorSystem.cs
  Content.Client/Light/EntitySystems/RotatingLightSystem.cs
  Content.Client/Light/HandheldLightSystem.cs
  Content.Client/WhiteDream/BloodCult/Items/VoidTorch/VoidTorchSystem.cs
Labels: Changes: C#, Changes: YML

#1573 Add Plastic Flaps Movement Slow
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Changes: Localization, Changes: YML

#1563 [Shitmed] Increase Brain Eating Time & Show Brain Eating Popup
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/_Shitmed/nutrition/components/food-component.ftl
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/_Shitmed/Body/Organs/Animal/animal.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1560 Martial Artist Rework + Fix MeleeWeapon Wizmerge Bugs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Nyanotrasen/Abilities/Boxer/Boxer/BoxerComponent.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/martialartist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#1574 Handheld Frequencies
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/radio_channels.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1558 Lobby Background Credits
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Shared/GameTicking/Prototypes/LobbyBackgroundPrototype.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/_Goobstation/lobby/lobby-state.ftl
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1509 Downstream Port
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/Traits/Assorted/HeirloomSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/bartender.yml
  Resources/Prototypes/DeltaV/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
  Resources/Prototypes/Mood/genericNegativeEffects.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/knives.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/weapons/pkasawn.yml
  Resources/Textures/Clothing/Head/Hoods/redhood.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/redhood.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/redhood.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/redhood.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/redhood.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/redhood.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/redhood.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/redhood.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/plunger-equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/plunger.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/wielded-inhand-right.png
Labels: Changes: C#, Changes: UI, Changes: YML, Changes: Sprite, Status: Needs Review

#1575 IPC Facial Hair
  Resources/Prototypes/Species/ipc.yml
Labels: Changes: YML, Status: Needs Review

#1576 Remove All Usages of DepartmentTimeRequirement
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Command/administrative_assistant.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Medical/medical_borg.yml
  Resources/Prototypes/DeltaV/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/gladiator.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/blueshield_officer.yml
  Resources/Prototypes/_Goobstation/Roles/Jobs/Command/nanotrasen_representative.yml
Labels: Changes: YML

#1522 Make Loadout Firearms Comply With Space Law
  Content.Shared/Customization/Systems/CharacterRequirements.Profile.cs
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Service/bartender.yml
Labels: Changes: C#, Changes: YML

#1577 Alternative Bunny Ears
  Resources/Locale/en-US/markings/Kemonomimi_tails.ftl
  Resources/Locale/en-US/markings/kemonomimi_ears.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_ears.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/kemonomimi_tails.yml
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/bunnyearsalt.png
  Resources/Textures/Mobs/Customization/kemonomimi-ears.rsi/meta.json
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/bunnytailalt.png
  Resources/Textures/Mobs/Customization/kemonomimi-tails.rsi/meta.json
Labels: Changes: Localization, Changes: YML, Changes: Sprite, Status: Needs Review

#1579 Fix Mining Drills & Reduce Stamina Cost
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: C#, Changes: YML

#1578 Vigor Buff & Lethargy Nerf
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/Oni.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: Localization, Changes: YML, Status: Needs Review

#1581 Fix Sophia Sending a Massive Float to Chat
  Content.Server/Nyanotrasen/Research/SophicScribe/SophicScribeSystem.cs
  Content.Shared/Psionics/Glimmer/GlimmerSystem.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#1582 Make Room for Longer Chem Names.
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
Labels: Changes: UI, Changes: YML

#1583 IPCs Can Cryo Again
  Resources/Prototypes/Entities/Mobs/Player/silicon_base.yml
Labels: Changes: YML

#1588 Add Classic Asimov Laws
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1585 ChemMaster+
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1589 Remove Default Scream Action
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Shared/CCVar/CCVars.Misc.cs
Labels: Changes: C#, Changes: YML, Priority: 3-Medium, Size: 5-Very Small, Type: Port

#1590 Update CCVars.Misc.cs
  Content.Shared/CCVar/CCVars.Misc.cs
Labels: Changes: C#, Changes: YML

#1592 Network Configurator Fixes
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
Labels: Changes: C#, Changes: YML

#1586 Disable Blood Traits For Lamia
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: YML

#1593 Fix Airlock Error
  Content.Client/Electrocution/ElectrocutionOverlaySystem.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Shared/Electrocution/Components/ElectrocutionOverlayComponent.cs
  Content.Shared/Electrocution/SharedElectrocution.cs
  Content.Shared/Electrocution/SharedElectrocutionSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_metal.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Textures/Interface/Misc/ai_hud.rsi/apc_hacked.png
  Resources/Textures/Interface/Misc/ai_hud.rsi/electrified.png
  Resources/Textures/Interface/Misc/ai_hud.rsi/meta.json
Labels: Changes: C#, Changes: YML, Changes: Sprite

#1591 Resurrect The Build And Test Debug
  .github/workflows/build-test-debug.yml
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Commands/ActionsCommands.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/DebugMon/DebugMonitorManager.cs
  Content.Client/Decals/Overlays/DecalPlacementOverlay.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Mapping/MappingActionsButton.xaml
  Content.Client/Mapping/MappingActionsButton.xaml.cs
  Content.Client/Mapping/MappingDoNotMeasure.xaml
  Content.Client/Mapping/MappingDoNotMeasure.xaml.cs
  Content.Client/Mapping/MappingManager.cs
  Content.Client/Mapping/MappingOverlay.cs
  Content.Client/Mapping/MappingPrototype.cs
  Content.Client/Mapping/MappingPrototypeList.xaml
  Content.Client/Mapping/MappingPrototypeList.xaml.cs
  Content.Client/Mapping/MappingScreen.xaml
  Content.Client/Mapping/MappingScreen.xaml.cs
  Content.Client/Mapping/MappingSpawnButton.xaml
  Content.Client/Mapping/MappingSpawnButton.xaml.cs
  Content.Client/Mapping/MappingState.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.IntegrationTests/PoolTestLogHandler.cs
  Content.IntegrationTests/Tests/MappingEditorTest.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Mail/Systems/MailSystem.cs
  Content.Server/Mapping/MappingManager.cs
  Content.Shared/CCVar/CCVars.Vote.cs
  Content.Shared/CCVar/CCVars.Whitelist.cs
  Content.Shared/Customization/Systems/CharacterRequirements.Whitelist.cs
  Content.Shared/Decals/DecalPrototype.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Mapping/MappingMapDataMessage.cs
  Content.Shared/Mapping/MappingSaveMapErrorMessage.cs
  Content.Shared/Mapping/MappingSaveMapMessage.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/WhiteDream/BloodCult/Items/ShadowShacklesAura/SharedShadowShacklesAuraSystem.cs
  Resources/Locale/en-US/mapping/editor.ftl
  Resources/Locale/en-US/markings/lamia.ftl
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Maps/meta.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Maps/gaxstation.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/baseComputerModular.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
  Resources/Textures/Interface/eraser.svg
  Resources/Textures/Interface/eraser.svg.png
  Resources/Textures/Interface/eyedropper.svg
  Resources/Textures/Interface/eyedropper.svg.png
  Resources/keybinds.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: Map, Changes: YML, Status: Do Not Merge, Changes: Workflow

#1455 Adds Cohiba Robusto Cigars
  Resources/Locale/en-US/loadouts/itemgroups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/headOfSecurity.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Loadouts/Jobs/Security/headOfSecurity.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar1.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar2.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar3.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar4.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/cigar5.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/closed.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/case_robust.rsi/open.png
Labels: Changes: Localization, Changes: YML, Changes: Sprite

#1597 Hotfix Verbs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
Labels: Changes: C#, Changes: YML

#1596 Fix Hissing & Another Airlock Error
  Content.Client/Electrocution/ElectrocutionHUDVisualizerSystem.cs
  Content.Client/Electrocution/ElectrocutionOverlaySystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Shared/Electrocution/Components/ElectrocutionHUDVisualsComponent.cs
  Content.Shared/Electrocution/Components/ShowElectrocutionHUDComponent.cs
  Content.Shared/Electrocution/SharedElectrocution.cs
  Resources/Locale/en-US/random-barks/hissing.ftl
  Resources/Prototypes/DeltaV/Catalog/Shipyard/civilian.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: Changes: C#, Changes: Localization, Changes: YML

#1595 Update miningrock.yml
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
  Resources/Prototypes/DeltaV/Entities/Markers/Spawners/Random/miningrock.yml
Labels: Changes: C#, Changes: YML

#1600 1984 "Unobtainium Chemistry"
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: YML

#1601 Bruizine Lithium Change
  Content.IntegrationTests/Tests/CargoTest.cs
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: C#, Changes: YML

#1602 Consolidate Arsenal Research
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/DeltaV/Research/arsenal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Research/experimental.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: Localization, Changes: YML

#1603 Consolidate Civilian Research
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
Labels: Changes: Localization, Changes: YML

#1604 Arsenal Tacsuit Research
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/prototypes/entities/clothing/outerClothing/hardsuits.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/hardsuits.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: Localization, Changes: YML

#1605 Replace Tech Lockout With Softcap
  Content.Client/Research/UI/ResearchConsoleMenu.xaml
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/Research/UI/TechnologyCardControl.xaml.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/ResearchServerComponent.cs
  Content.Shared/Research/Components/SharedResearchConsoleComponent.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/research/components/research-console-component.ftl
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML

#1607 Fix Possible Loadout Related Crash
  Content.Server/Clothing/Systems/LoadoutSystem.cs
Labels: Changes: C#, Changes: YML

#1609 Augustine Lawset
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Changes: Localization, Changes: YML

#1608 Make CODEOWNERS
  .github/CODEOWNERS
Labels: Changes: YML

#1612 ATS V2
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: Map, Changes: YML

#1580 Modular Computers Part 2: Disk Burner
  Content.Shared/Construction/Components/ComputerBoardComponent.cs
  Content.Shared/_Arcadis/Computer/ComputerDiskComponent.cs
  Content.Shared/_Arcadis/Computer/ComputerDiskSystem.cs
  Content.Shared/_Arcadis/Computer/DiskBurnerComponent.cs
  Content.Shared/_Arcadis/Computer/DiskBurnerSystem.cs
  Content.Shared/_Arcadis/Computer/ModularComputerComponent.cs
  Content.Shared/_Arcadis/Computer/ModularComputerSystem.cs
  Resources/Locale/en-US/_Arcadis/modularComputer.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/baseComputerModular.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/computerDisk.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/computerDisks.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/diskBurner.yml
  Resources/Prototypes/_Arcadis/Entities/Objects/Computers/recipes.yml
  Resources/Prototypes/_Arcadis/tags.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Changes: Audio

#1613 Update CODEOWNERS
  .github/CODEOWNERS
Labels: Changes: YML, Status: Needs Review

#1614 Fix Fent Zombies in Medbay
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review
