Repository Simple-Station/Einstein-Engines, pull requests merged in 2025-07, with the labels that each got.

#2498 Profile Loading Extensions
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Cloning/CloningSystem.Utility.cs
  Content.Server/Clothing/Systems/LoadoutSystem.cs
  Content.Server/DeltaV/ParadoxAnomaly/Systems/ParadoxAnomalySystem.cs
  Content.Server/GameTicking/Rules/AntagLoadProfileRuleSystem.cs
  Content.Server/GameTicking/Rules/Components/AntagLoadProfileRuleCOmponent.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Traits/TraitSystem.Functions.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/_EE/Contractors/Systems/EmployerSystem.cs
  Content.Server/_EE/Contractors/Systems/LifepathSystem.cs
  Content.Server/_EE/Contractors/Systems/NationalitySystem.cs
  Content.Server/_Shitmed/StatusEffects/ScrambleDnaEffectSystem.cs
  Content.Shared/Humanoid/LoadProfileExtensionsEvent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Shitmed/GameRules/events.yml
Labels: Changes: C#, Changes: UI, Changes: YML, Status: Needs Review

#2455 [PORT] Tape Recorder
  Content.Client/DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/DeltaV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/DeltaV/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/DeltaV/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/DeltaV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/DeltaV/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/DeltaV/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/deltav/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Security/detective.yml
  Resources/Prototypes/CharacterItemGroups/Jobs/Service/reporter.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Service/reporter.yml
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: C#, Changes: Localization, Changes: UI, Changes: YML, Changes: Sprite, Status: Needs Review, Changes: Audio

#2501 Make All Jetpacks Go on Suit Storage + Combat First Aid Kit Easier to Find
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: Changes: YML, Status: Needs Review

#2492 Now You Can See if There's a Beaker in the Chemmaster
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_loaded.png
Labels: Changes: YML, Changes: Sprite, Status: Needs Review

#2499 PDA Passport Slots
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Shitmed/Body/Parts/cybernetic.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2506 Fix SpaceWindv5 Wall Smoothing
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.MAS.cs
Labels: Changes: C#, Changes: YML

#2508 Update ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2511 Disable Contraband Examine
  Content.Shared/CCVar/CCVars.Game.cs
Labels: Changes: C#, Changes: YML, Status: Needs Review

#2512 [Fix] Wizmerge
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_Lavaland/Shuttles/Systems/DockingShuttleSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: C#, Changes: YML

#2518 Species Swap: Shell
  Content.Server/Traits/TraitSystem.Functions.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/physical.yml
Labels: Changes: C#, Changes: Localization, Changes: YML, Status: Needs Review

#2515 Disabled Rule on Debug and Tool Builds
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
Labels: Changes: Config, Changes: YML, Status: Needs Review

#2519 Fixes For Shell Species Swap
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Shared/Speech/Components/VocalComponent.cs
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/Traits/species.yml
Labels: Changes: C#, Changes: YML, Status: Needs Review
